[2014-01-30 02:25] gesa opened #1 "Language choice over gender?"
`…regardless of gender,` would it make more sense/be more inclusive to represent this concept as `…regardless of gender presentation,` ?

Would this do anything to prevent transphobic attacks/vitriol?

[2014-01-30 03:04] #1 closed, assigned to nobody

[2014-01-30 14:50] dualbus opened #2 "'particant' typo in the code of conduct."
There's a typo that says 'If any particant' instead of 'If any participant' in the second paragraph of the code of conduct.

[2014-01-30 14:51] #2 closed, assigned to nobody

[2014-02-06 18:04] phinze opened #4 "Does a CoC for a project need to talk about harassment?"
In conversations about conference CoCs, drafts are often criticized for not having a few important parts:

* Definitions of unacceptable behavior (e.g. harassment)
* Repercussions for unacceptable behavior (e.g. we will kick you out)
* Methods for reporting instances of unacceptable behavior (e.g. contact info)

These make a lot of sense for a conference, but an open source project is not a confer

[2014-02-06 21:08] btford opened #5 "License?"
We're considering using this code of conduct for [AngularJS](https://github.com/angular/angular.js), but want to make sure we do so fairly. Would it be possible to adopt an open source license for this?

Something like the MIT or Creative Commons license would be great!

[2014-02-06 21:16] #5 closed, assigned to nobody

[2014-02-06 23:13] btford opened #7 "Tag versions"
It would be nice to be able to link to specific versions of the CoC on GitHub based on git tag.

[2014-07-04 10:01] tapeinosyne opened #17 "Thoughts and proposals on conduct, diversity, and enforcement"
As a collaborator of [Homebrew Cask](https://github.com/caskroom/homebrew-cask), I would like to offer some considerations on version 4.0 of the Contributor Covenant. Core maintainers @rolandwalker and @vitorgalvao might also wish to offer their thoughts.

After we first adopted the Contributor Covenant in February, I submitted some improvements that brought our CoC to v3.0b with caskroom/homebrew

[2014-07-05 16:22] patcon opened #18 "Version CoC with tags"
Thanks for the project! Just thinking that managing this doc with version tags like the semver doc does (or any software project) would help users easily check whether they're up-to-date :)

https://github.com/mojombo/semver/releases

[2014-11-21 22:20] cmsj opened #25 "More open-ended list of classifications?"
I think this is project is a very good idea.

One thing that popped into my head when I read the current version of the code, was that while the list of classifications (gender/race/sexuality/etc) seems to cover a lot of ground, I thought maybe the wording could be slightly more open-ended, to accommodate other areas of discrimination that aren't listed.

[2014-12-11 22:40] dstufft opened #26 "Website is hard to read"
This looks like a pretty good idea, however the design of the website makes it more difficult to read than need be. Looking at things like:

![image 2014-12-11 at 5 34 48 pm](https://cloud.githubusercontent.com/assets/145979/5403576/23f9a9ca-815c-11e4-9b3c-6786cc87b069.png)

Additionally the shifting colors feels kind of distracting while I was reading it and the final yellow color doesn't seem to

[2014-12-12 00:10] #26 closed, assigned to nobody

[2015-02-28 04:03] postmodern opened #38 "race vs. ethnicity?"
I found it odd how race is listed, but not ethnicity? It's a common mistake in North America to conflate the two.

[2015-02-28 04:04] CoralineAda commented on #38
Great suggestion, let me fix that.

[2015-02-28 04:08] CoralineAda commented on #38
Fixed, thanks so much!

[2015-02-28 04:08] #38 closed

[2015-02-28 04:10] postmodern opened #39 "unprofessional conduct?"
This stuck out as there is no strict definition of what professional and unprofessional behavior are. "Unprofessional" is open to interpretation and often used to label those from less privileged socio-economic levels.

[2015-02-28 04:12] CoralineAda commented on #39
The implication is that the examples explicitly listed are indicative of unprofessional behaviors but are not a comprehensive list. I’m open to suggestions as to how to clarify this further.

[2015-02-28 04:15] postmodern opened #40 "bullying and cyber-bullying"
I feel that bullying needs to be explicitly listed as an unacceptable behavior. Having maintained a few OSS projects, I have had to deal with contributors who would not take No for an answer. Instead of accepting my feedback, they instead escalated and argued with my in IRC.

[2015-02-28 04:15] postmodern commented on #39
I would clarify the wording with "including but not limited to".

[2015-02-28 04:24] postmodern opened #41 "lifestyle or creed?"
Would it be overkill to include "lifestyle"?

[2015-04-21 16:21] hadley opened #52 "Licensing"
It would be nice to make the licensing clear on http://contributor-covenant.org.  It's also not clear to me that the MIT license applies - it talks about software and documentation, which doesn't seem to apply here. Maybe a CC license would be more appropriate?

[2015-06-03 07:59] unixorn opened #53 "Doxing"
I think publishing someone else's contact information should be explicitly called out in the harassment clause.

[2015-06-18 22:34] scatpost opened #56 "Harassing maintainer should be removed from project"
CoralineAda is harassing members of other projects.  She does not value others as human beings and actively hampers an atmosphere of kindness, cooperation, and understanding if she does not agree with there personal offsite activity.

For the reasons of personal attacks, trolling, public harassment, insults, and other unprofessional conduct I request she be removed.

https://github.com/opal/opal/i

[2015-06-18 22:36] iFletcher88 commented on #56
Agreed

[2015-06-18 23:12] #56 closed

[2015-06-18 23:26] scatpost opened #57 "Appeal"
What is the appeals process?
I noticed some violations of your code of conduct and opened an issue in good faith as I was directed to in http://contributor-covenant.org/version/1/0/0/
However the person whom the issue was regarding closed and deleted the issue themself.

I find it wholly inappropriate for the subject of a complaint to be the one closing it with out comment.  This does not make me

[2015-06-18 23:51] #57 closed

[2015-06-19 06:09] krainboltgreene commented on #41
I would say those are both "choice" situations.

[2015-06-19 06:31] duncan-bayne opened #59 "Scope of "representing the project or its community"?"
Firstly, @CoralineAda, thank you for creating this.  On balance I think it's a Good Thing, and something that many communities, not just coding communities, would benefit from using.

I do have a question re. intent.  On [this Opal issue](https://github.com/opal/opal/issues/941), you said:

In the covenant:

Do you assume that the mere fact he identifies as an Opal contributor on his Twitter accou

[2015-06-19 07:29] neptyki2 commented on #59
This is the crucial point.

[2015-06-19 07:44] duncan-bayne commented on #59
Yes, which is why I'm asking for explicit clarification.

[2015-06-19 10:24] doublezeta commented on #41
And religion is not?

[2015-06-19 10:34] krainboltgreene commented on #41
Religion and some parts of personal appearance would also meet my "choice" criteria I think.

[2015-06-19 10:49] doublezeta commented on #41
CODE_OF_CONDUCT.md doesn't mention "choice" as a criteria. Will you submit a pull request to clarify that harassment is tolerated in "choice" situations?

[2015-06-19 11:13] postmodern commented on #41
Just because one chooses a certain lifestyle does not allow others to harass them, period. Religion is the obvious example, but what about vegetarianism, veganism, freeganism, car-free, anti-capitalist, DIY, etc lifestyles. Do these people not deserve our protection because they are somehow different from the authors of this CoC?

[2015-06-19 13:53] kerrizor commented on #59
While very nicely worded, I would point out that this repo is not the place for a discussion of issues within the opalrb project. This CoC is a living document, a starting place for a discussion around these issues within your community. I would suggest that you start a discussion there about what remediation steps your group would like to see happen.  Closing.

[2015-06-19 15:33] kerrizor commented on #53
I think this is a reasonable idea. Can you suggest some language?

[2015-06-19 15:51] krainboltgreene commented on #41
All I said was that those two examples you picked were choices. You two are extrapolating a lot from that.

[2015-06-19 16:13] mrseth opened #64 "Harassing maintainer should be removed from project"
CoralineAda is harassing members of other projects. She does not value others as human beings and actively hampers an atmosphere of kindness, cooperation, and understanding if she does not agree with there personal offsite activity.

For the reasons of personal attacks, trolling, public harassment, insults, and other unprofessional conduct I request she be removed.

opal/opal#941

[2015-06-19 17:41] postmodern commented on #41
I think it goes back to the old debate of "born this way" vs. "choice". However, some wisely point out that it doesn't matter how one comes to a conclusion about their identity.

[2015-06-19 17:42] postmodern commented on #41
I'm going to remove "politics", as some political ideologies are inherently oppressive.

[2015-06-19 18:18] amoffat opened #66 "Possible inconsistency with religion?"
I'm interested in the CoC, but this line stands out to me:

What if a contributor makes public statements that are consistent with their religious beliefs, but are hostile to another category like gender or sexual orientation?  Are they protected because the covenant does not discriminate against religion?  Or are they not protected because their beliefs are hostile to another group of people?

[2015-06-19 18:35] kerrizor commented on #41
Wiser people than us distilled this idea of "lifestyle and beliefs" or "imperative of living" down into "creed" - does that fit?

[2015-06-19 18:48] kerrizor commented on #66
No, because that is an impactful action. Here, a brief anecdote might clear this up:

[2015-06-19 19:42] amoffat commented on #66
@kerrizor makes sense.

On the other side of the coin:  if maintainers of a project make public pro-LGBT statements, and a potential contributor's religion teaches them that the LGBT community is "wrong" and "sinful", aren't those statements an impactful action that excludes them on the basis of their religion?

[2015-06-19 20:06] achadwick commented on #66
@amoffat Not never, but in practice almost certainly not.
It should depends on the nature of the statement and where the bigotry and power differentials lie.
Turning it around again, are *all* statements made in the exercise of one's faith necessarily exclusive of LGBTQ people? The answer to that is emphatically no.

-------------------

(Longwindedly answering the original question; apologies....

[2015-06-19 21:14] jamescostian opened #68 "Is a slight modification acceptable?"
I want to adopt the contributor covenant, however I would like to allow trolling. I was thinking of putting a line through the word "trolling" like so:

In addition, to ensure that people understand that I crossed out the word trolling (so they don't think that the Contributor Covenant condones trolling), I want to put up a sub-heading:

[code]

My only question is, would doing so be acceptable? W

[2015-06-19 21:20] CoralineAda commented on #68
That violates the spirit of the covenant, so I don't support it. But you're free to do whatever you want.

[2015-06-19 21:20] #68 closed

[2015-06-19 21:34] #64 closed

[2015-06-19 21:35] #59 closed

[2015-06-19 21:38] CoralineAda commented on #66
You can hold and speak about religious views without using language that harasses or belittles others. If you must be aggressive in your language, it's best to do that outside the purview of the project, unless those are the values that you are committed to as a project. In which case this CoC is probably not for you.

Make sense?

[2015-06-19 22:47] amoffat commented on #66
@CoralineAda I agree.

Mind leaving this issue open for a little while?  I'm interested in seeing more ideas on the topic.

[2015-06-19 23:38] doublezeta commented on #41
I don't think oppressive beliefs should warrant harassment either. Some people believe mainstream conservatism is oppressive, but there's tons of people who consider themselves conservatives. Imagine how shitty of a world we'd live in if they all had to live in fear of their lives.

[2015-06-20 00:34] postmodern commented on #41
If creed is the canonical term, I'll go with it.

[2015-06-20 00:37] postmodern opened #73 "Politics?"
Should politics be explicitly listed, along with age, race, gender, etc? Can politics be protected, or would that open a loophole for people to claim oppressive opinions (ex: racism) are political opinions.

[2015-06-20 00:38] postmodern commented on #41
@doublezeta I made a separate issue for politics. #73

[2015-06-20 01:48] doublezeta commented on #66
How can you compare beliefs to actions, such as swinging your arm at someone?

[2015-06-20 01:48] kerrizor commented on #73
No, I don't believe politics need to be protected.

[2015-06-20 01:51] doublezeta commented on #73
Why not?

[2015-06-20 01:52] postmodern commented on #73
Can someone be harassed due to political beliefs or is that just the nature of political discourse? Not all political ideas are sound or logical, so naturally there will be disagreement.

[2015-06-20 03:17] kerrizor commented on #73
Politics are a choice, and part of the structural and cultural traditions of engaging in politics is the exchange of ideas and free debate. You are clearly able to have your own ideas and to express them, but as in the previous case we discussed around lifestyle, your right to swing your arm ends at my nose -- you can have and express beliefs all you want, but you are not protected from ridicule f

[2015-06-20 03:20] kerrizor commented on #66
You are free to believe any mythology you desire, however when your actions based upon that belief impair the rights of others, you are crossing the line. You do not have a right to impose beliefs nor take action against others based on which church/temple/mosque/grove you go to.

[2015-06-20 03:23] kerrizor commented on #66
...that said, I don't believe it to be fair, honest, or admirable to discriminate *against* someone due to their beliefs, only upon their actions. Religion, while a choice, holds a special place in the American cultural and legal system (a country in which Coraline and I both hold citizenship.) Further, religious affiliation is treated as a protected class in America.

[2015-06-20 03:31] kerrizor opened #75 "v2 - Buffet-style sections"
One thing I'd like to see v2 incorporate is more of a "buffet style" format with suggestions about different solutions or wordings that people have to chose from; make projects actively DECIDE what their CoC is going to look like, rather than just slap this into their project and check a box without thinking about it.

[2015-06-20 03:55] doublezeta commented on #73
I don't get why choice keeps getting mentioned here. The code of conduct doesn't mention choice as a guideline, it says everyone should be free of harassment regardless. "Choice" is a very vague and confusing term to base basic human decency on.

[2015-06-20 04:04] doublezeta commented on #73
I'll add as a separate thought that some of the identities mentioned in the code of conduct md are not clearly a part of the "not a choice" category. Body weight, for most people is a part of your lifestyle choices about diet and physical fitness. There are some genetic disorders that influence it, but for most people it is within your control whether to be healthy or unhealthy. We don't know why

[2015-06-20 04:52] kerrizor commented on #73
Choice isn't a guideline, except in the understanding of the nature of legal protections for discrimination. A Code of Conduct isn't meant to be a primer in law, ethics, or morals; you have to bring education and a willingness to engage to the table.

[2015-06-20 14:44] strand commented on #4
I believe this issue can be closed as we have integrated enforcement language.

[2015-06-20 14:45] strand commented on #7
I believe this issue can be closed as we now use canonical URLs for the Covenant.

[2015-06-20 14:49] strand commented on #18
@CoralineAda I was looking at the commit history and had difficulty discerning when our version bumps happen. If you get a moment would you go through and tag version numbers?

[2015-06-20 14:51] strand commented on #17
I believe this is exactly what is going on in the opal.rb project. :disappointed:

[2015-06-20 14:52] strand commented on #25
Since this issue was created we have specified a broader range of categories of discrimination. I believe we can close this.

[2015-06-20 14:57] strand commented on #39
@postmodern I went through a thesaurus chain, and most alternatives aren't much better, but would any of these work?

- unethical
- unprincipled
- untrustworthy
- irresponsible
- unaccountable

I agree this should be updated, as we're not trying to discourage amateurs, but instead discourage jerks.

[2015-06-20 15:01] strand commented on #40
I have created PR #79 to address this.

[2015-06-20 15:06] strand commented on #41
Hmm… I associate creed with "race, creed, or color" and specifically I believe creed extends to religious beliefs.

[2015-06-20 15:09] dimerman commented on #25
I added a pull request to cover nationality #78

[2015-06-20 15:13] strand commented on #53
@unixorn do you feel comfortable closing this and continuing the discussion on #65?

[2015-06-20 15:16] strand opened #80 "Should README specify which version various projects are using?"
We currently list a lot of projects which use to Contributor Covenant. However, many of them are on previous versions, or have adapted their on code of conduct based on the Contributor Covenant. Should we break the list apart based on version adopted?

[2015-06-20 15:56] kerrizor commented on #41
Sure.. I've seen it as "set of beliefs"

[2015-06-20 16:21] strand commented on #41
I think key to this is we are specifying harassment-free space, and further specifying that this does not exclude people based on their beliefs, but their actions. Stating one's beliefs should not exclude people, harassing others based on one's beliefs should, and unfortunately making this line less fuzzy is hard.

[2015-06-20 16:29] wuest commented on #80
Seconded.  Scripting out periodic discovery/update shouldn't be too difficult in nearly all cases, either.

[2015-06-20 18:44] #25 closed

[2015-06-20 18:44] cmsj commented on #25
@strand thanks :)

[2015-06-20 19:30] postmodern commented on #41
I think for a CoC to be effective, it should either be explicit or open ended. Listing some groups and some forms of harassment puts us in an awkward state somewhere between explicit and open ended. Either we should try to list as many groups as possible (so we do not make them invisible), or we should remove the line entirely and focus instead on forms of harassment.

[2015-06-20 19:35] postmodern commented on #73
It's confusing to me that religion is listed, but politics is not? Many of the arguments against adding politics could also be applied to religion.

[2015-06-20 19:48] webmaven commented on #66
How about covering atheists as well by changing 'religion or lack thereof'? I can make this a separate issue if you like.

[2015-06-20 20:32] postmodern commented on #39
I'm not sure what the original intention was for listing unprofessional, but I'm going to guess that it was to cover raunchy humor that while isn't derogatory still makes some feel uncomfortable. Things like sexual images, sophomoric jokes, etc. The problem with "unprofessional" is it assumes there's some kind of generally accepted standard of how professionals behave. What complicates things even

[2015-06-21 19:34] duncan-bayne commented on #75
A suggestion: this could be done in software.  E.g. a tool (probably web-based) that allows project owners to pick & choose which values and areas are important to them, and then generates a CoC to use.

I'm imagining something like this:

https://github.com/RailsApps/rails-composer#build-your-own-application

[2015-06-21 20:19] kerrizor commented on #75
Another tool that does something similar: https://creativecommons.org/choose/

[2015-06-21 21:27] unixorn commented on #53
I'm hesitant to close the issue because until #65 is merged, it isn't fixed.

[2015-06-21 21:39] CoralineAda commented on #73
I'm adding "political affiliation" to 1.2.0.

[2015-06-21 21:39] #73 closed

[2015-06-21 21:40] CoralineAda commented on #53
Adding this language to 1.2.0.

[2015-06-21 21:40] #53 closed

[2015-06-21 21:40] CoralineAda commented on #39
Adding "unethical" to 1.2.0.

[2015-06-21 21:41] #39 closed

[2015-06-21 21:51] CoralineAda opened #84 "1.2.0 Open for Comments"
Refer to pull request https://github.com/CoralineAda/contributor_covenant/pull/83

[2015-06-21 21:52] CoralineAda commented on #66
Refer to PR https://github.com/CoralineAda/contributor_covenant/pull/83

[2015-06-21 21:52] CoralineAda commented on #73
Refer to PR https://github.com/CoralineAda/contributor_covenant/pull/83

[2015-06-21 21:52] CoralineAda commented on #39
Refer to PR https://github.com/CoralineAda/contributor_covenant/pull/83

[2015-06-21 21:53] CoralineAda commented on #53
Refer to PR https://github.com/CoralineAda/contributor_covenant/pull/83

[2015-06-21 22:11] #66 closed

[2015-06-22 10:12] skade opened #85 "Contacts"
When creating the ([Berlin Code of Conduct](https://github.com/rubyberlin/code-of-conduct), feedback very welcome), we decided to encourage people to provide contacts to speak to in case of problems (possibly with email and/or phone number).

I think it would make sense to clarify who the people in a project that handle CoC issues are and to encourage that.

Would such an addition to the website m

[2015-06-22 11:07] emiln opened #86 "Satirical use of your CoC"
I have a question regarding appropriate use of and reference to the Contributor Covenant project.

As one of the maintainers of the satirical [FBEE](/EnterpriseQualityCoding/FizzBuzzEnterpriseEdition) project, which highlights and embodies some of the follies that large Enterprise software projects may succumb to, I would like to add the Contributor Covenant code of conduct to our project. This wo

[2015-06-22 16:07] EndangeredMassa opened #87 "Better Diffs"
I love that the website has direct URLs for different versions, but the source code being structured this way makes it difficult to see actual diffs. Reviewing things like https://github.com/CoralineAda/contributor_covenant/pull/83 is therefore much more difficult.

I assume it is set up this way because the project uses Github Pages, making this easy to deploy. Is there a way to maintain that val

[2015-06-22 18:01] postmodern commented on #73
:clap:

[2015-06-23 13:11] joliss opened #90 "Unwelcome sexual attention"
I'd like to suggest adding

* The use of sexual language or imagery, **as well as unwelcome sexual attention**

Real example: A meetup organizer started hitting on me. I asked him to stop. He didn't, and continued for the duration of the evening.

For me personally, this is one of the most important things I look for in any CoC. [Confcodeofconduct.com](http://confcodeofconduct.com/) already covers

[2015-06-23 13:36] joliss commented on #73
It's obviously up to you, @CoralineAda, but I'd like to add my 2 cents:

In my professional life, I haven't encountered a case where I thought someone was being discriminated against based on political affiliation. Maybe you have though?

I *have* seen a lot of people saying "I'm against SJWs and you're discriminating against me due to my political beliefs". I worry that having "political affiliat

[2015-06-23 18:35] postmodern commented on #73
I like how @CoralineAda specified "political _affiliation_". You are free to be affiliated to a political party or ideology, but that doesn't mean you are free to impose those ideas on others nor does it protect those ideas from critique. This applies equally for both ends of the political spectrum. Also, bigotry is not a political ideology.

[2015-06-24 04:30] webmaven commented on #90
:+1:

[2015-06-24 11:58] doublezeta commented on #73
@joliss, you have never heard of someone being fired or discriminated against for their beliefs?

[2015-06-24 14:09] doublezeta commented on #90
"Do you want to go out sometime?"

"No I don't"

Is person A now kicked off the project?

[2015-06-24 16:18] webmaven commented on #90
@doublezeta:

Not if person A actually takes 'no' for an answer. There has to be *some* socially acceptable way of determining whether attention is (or would be) unwelcome. Personally, I'd suggest starting even lower-key, like,  "Hey, want to have lunch together?"

Person A needs to be able to 'take a hint', but Person A also really needs to ask in a way that such a hint may be given by Person B w

[2015-06-24 16:31] webmaven commented on #90
There is also the time-worn "group social activity" as a starting point:

A: "A bunch of us are going out to see $LATEST_BLOCKBUSTER MOVIE, wanna join us?"

B: "Only if C isn't going, He/She gives me the creeps"

A: "I'm not sure, someone else may have invited C, I'll let you know ASAP."

Which provides A the important information that A doesn't give B the creeps *yet*, and a warning to A not to b

[2015-06-27 11:56] joliss commented on #90
My opinion for the record: My test for "socially acceptable" is whether the receiver thought it was unwelcome.

[2015-07-16 06:51] emiln commented on #86
This is just a gentle nudge to let you know that I am still interested in using your license for the [FizzBuzzEnterpriseEdition](/EnterpriseQualityCoding/FizzBuzzEnterpriseEdition) project, and that I hope you will come to a decision about your willingness to condone such use. I will take the liberty of using your CoC in good faith if no rejection is presented within a month of my original issue b

[2015-07-17 04:49] CoralineAda commented on #86
The reason I’m ambivalent is the possibility of the interpretation of the CoC as part of the satire, but I defer to your judgement.

[2015-07-17 04:52] CoralineAda commented on #86
Perhaps you could introduce it using language like this:

“Although this project is intended as satire, we take openness and inclusivity very seriously. To that end we have adopted the following code of conduct.”

?

[2015-07-17 08:35] emiln commented on #86
Thank you for your reply. I have been discussing the inclusion of Contributor Covenant with the other maintainers of FBEE, and I believe your suggestion is workable. I will summarize our thoughts below to ensure there are no misunderstandings.

I will refer to the following statement as "the preface" throughout this post:

## Your intention

1.  You want the inclusion of Contributor Covenant to be

[2015-07-17 13:15] CoralineAda commented on #86
Sounds good to me. Thanks for the thorough thought process.

Best,
Coraline

[2015-07-20 07:46] #86 closed

[2015-07-31 11:15] eirslett opened #106 "CoC comparisons"
Apache also has a code of conduct.
Is there a simple guide out there that compares various open source code of conducts? It's not that easy to spot the differences.

[2015-07-31 13:53] gortok commented on #73
@CoralineAda From how I read your comment, you added 'political affiliation' to V1.2; but I can't seem to find it in PR #83. Was it dropped?

[2015-07-31 13:55] CoralineAda commented on #73
Yes, I changed my mind about political affiliation. The point is to protect underrepresented and/or underprivileged populations, and I don’t think that people are generally oppressed for their political affiliations.

[2015-07-31 14:02] gortok commented on #73
@CoralineAda Thanks.  I brought it up because I fear the 'internet mob' will find its way into situations where people are persecuted for their beliefs instead of their actions.  What got me thinking about it was this recent NPR snippet on digital mobs: https://twitter.com/ggreenwald/status/625267060059295745  I've seen it happen in a few places already; and was hoping the Covenant would protect m

[2015-09-23 16:53] jdax commented on #106
GeekFeminism wiki has a good guide for some open and available CoC's. http://geekfeminism.wikia.com/wiki/Code_of_conduct_evaluations

[2015-09-28 19:46] vgturtle127 commented on #90
I suppose an open-source project or public events aren't a good place for this kind of stuff anyway, so you could just say no use of anything sexual period.

[2015-09-28 19:47] vgturtle127 commented on #106
I think we can close this?

[2015-09-28 19:58] #106 closed

[2015-09-29 11:34] neonichu opened #125 "Clarification of individuals representing the project"
At CocoaPods, we had a bit of a discussion of clarifying the section on when individuals are representing the project and chose to clarify the difference between core contributors and occasional ones:

(see also https://github.com/CocoaPods/CocoaPods/commit/ceaeeb6e6c5c543c7095b99243c625701dc6d1a7)

Maybe it makes sense to add this to the canonical version in some form?

[2015-09-29 13:19] sigmavirus24 commented on #125
So I don't disagree that it helps to be explicit. I'm not sure it is necessary because someone will read this as "only core contributors". I'm also curious why you added "actively". How would someone represent a project without activity?

[2015-10-11 15:50] souravsingh commented on #52
I would like to work on the Licensing part.How Do I Start?

[2015-10-11 16:02] CoralineAda commented on #52
souravsingh, if you wanted to research, document, and recommend creative commons licenses that would maybe be a way to contribute?

[2015-10-19 18:39] mikemorris commented on #39
The term "unprofessional" is problematic, not because of "the line between raunchy and offensive" but rather because it has historically been used to enforce discriminatory practices by employers like [a ban on speaking Spanish in the workplace](http://www.avvo.com/legal-answers/is-it-workplace-discrimination-when-your-manager-s-2146171.html) or [hairstyle standards](http://www.ebony.com/style/fig

[2015-10-21 22:27] CoralineAda opened #132 "Review version 1.3.0"
https://github.com/CoralineAda/contributor_covenant/pull/131

[2015-11-03 00:29] #132 closed

[2015-11-03 00:40] kerrizor opened #136 "Automate notifications of new versions"
Like, there should be some kind of way for projects who adopt this to get a notification when a new version is released.

[2015-11-13 11:11] Schwad commented on #136
How about a Slack integration that pings the specified channel whenever a change happens to this repository, or specifically when the version is updated?

[2015-11-18 15:28] spl opened #138 "Be more specific about problems with contributing"
Consider the following text from the website:

_Insensitive language, thoughtless use of pronouns, projects with sexualized or culturally inappropriate names, and **side effects of the pervasive cult of meritocracy** make contributing to open source a daunting prospect for many people._

Each of the offered problems is quite specific, except for the one in bold. It is not clear what side effects a

[2015-11-18 17:36] meteficha commented on #90
@vgturtle127 I'm curious, why aren't these good places?  You're meeting like-minded people, I've never seen anyone dispute the fact that it's a great place to make new friends.  Why is it acceptable to meet friends but not lovers?

[2015-11-18 18:06] sigmavirus24 commented on #90
@meteficha I think you're missing the point of "Unwelcome sexual attention". In general, professional contexts (which open source is in a constantly increasing number of cases) are great for friends, but not for making comments on a person's sexual habits, appearance, availability, etc.

It's widely recognized that unwelcome sexual attention in the workplace is not acceptable. The same is and shou

[2015-11-18 20:46] CoralineAda commented on #138
I've added links to clarify my statements on meritocracy.

[2015-11-18 20:46] #138 closed

[2015-11-18 20:48] CoralineAda commented on #125
I like the sentence clarifying the role of core contributors and will add this to version 1.4.

[2015-11-18 20:48] #84 closed

[2015-11-18 20:50] CoralineAda commented on #85
I've added a place in 1.3 that adopters can use to fill in the appropriate contact info. Thanks for the suggestion!

[2015-11-18 20:50] #85 closed

[2015-11-19 01:15] OpenSorceress commented on #90
The key word here is "unwelcome." Anyone who can't reliably distinguish what "unwelcome" means might probably want to resolve that before proceeding in any kind of romantic direction, open source project or otherwise. Just saying.

[2015-11-19 14:56] webmaven commented on #90
@sigmavirus24 & @OpenSorceress, :+1:

[2015-11-19 14:59] webmaven commented on #90
So, @joliss, do you want to submit a PR?

[2015-11-20 10:57] joliss commented on #90
I'd be happy to take a stab of integrating this into the language. @CoralineAda, what's your general opinion on this?

[2015-11-20 22:34] vgturtle127 commented on #90
@meteficha Very true, you're right.

I suppose what I meant was strictly for online? Just a thought.

[2015-11-20 23:58] CoralineAda commented on #90
@joliss I am 100% in favor of this. Have at it.

[2015-11-23 14:50] beporter opened #139 "Translations?"
Forgive me if this is a naive question. The Contributor Covenant appears to only be available in English. Would it make sense to offer it other languages as well? I realize there is usually non-trivial effort involved in maintaining translations.

[2015-11-23 14:52] CoralineAda commented on #139
I would love to make it available in other languages.

[2015-11-23 15:10] CoralineAda opened #140 "Spanish translation"

[2015-11-23 15:10] CoralineAda opened #141 "French translation"

[2015-11-23 15:11] CoralineAda commented on #139
I've opened issues #140 and #141 for Spanish and French. I would love to have some other languages represented as well!

[2015-11-23 19:26] michalsapka opened #142 "Polish translation"
I'm working on it:
https://github.com/michalsapka/contributor_covenant

[2015-11-23 23:22] danielfbento commented on #139
@CoralineAda did you know if someone is doing a Portuguese version? I want to give it a try.

[2015-11-23 23:37] CoralineAda commented on #139
Please do!

[2015-11-25 01:28] danielfbento commented on #139
@CoralineAda added #147 for Portuguese Translation.

[2015-11-26 03:45] beporter commented on #139
Book keeping: Also linking to #142 for the Polish translation.

[2015-11-26 04:10] beporter commented on #140
Safe to close?

[2015-11-26 04:11] #140 closed

[2015-11-26 04:12] beporter commented on #142
Resolved by #146? Safe to close?

[2015-11-26 04:13] beporter commented on #141
Resolved by #143? Safe to close?

[2015-11-26 04:22] #142 closed

[2015-11-26 04:23] #141 closed

[2015-11-26 04:23] CoralineAda commented on #141
Thanks for the housekeeping, Brian!

[2015-11-26 04:25] beporter commented on #141
I can't speak another language well enough to contribute a translation myself-- this is the least I can do!

[2015-11-26 15:08] spl commented on #138
Thanks! That helps. I learned some things, too. :smile:

I still think it would be better to explicitly list any particular problems (as you do leading up to “side effects”) rather than link to other references.

1. Not everybody has the same thing in mind regarding the meaning of “meritocracy,” and not everybody will do their due diligence to read the many references given. Even the various artic

[2015-11-26 15:13] spl opened #150 "Add website link to GitHub project page"
I think you should add the link contributor-covenant.org to the top of the GitHub project page, right next to the project summary. It's quicker to find it there than scrolling down through the README.

[2015-11-26 17:55] CoralineAda commented on #150
Fixed!

[2015-11-26 17:55] #150 closed

[2015-11-27 10:51] spl commented on #150
Looks great. Thanks!

[2015-11-27 10:54] spl commented on #138
The issues are clearer after bda51f6. Much appreciated.

[2015-11-27 18:37] CoralineAda opened #151 "Japanese translation"

[2015-11-27 18:38] CoralineAda opened #152 "German translation"

[2015-11-27 18:38] CoralineAda opened #153 "Russian translation"

[2015-11-27 18:39] CoralineAda opened #154 "Japanese translation"

[2015-11-27 18:39] #154 closed

[2015-11-28 02:11] adamlwalker opened #155 "lack of sexual orientation - non-sexuality"
I would like to suggest adding:

 sexual orientation, non-sexuality

Asexuality is to be "without sexuality" in the same way that Atheism is to be "without theism". i.e It is not a sexuality any more than atheism is a religion. There are certainly debates within the Asexual community (AVEN, which is a umbrella group, calls it a orientation) but overall the general feeling is that Gray-A is a sexua

[2015-11-28 02:25] CoralineAda commented on #155
Would "sexual orientation or identity" satisfy this?

[2015-11-28 02:45] adamlwalker commented on #155
It's a tough question. My gut reaction is that identity feels like another word for orientation, it just doesn't sit right. In the same way a person can not believe in a religion or deity but also not identify as agnostic or atheist. The caveat being you are born asexual (non-sexual).

I messaged a friend on facebook with the question who suggested I copy/paste the google wiki result:

Asexuality

[2015-12-01 01:44] erikd commented on #138
:+1:

[2015-12-03 17:52] IAMFELIPEMATTOS opened #162 "Translate for portuguese (PT-BR)"

[2015-12-03 18:31] KaraAJC commented on #136
How is it known that projects adopt the covenant? If it's from here, i agree, it could be based on this github, or from forks.. some reminder to update their version of the covenant on their projects... I'd love to help if i can! trying to do 24PullRequests :)

[2015-12-03 18:32] KaraAJC commented on #80
this other issue is related: #136

[2015-12-03 18:52] CoralineAda commented on #162
Are you working on this @IAMFELIPEMATTOS ?

[2015-12-03 19:01] IAMFELIPEMATTOS commented on #162
yep, i'm translating into portuguese the brazil the files >
README.md, CONDUTE_OF_CODE.md and index.html

what you think?

[2015-12-03 19:10] CoralineAda commented on #162
It should be code_of_conduct.md, code_of_conduct.txt, and index.html. I recommend doing the markdown first so that you don't have to make edits in three documents as you proceed.

[2015-12-03 19:26] CoralineAda commented on #162
@IAMFELIPEMATTOS See https://github.com/CoralineAda/contributor_covenant/pull/161

[2015-12-03 19:39] IAMFELIPEMATTOS commented on #162
oh shit!
I didnt see this issue

[2015-12-03 19:56] IAMFELIPEMATTOS commented on #162
alright, I going close the issue.

I will review the proposed translation

[2015-12-03 19:57] #162 closed

[2015-12-03 22:14] DavidMikeSimon commented on #155
Perhaps "sexual orientation (or lack thereof)"? That may be a bit too legal-sounding, but it does make the option of non-identification directly explicit.

[2015-12-05 20:16] roseaboveit opened #165 "What help is wanted?"
On 24 pull requests this project is listed with the tag "help wanted"

Would it be possible to make a wish-list in the issues tab and tag them with "enhancement" or "bug" or some other tag to help folks contribute?

[2015-12-05 22:15] CoralineAda opened #166 "Design help"
The design of the site is pretty plain right now. I'd love to give it a more polished appearance. What are your ideas?

[2015-12-05 22:16] CoralineAda opened #167 "Code of conduct generator"
Create a single-page app (Javascript?) that accepts the following inputs:

* Language (e.g. English, German, etc.)
* Contact email

And generates a customized code of conduct that can be cut and pasted.

[2015-12-05 22:19] CoralineAda opened #168 "Script to detect versions"
Using the query below, scrape adopter sites to determine what version of contributor covenant is being used. If the version is not 1.3, collect the email address associated with the project as well as the project name and generate a CSV file with this information that I can use to notify projects of the updated version.

https://github.com/search?l=markdown&q=%22contributor+covenant%22&ref=searchr

[2015-12-05 22:19] CoralineAda commented on #136
See #168

[2015-12-05 22:21] CoralineAda opened #169 "An easier way to register a project"
Currently projects must submit a pull request to be added to the list of adopters. Maybe there's an easier way to do this? I'd be open to a small form that accepts the project URL and name and saves it in a database.

[2015-12-05 22:22] CoralineAda commented on #165
Hi, I've opened a series of issues with the enhancement tag. Thanks for suggesting this!

[2015-12-05 22:22] #165 closed

[2015-12-05 22:23] CoralineAda commented on #169
Note that this would require migrating from a static site to a Rails application, which I am open to.

[2015-12-05 22:43] #169 closed

[2015-12-06 04:35] CoralineAda commented on #166
If you take this issue you might want to send a mockup before you get too far. :)

[2015-12-06 04:46] CoralineAda opened #170 "Japanese translation requested"
Someone jump in! :)

[2015-12-06 05:08] adamlwalker commented on #155
I think the issue with lack came up in a previous issue. Lack carries with it the connotation that you don't have enough of something you are suppose to have.

[2015-12-06 19:43] Charlotteis commented on #170
Looks like this is a duplicate of #151!

[2015-12-06 19:44] CoralineAda commented on #170
Eep, good catch!

[2015-12-06 19:44] #170 closed

[2015-12-07 15:40] souravsingh commented on #151
I have familarity with Japanese.I would like work on this.

[2015-12-10 21:52] vaihtovirta commented on #153
Hello @CoralineAda! I just start working on this, I'll add my PR shortly.

[2015-12-10 21:56] CoralineAda commented on #153
Beautiful, thank you!

[2015-12-19 01:51] CoralineAda opened #181 "Add enforcement guidelines to the site"

[2015-12-22 13:48] plfstr opened #183 "<head> title issue"
Page title outside the head `</head><title>...`

[2015-12-23 12:41] plfstr opened #186 "hreflang attributes on translation links"
You could add `hreflang` to the links in the HTML to help search engines identify the translations. See here https://support.google.com/webmasters/answer/189077?hl=en

[2015-12-23 15:46] #183 closed

[2015-12-23 16:00] CoralineAda commented on #186
Great idea! This is implemented now.

[2015-12-23 16:00] #186 closed

[2015-12-26 21:29] heliohead opened #188 "Encoding of translations"
Need to add encoding on html translations.

tks :+1:

[2015-12-30 17:53] civodul opened #191 "Refering to "Free software""
Hello,

I would like to suggest that the home page at contributor-covenant.org refer to "free software" rather than "open source".  The reason is that I think we should frame things in terms of user freedom; that seems pretty much in line with the humanist focus of the Covenant.

Thoughts?

Ludo'.

[2015-12-30 18:51] achadwick commented on #191
There have been arguments about the naming since forever: <https://en.wikipedia.org/wiki/Alternative_terms_for_free_software>. I too prefer "Free", FWIW.

It could be glossed/explained inline. “Free, Libre, or Open Source software has always…” or similar. I think that works, because the distinctions are sort of meaningless for a social code of conduct.

I might write

because I like to play with <

[2015-12-30 21:13] civodul commented on #191
Andrew Chadwick <notifications@github.com> skribis:

Exactly.  When talking about social justice, I think it makes sense to
choose the phrase that emphasizes it most.

[2015-12-31 02:55] #191 closed

[2015-12-31 11:45] civodul commented on #191
It's unfortunate that only one occurrence in the middle of the text is changed, IMO.  I would like to see the title changed.  WDYT, @CoralineAda ?

(Perhaps it sounds like the good old argument again, but I don't think it's anecdotal; it's about [human values](https://www.gnu.org/philosophy/open-source-misses-the-point.html).)

[2015-12-31 13:56] sigmavirus24 commented on #191
@civodul would you be satisfied if it was explained that occurrences of 'Open Source' are used to reference Free, Libre, and Open Source projects without resorting to acronyms and without repeating that lengthy name unnecessarily?

In my opinion, the title is fine as it is.

[2016-01-13 05:32] PeterDaveHello opened #202 "Traditional Chinese translation"

[2016-01-20 08:56] xzyfer commented on #18
I just ran into this myself. GitHub release make this easy and watchers get notified of new releases which addresses #136

[2016-01-20 12:47] amacgregor opened #210 "What constitutes representing the project or community?"
when an individual is representing the project or its community.

This section of the code of conduct needs to be further defined and clarified;  as it is too vague and open to interpretation.

Ideally, there should clear guidelines of where and when this CoC is and should be enforced.

I hope that makes sense, more than happy to clarify if it doesn't.

[2016-01-20 15:47] CoralineAda commented on #210
It’s intentionally vague. This is one of those things that is left to project maintainers’ discretion.

[2016-01-23 14:40] sevenseacat commented on #210
It sounds like it would be a good idea to add that as an instruction step for implementing the Covenant then - to get project maintainers to set and specify those boundaries clearly, just as they are asked to set a contact email address.

None of the implementations I've seen have done this.

[2016-01-23 16:53] adulau opened #217 "Free software licensing and "code of conduct""
Thank you for your initiative.

When reading the code of conduct, I was wondering what is the legal implication and especially compatibility with free software licensing (as described by the FSF or the OSI) when using the code of conduct. Especially the following section:

[code]

It's very common for free software projects to include email address, name of contributors without explicit consent. A

[2016-01-23 18:48] achadwick commented on #217
Information which is freely given in the form of a copyleft statement comes with only implicit permission to redistribute, it sure. The associated license encourages copying and transitive licensing, and when such copying happens requires copying of the original copyleft statement unmodified.

However, the information is no longer private if the contribution was published online publicly by its au

[2016-01-23 18:57] achadwick commented on #217
Self-deprecating humour is fine, provided it doesn't do splash damage¹. Most CoC enforcers would surely allow a comment like the above even though it's an immutable copyright statement. Despite it not being the person's full legal name: some people need to use 'nyms for basic safety.

However, to hypothetically extend the example above, if the person was comparing their appearance to stereotypical

[2016-01-24 05:44] sigmavirus24 commented on #217
Hi @adulau

I think there's a misunderstanding here that might be based in the fact that there's nuance to this statement in the covenant that requires some knowledge of harassment techniques online.

When harassing a person, it is common to "dox" them by obtaining addresses (physical or electronic), government issued identification numbers (Social Security Numbers, etc.), and information about th

[2016-01-24 07:35] kemitchell commented on #217
Conversation has taken a different direction, but I'd like to point out a parallel to the concerns behind [the new subsection (d) of the Developer's Certificate of Origin added in version 1.1](http://developercertificate.org/). Kernel Trap covered the change [in a writeup](https://web.archive.org/web/20120409135119/http://kerneltrap.org/node/5277) that mentions UK data privacy law in particular.

[2016-01-26 02:57] #181 closed

[2016-01-26 02:58] CoralineAda commented on #155
I'm leaning toward "sexual identity and orientation"

[2016-01-26 03:45] CoralineAda commented on #210
See #226

[2016-01-26 03:45] #210 closed

[2016-01-26 03:45] CoralineAda commented on #155
See #226.

[2016-01-26 03:45] #155 closed

[2016-01-26 03:46] CoralineAda commented on #125
See #226.

[2016-01-26 03:46] #125 closed

[2016-01-26 03:46] CoralineAda commented on #90
See #226.

[2016-01-26 03:46] #90 closed

[2016-01-26 03:46] #4 closed

[2016-01-26 03:47] CoralineAda opened #227 "Provide a diff of 1.3 and 1.4"

[2016-01-26 07:02] davidcelis opened #229 "Should we reword the bit about temporary or permanent removal of someone from a community?"
Hey, Coraline! First off, a huge thanks from me and many others for what you've done with the Contributor Covenant. IMO, you're a hero. I've involved myself in a number of conversations on the adoption of this CoC for open source projects, the latest being Ruby. I am very much in favor of this code of conduct being adopted in more communities. The opposition to this CoC gets really crazy, and a lo

[2016-01-26 07:09] phedinkus commented on #229
I'd also like to say I'd love to see more talk about making amends in some way. What path can a person take to correct mistakes they might make? Some situations aren't always so black and white and I'm sure people get nervous they might make a mistake that will cause them to be banned. It seems super scary.

[2016-01-26 11:31] alexwlchan commented on #167
I have a few ideas here -- I'm going to try something this evening and see how I get on.

[2016-01-26 16:43] parkr commented on #229
Yeah, I was a bit of confused about whether I should take the concerns to the accused and ask them to explain themselves first? Do they have a "right to face accuser" or "right to defend themselves"?

[2016-01-26 18:33] alexwlchan commented on #167
Here’s a very rough prototype: http://alexwlchan.net/experiments/covenant/

Is this the sort of thing you had in mind?

Code is in my fork, in the [awlc/cyoc](https://github.com/alexwlchan/contributor_covenant/tree/awlc/cyoc) branch. It’s a Python script that pulls in all the pieces, then dumps out a static blob of HTML. Lots of hard-coding and hackiness, but I think it works.

[2016-01-27 10:54] agrimm opened #232 "Forms of discrimination occurring in Japan"
I really wish I wasn't intervening here, and that Japanese people were raising this point instead, but I'm doing so because I think that a code of conduct from this repository may be adopted by the Ruby language community in the near future.

The forms of discrimination listed here are those that are prominent forms of discrimination occurring in the United States. Without trying to shame countrie

[2016-01-29 01:36] parkr commented on #227
@CoralineAda We (Jekyll) recently updated our CoC to Contributor Covenant v1.3. Is there a diff between the two? Thanks for making this! I personally feel it's as important to FLOSS as laws are to nations.

[2016-01-29 03:51] CoralineAda commented on #227
https://github.com/ContributorCovenant/contributor_covenant/blob/v1_4/diffs/1_3_vs_1_4.patch

[2016-01-29 03:51] #227 closed

[2016-01-30 22:04] CoralineAda commented on #87
I've created diff files now, available in the 'diffs' folder.

[2016-01-30 22:04] #87 closed

[2016-01-30 22:06] CoralineAda commented on #18
Done

[2016-01-30 22:06] #18 closed

[2016-01-30 22:27] #151 closed

[2016-01-30 22:27] #139 closed

[2016-01-30 22:29] #166 closed

[2016-01-30 22:32] CoralineAda opened #234 "Version 1.4 Spanish Translation"
Version 1.4 needs a Spanish translation. See the diff at https://github.com/ContributorCovenant/contributor_covenant/blob/master/diffs/1_3_vs_1_4.patch.

Attn @mayra-cabrera

[2016-01-30 22:33] CoralineAda opened #235 "Version 1.4 French Translation"
Version 1.4 needs a French translation. See the diff at https://github.com/ContributorCovenant/contributor_covenant/blob/master/diffs/1_3_vs_1_4.patch.

Attn @brunogirin @thegcat @jmettraux

[2016-01-30 22:34] CoralineAda opened #236 "Version 1.4 Italian Translation"
Version 1.4 needs an Italian translation. See the diff at https://github.com/ContributorCovenant/contributor_covenant/blob/master/diffs/1_3_vs_1_4.patch.

Attn @jodosha

[2016-01-30 22:34] CoralineAda opened #237 "Version 1.4 Japanese Translation"
Version 1.4 needs a Japanese translation. See the diff at https://github.com/ContributorCovenant/contributor_covenant/blob/master/diffs/1_3_vs_1_4.patch.

Attn @souravsingh

[2016-01-30 22:35] CoralineAda opened #238 "Version 1.4 Hungarian Translation"
Version 1.4 needs a Hungarian translation. See the diff at https://github.com/ContributorCovenant/contributor_covenant/blob/master/diffs/1_3_vs_1_4.patch.

Attn @marjaimate

[2016-01-30 22:35] CoralineAda opened #239 "Version 1.4 Polish Translation"
Version 1.4 needs a Polish translation. See the diff at https://github.com/ContributorCovenant/contributor_covenant/blob/master/diffs/1_3_vs_1_4.patch.

Attn @Kwpolska @michalsapka

[2016-01-30 22:37] CoralineAda opened #240 "Version 1.4 needs a Portuguese translation"
Version 1.4 needs Portuguese translations. See the diff at https://github.com/ContributorCovenant/contributor_covenant/blob/master/diffs/1_3_vs_1_4.patch.

Both Portuguese and Portugues do Brasil

Attn @benlangfeld @danifbento

[2016-01-30 22:37] CoralineAda opened #241 "Russian translation for version 1.4"
Version 1.4 needs a Russian translation. See the diff at https://github.com/ContributorCovenant/contributor_covenant/blob/master/diffs/1_3_vs_1_4.patch.

Attn @vaihtovirta

[2016-01-30 22:39] CoralineAda opened #242 "Slovenian translation for 1.4"
Version 1.4 needs a Slovenian translation. See the diff at https://github.com/ContributorCovenant/contributor_covenant/blob/master/diffs/1_3_vs_1_4.patch.

Attn @peterkokot

[2016-01-30 22:57] jaen commented on #239
If you don't mind me helping - I could.
I'm a bit OCD about language and when I've read 1.3 in the Polish I thought wording could be improved. Good language is a thing to strive for above any and all divisions.

[2016-01-30 22:58] CoralineAda commented on #239
Sounds great!

[2016-01-30 23:36] jaen commented on #239
Then I'll get back to you with a PR when I get my IRL things in order, unless someone else beats me to it (but I'll probably still chime in to nitpick the wording).

[2016-01-30 23:40] marjaimate commented on #238
@CoralineAda will take a look next week.

Also meant to ping you on a separate issue, the encoding on [this page for v1.3](http://contributor-covenant.org/version/1/3/0/hu/code_of_conduct.md) is incorrect. Do you want me to open an issue for that?

[2016-01-31 00:25] #188 closed

[2016-01-31 00:51] CoralineAda commented on #238
Yes please

[2016-01-31 04:46] #234 closed

[2016-01-31 08:08] marjaimate opened #245 "Encoding on Hungarian translation v1.3 is incorrect"
The encoding on the markdown version of v1.3 of [Hungarian translation](http://contributor-covenant.org/version/1/3/0/hu/code_of_conduct.md) is incorrect. Accented characters should look like they do in the [TXT](http://contributor-covenant.org/version/1/3/0/hu/code_of_conduct.txt) or [HTML](http://contributor-covenant.org/version/1/3/0/hu/) formats.

[2016-01-31 08:28] guilro commented on #235
If no one is already doing it, I would be happy to contribute.

[2016-01-31 08:55] Kwpolska commented on #239
I’ll try to get it done today. Is there a way to generate .txt and .html files?

[2016-01-31 16:50] souravsingh commented on #237
I will have a look at it

[2016-01-31 16:50] CoralineAda commented on #237
Great, thanks!

[2016-01-31 20:08] benoittgt commented on #235
Can do it this week also. @guilro I can review your PR or work with you on this on a pad.

[2016-01-31 20:21] asmeurer commented on #7
+1. Please push git tags for older releases to GitHub. Right now the only tag is 1.4 (which is odd because it's not even a [released version?]).

I was trying to use git to view a diff between versions and the lack of tags in git made this more difficult.

[2016-01-31 20:39] asmeurer commented on #7
Ah, I see now that all versions are present in master. Still, I think tags would be helpful. It's always a good idea to tag releases in git.

[2016-02-01 10:31] guilro commented on #235
I created this pad : https://bimestriel.framapad.org/p/contributor_covenant_fr

For consistency, I took the french translation of 1.3, the English diff to 1.3 to 1.4, and tried to change the translation only where the English changed.

I have done this work until line 40, I will continue later in the week.

[2016-02-01 11:57] bruceadams opened #251 ""is obligated to" -> "will""
This sounds oddly distant, almost third person. When I apply the Contributor Covenant to a project that I help maintain, I'm speaking in the first person. I am directly making promises.

Wording like this feels both cleaner and stronger:

I would open this change as a pull request, but I don't understand where to offer proposed changes to the next version should go. Is there some place for develop

[2016-02-01 13:07] achadwick commented on #251
"With regard to" is difficult to understand too. Simpler language would be better.

Is "will" enough to express the ethical obligation? It is certainly good for expressing the will to maintain confidentiality of course. We're choosing to impose this duty on ourselves, we're not being forced to do so. As I understand it.

May I suggest the following rewrite, assuming it keeps the spirit of the orig

[2016-02-01 14:17] benlangfeld commented on #240
I'm working on pt_BR and should be done soon. I am, however, being slowed down by trivial things like reordering of the factors listed in "Our pledge" for which I can't fathom a motive. I'm happy to contribute with translations, as I am sure are many others, but keeping the diff free of unnecessary un-semantic changes between versions would make that task easier :)

[2016-02-01 14:19] danifbento commented on #240
Hey, I will try to push the translation between today and tomorrow. I have been with a full agenda =)

[2016-02-01 15:22] alexwlchan commented on #240
@benlangfeld The traits were reordered to be alphabetical, so that the order didn't inadvertently imply that some factors were more important than others. See PR #215.

[2016-02-01 15:23] benlangfeld commented on #240
@alexwlchan Should they then be ordered alphabetically in the translated language or ordered the same as the en_US version? How can that be communicated to translators?

[2016-02-01 15:23] #239 closed

[2016-02-01 22:15] benoittgt commented on #235
@guilro you should have to write to edit the translation on my fork. Feel free to make any feedbacks.

[2016-02-04 04:32] seniorwrangler opened #255 "Clarify wording on "use of sexualized language or imagery""
The phrase "use of sexualized language or imagery" is problematic because there are many situations where, depending to project context, the use of sexualized language or imagery may be appropriate.

Examples might be:

- A project dealing with sexual health
- A project dealing with gay rights
- A project dealing with adult humour / comedy

I suggest rewording this to either:
- "inappropriate use

[2016-02-04 04:36] CoralineAda commented on #255
I appreciate you reaching out with these concerns, but I think that there is a clear difference between the contexts that you are pointing out and the intent of the language in the code of conduct. Contextually appropriate sexual content is not the same as sexualized language. And of course it is ultimately the role of project maintainers to clarify the rules around language usage, so of course in

[2016-02-04 04:56] seniorwrangler commented on #255
Thanks for your quick reply!

I agree with with what you say, however the wording of the CoC does not currently seem to reflect this, as I read: "Examples of unacceptable behavior by participants include.... The use of sexualized language or imagery"

This reads as a explicit blanket ban on the use of sexual content, which I feel is a major problem and goes beyond the intended scope of the CoC (i.

[2016-02-05 22:01] agrimm opened #256 "Code of conduct lacks email address"
The code of conduct for the contributor_covenant project itself, CODE_OF_CONDUCT.md, currently lacks an email address. It merely links to http://contributor-covenant.org/version/1/4/code_of_conduct.md which has "INSERT EMAIL ADDRESS".

[2016-02-05 23:04] agrimm opened #257 "Use of "covenant""
The word "covenant" very often has religious overtones. Many of the uses of covenant mentioned on Wikipedia's [disambiguation page](https://en.wikipedia.org/wiki/Covenant) refer to religious contexts. The use of this word this way may be alienating to people of various religious affiliations or lack thereof.

I read http://contributor-covenant.org/ , tried doing a google search for "Coraline Ada c

[2016-02-06 05:25] #257 closed

[2016-02-10 06:14] jart commented on #229
Whether or not the accused has the right to face the accuser, or is entitled to due process, are all very important questions.

Thankfully enough, there exists another code of conduct that was put in place on other projects many years ago. It's been battle tested. Many arguments have been resolved over its meaning. And most people accept its contents, or at the very least, follow it. That code of

[2016-02-10 15:56] mprelude commented on #229
@jart When we step into shared spaces and collaborative spaces, we often face scenarios where what is legal is not necessarily appropriate in that context. For example, it is legal for me to use expletives, but doing so in a theatre or a school is likely to get me removed.

Aside from that, the legal minimums vary wildly from nation to nation. What is legal in your country may not be legal in mine

[2016-02-10 16:05] mprelude commented on #255
@seniorwrangler For something like this you're probably best off forking the CoC and replacing the clause with 'unwelcome sexual advances'. It's not 'one size fits all'.

[2016-02-10 16:24] igraves commented on #229
@davidcelis I think the part of the CoC you're referring to makes explicit the powers of project maintainers that everyone already knew that they had.  That is to say, if you troll the heck out of any project, you're gonna get thrown out.  The CoC is a covenant (hence the name) wherein maintainers _further_ make explicit their intent to use their powers to further prevent the behavior defined in t

[2016-02-10 16:25] CoralineAda commented on #229
@igraves That's definitely in the spirit of my intentions.

[2016-02-11 04:42] Rudd-O commented on #229
As much as it pains me to say this, I have to agree with @jart here.  The law is the code of conduct.  If you disagree with the law, then vote, campaign, follow the process you were told since little you sat down in civics class.

Imposing your own law on other people is just going to end up in you having to fight the law.  You know who is going to win that fight.  So, instead of trying to manipul

[2016-02-11 04:47] CoralineAda commented on #229
The law does little to promote civility and fairness and is not a sufficient model for a social structure. For example, things that are not against the law in the US: racism, sexism, homophobia, transphobia, abusive words, harassment (sexual and otherwise). States are trying to take away my right to pee in the right restroom, do you really think politicians would care about someone deliberately mi

[2016-02-11 04:57] CoralineAda commented on #256
Thanks for pointing this out. I'm disappointed that you tweeted about this as if it were a big deal though. Pretty uncool, Andrew.

[2016-02-11 04:57] #256 closed

[2016-02-11 05:14] jart commented on #229
Hey @CoralineAda could you please link to the GitHub Issue comment where someone was deliberately misgendering you? I ask because you look like a normal woman to me.

On what philosophical grounds are you able to define behaviors as positive or negative? Such terminology implies the existence of an objective morality. Would you argue that the examples of positive and negative behavior given by the

[2016-02-11 05:29] CoralineAda commented on #229
Inherent in the formation of communities is the establishment of a common understanding of positive (acceptable) and negative (unacceptable) behaviors. This is necessarily subjective. However, beyond these community-defined standards, there are identifiable, behavioral anti-patterns (such as sexual harassment) that reinforce systemic abuse of certain populations. Some of these are specifically cal

[2016-02-11 05:58] davidcelis commented on #229
@jart, @Rudd-O: Please stop hijacking my issue. I didn't open this conversation to discuss whether or not the Contributor Covenant's Code of Conduct should be a thing. I opened it to discuss a nuance in the wording. If you have something else to discuss, you're free to open a separate issue and start a new conversation. But please stop doing it here.

[2016-02-11 06:01] jart commented on #229
Hmm even the men who are most fervently in favor of things like Code of Conducts will still find it their hearts to silence an uppity woman. I'll bother ye no further if I'm not welcome here. Good day sir.

[2016-02-11 06:05] davidcelis commented on #229
Yes, because suggesting starting a new conversation as opposed to hijacking this one is definitely silencing.

[2016-02-11 11:37] einhverfr commented on #229
One of the difficulties here which I don't think gets the attention it needs is the fact that open source projects do span large cultural gaps and this includes family structures, places where people retire with the kids, and so forth.  These things lead to different views on things like sexuality.  A community which is welcome to all has to recognize that it exists relative to the cultural commun

[2016-02-11 11:46] einhverfr commented on #229
Consequently I think any responsible maintainer of an open source project is going to be very cautious about enforcing any ideological views on non-project channels, even if those may come across as racist, homophobic, transphobic, etc.

Much of the fear comes from the question of whether the code of conduct is a tool which will create more strife than it prevents.  And if one uses it to try to po

[2016-02-11 12:05] einhverfr commented on #229
Question and an honest one:  Is the intent to try to tell the most of the world which has different values that if they express their views on, say, homosexuality on Twitter, that they should not participate in open source?

[2016-02-11 14:05] CoralineAda commented on #229
It’s pretty clear with 1.4 what the scope of restrictions and the applicability of the rules are, Chris. You should read it if you haven’t already. Nothing in CC says that someone’s stated opinions affect their participation in the project unless those statements are made within the context of the project.

[2016-02-11 14:06] CoralineAda commented on #229
You can have opinions on, say, homosexuality and not express them in homophobic ways to someone who is LGB. This is about conduct and communication, not ideology.

[2016-02-11 22:40] Rudd-O commented on #229
@davidcelis nothing is "hijacked" by anyone.  Moreover, the issue doesn't "belong to you" -- your voice matters as much as anyone else's and you have no special privilege or gold star that crowns you king of what is allowable.  You're not a duke, a king, or an earl -- you're just another Github contributor like everyone else, and your voice deserves as much respect and time from everyone else as a

[2016-02-11 22:43] CoralineAda commented on #229
I think that David’s point (forgive me if I am wrong, David) is that this particular Github issue has nothing to do with the conversation that has become attached to it. It’s a fact that the thread has diverged and the conversation should probably be redirected.

[2016-02-11 23:57] davidcelis commented on #229
That's all I'm trying to get at. I'm trying to discuss a very specific issue here. I don't a problem with the conversation at hand happening, but I'd prefer it happen in a separate issue. They're open, so anybody here can open another one to discuss this other topic. It's just easier. Thanks!

[2016-02-17 08:59] agrimm commented on #232
Closing as a different document was adopted for the Ruby developer community instead of the Contributor Covenant.

[2016-02-17 08:59] #232 closed

[2016-02-20 13:50] wfdd opened #269 "Supporting non-Latin scripts"
Droid Sans Mono and Consolas don't support Greek or Cyrillic, as can be seen [here](http://contributor-covenant.org/i18n/), [here](http://contributor-covenant.org/version/1/4/el/) and [here](http://contributor-covenant.org/version/1/4/uk/) (cf. http://contributor-covenant.org/version/1/3/0/).  Unless there's a good reason for the text to be in monospace, I'd suggest simply using `sans-serif` for t

[2016-02-20 14:51] #269 closed

[2016-02-24 17:36] wfdd opened #277 "Add navigation links to subpages"
There appears to be no way to navigate from any of the subpages back to the index - e.g. if you were to land at http://contributor-covenant.org/i18n/ or http://contributor-covenant.org/adopters/, you'd have to edit the URL to get to the front page.

[2016-02-24 22:56] #277 closed

[2016-02-26 07:01] axela74 opened #278 "The mantainer of this project should terminate the collaboration with the tech journal "Model View Culture" because is directed by a misandric person."
The CEO and founder of "Model View Culture" is Shanley Kane ( [link](https://modelviewculture.com/about) ).
@CoralineAda is an author of that tech journal ( [Model View Culture Authors](https://modelviewculture.com/authors/page/3) ).

Shanley Kane published yesterday this [tweet](https://twitter.com/shanley/status/702956563430920192)
"men disgust me
 *spits*
 trash
 trash
 trash"

Since Coraline A

[2016-02-26 13:13] applesaucefever commented on #278
Yeah this sort of commentary about men is unacceptable and offensive.

[2016-02-26 15:08] #278 closed

[2016-02-26 15:21] axela74 commented on #278
Hi Coraline,
can you please give me a reason for closing the iusse?

[2016-02-26 15:24] mattneel commented on #278
@axela74 Harassment or something, probably.

[2016-02-26 15:36] CoralineAda commented on #278
Yes, it has nothing to do with Contributor Covenant? CC does not infringe on freedom of association.

[2016-02-26 15:39] mattneel commented on #278
Unless your name is @elia, right?

[2016-02-26 16:44] alandwarinasia commented on #278
@CoralineAda pretty funny coming from someone who uses a twitter blocklist exclusively based on guilt-by-association...

[2016-02-26 16:45] mattneel commented on #278
@alandwarinasia Hypocrisy is cognitive dissonance + power or something.

[2016-02-26 16:51] magicalvidyakitty commented on #278
SJWs always double-down. If you're going to try write a document creating moral authority, ensure that your moral authority is unimpeachable. Your ongoing affiliation with sexist hatemongers corrupts any moral authority you may be attempting to project.

[2016-02-26 16:53] x1024 commented on #278
The response was "Close the thread and pretend nothing happened".
Perhaps people who see tickets by Coraline Ada in their projects should follow the example and do what she does.

[2016-02-26 16:54] mattneel commented on #278
@x1024 In all fairness, that would be the only sane response to a ticket with 0 technical merit and purely ideological underpinnings.

[2016-02-26 16:59] x1024 commented on #278
@mattneel Yes, but before it could be seen as "being rude". Now we have confirmation that this is the behavior of GitHub employees.

Presumably, they know how to behave in an open-source community, so we should use them as an example to follow.

[2016-02-26 17:32] CartesianDuelist opened #280 "The maintainer of this project engages in gendered slurs"
https://twitter.com/CoralineAda/status/702662929536020481

The maintainer of this project uses two terms of endearment as an epithet describing what she believes to be unsavoury behaviour relegated to men. I feel this is no different than when people claim "I do not hate black people, just black culture", and do not feel safe with her continuing to lead the project.

[2016-02-27 00:18] Arcane21 opened #281 "This document is incredibly flawed, and I have written an article examining the flaws"
I am not sanguine on this project because I find several aspects of this document greatly flawed, below is a link to a Medium article examining it's provisions with comments on what I find flawed and frankly foolish concerning it's provisions:

[https://medium.com/@infiltrator7n/deconstructing-coraline-ada-ehmke-s-contributor-covenant-and-why-it-s-foolish-801e1564afe4#.myhyz8bzj](url)

All opinion

[2016-02-27 00:19] #281 closed

[2016-02-27 13:59] LEW21 opened #282 "Manphobic maintainer should be removed from project"
@CoralineAda is associated with Shanley Kane, who published this [tweet](https://twitter.com/shanley/status/702956563430920192). She was already asked to distance herself from Shanley's views, and decided to ignore the problem - #278.

Is this what the other maintainers want to be reflected in the project? Will any male developers feel comfortable contributing?

[2016-02-27 15:59] #282 closed

[2016-02-27 17:52] nateberkopec opened #284 "What legal obligations does the Contributor Covenant place upon the maintainer?"
I am not a lawyer, but I am someone interested in using a Code of Conduct for my projects and for the meetup I help organize, NYC.rb.

It seems to me that some of the wording in Contributor Covenant v1.4 could be construed as the creation of a contract between the maintainer and the contributor. It contains consideration (a promise to do something), a statement of acceptance (by contributing you a

[2016-02-27 20:59] CoralineAda commented on #284
Can it be a contract without signatures or a record of some sort that both parties agreed?

[2016-02-27 21:28] nateberkopec commented on #284
Rapidly descending into lawyer territory here, but acceptance of a contract does not require a signature or even the record of one, because behavior can act as proof of acceptance ("by doing X you agree to this"). This is called "acceptance by performance". [The Wikipedia article seems pretty good on this topic.](https://en.wikipedia.org/wiki/Offer_and_acceptance#Acceptance)

In addition, both par

[2016-03-25 16:28] CoralineAda opened #294 "Misunderstandings vs misbehavior"
Point out that the consequences for misunderstandings (acknowledgement, apology, and changed behavior) are different from those of misconduct (which may include censure or temporary or permanent banning).

[2016-04-04 04:56] zaxeni commented on #255
Will the CoC apply to project using sexual name : https://github.com/edankwan/penis.js

[2016-05-03 18:23] danifbento commented on #240
@CoralineAda is this issue to be closed? To avoid confusion in a next iteration =)

[2016-05-03 18:23] CoralineAda commented on #240
@danifbento Yes, thanks!

[2016-05-03 18:23] #240 closed

[2016-05-25 16:22] thesunlover opened #303 "cannot access new PIXI.Graphics().graphicsData"
the graphicsData array is not listed in the core.display.graphics.Graphics.hx

[2016-05-25 16:53] CoralineAda commented on #303
I think you posted this to the wrong repo.

[2016-05-25 16:53] #303 closed

[2016-05-25 16:59] thesunlover commented on #303
omg, this issue is not for here, sorry

[2016-06-09 18:08] mcantelon commented on #73
@CoralineAda People aren't *generally* oppressed (in the West) for their political affiliations, but nor are they generally oppressed for factors in the CoC like "body size" or "personal appearance". These characteristics definitely can factor into harassment/exclusion, though.

[2016-06-23 08:48] applesaucefever commented on #294
Overly obsess over how other people chose to live and think.  Check!

[2016-07-03 03:41] webmaven commented on #73
@CoralineAda, I'd ask you to reconsider.

As an example, I would object, in any project I was participating in, to someone using the term 'Rethuglican', no matter how much I sympathized with the sentiment, and notwithstanding the fact that people with right-of-center political beliefs are far from being a minority, and certainly not subject to persecution or opression.

@mcantelon, as far as body

[2016-07-03 03:52] webmaven commented on #255
@seniorwrangler, I'll repeat what @CoralineAda said: sexualized is not the same as sexual. A blanket on on sexualized language and imagery is entirely appropriate.

@zaxeni, are you trolling? If the maintainer of that project wants to adopt the CoC, they can.

[2016-07-03 04:58] webmaven commented on #280
@CartesianDuelist, you have got to be kidding. This isn't 'male culture' she's calling out, just a particular set of behaviors, and 'dudebro' is a perfectly apt label. And your bad-faith appropriation of language used by marginalized groups is *vile*.

@CoralineAda, there is no reason to extend any benefit of the doubt here. Please go ahead and just close and lock this issue. It's ridiculous.

[2016-07-03 05:03] webmaven commented on #294
Do you have any particular language in mind?

[2016-07-03 05:07] CartesianDuelist commented on #280
They are labels referring to men vis-a-vis 'male culture', i.e. when someone uses a racial slur against a race but says it's only for the 'bad ones'.

You are a disgusting human being for condoning this and should be ashamed.

[2016-07-03 05:08] #280 closed

[2016-07-04 16:21] joykama commented on #294
Ok.t.q

[2016-07-09 07:47] beoran commented on #255
But this is exactly the problem. By using the unclear word 'sexualized' it creates confusion. What even is "sexualized language"? It's extremely vague, like most of the conde of conduct, by the way.  This part of the code of conduct also smacks to me of prudery. The problem is not sexual language, or sexualized language (whatever that even means). The problem is personal attacks, I.E. trolling.

[2016-07-09 17:43] beoran commented on #284
I wouldn't be surprised if this was the case, at least in USA law. Most licenses also work like this really... Why am I not surprised though? I see this as evidence that this code of conduct may be not intent to welcome new developers to OSS projects, but rather, to give outsiders a weapon to
to smack OSS developers with over the head.

[2016-07-09 17:58] beoran commented on #41
I prefer "no matter who you are, or were you're from, or whatever opinions you may hold". Or "We welcome participation in this project by everyone who upholds this code." Or such.

Enumerations of characteristics that will not be discriminated against to consideration are silly, they tend to reinforce stereotype rather than lessen them, and of course, there's always something missing from the list

[2016-07-10 12:59] Realetive commented on #241
I'll try.

[2016-07-10 13:07] Realetive opened #314 "Migrate i18n to https://crowdin.com"
I'm propose to use any service for translation. For example https://crowdin.com is free for open source, it have useful tools for uniform dictionary and everybody translator will have leave the comments for other. For example I would like to add note for save some typography rules for other russian translators.

[2016-07-10 15:14] Realetive commented on #241
Ready – https://github.com/ContributorCovenant/contributor_covenant/pull/315

[2016-07-12 16:53] kerrizor commented on #41
@beoran I sometimes feel the same way - "Why don't we just talk about behavior instead of a never inclusive enough list?" I'm reminded, however, that one benefit to having the list is to emphasize and/or highlight system abuses and lack of access to privilege that far too many people endure.

We list specific behaviors in order clarify what we see as problematic, and there's no reason we can't do

[2016-07-12 18:49] beoran commented on #41
@kerrizor While idealistically speaking such a list might feel encouraging for people who feel they are "on" it, it might equally be discouraging to those who are not "on" it.

Besides, this CoC is only for people like you and me who are already amongst the economically advantaged: we have a programmable computer and an internet connection. Economic disadvantage is the rot of all other disadvantag

[2016-07-12 18:50] krainboltgreene commented on #41
What? That's definitely not true.

[2016-07-12 18:52] krainboltgreene commented on #41
Read the rest of the comment, suggest removing it. There's no value in intellectual dishonesty here.

[2016-07-12 18:53] postmodern commented on #41
I'm going to close this. I've lost interest and life-style lacks a generally accepted definition.

[2016-07-12 18:53] #41 closed

[2016-07-12 18:58] beoran commented on #41
How will someone without a programmable computer (or at least a computing device) and internet access contribute to a FLOSS project? Or even read this CoC? It's impossible for them. That is what I mean.

And before you accuse me of intellectual dishonesty, might I have the courtesy of  to actually answer my points?

[2016-07-12 19:46] kerrizor commented on #41
@beoran "Respond to me or I will accuse you of something regardless of the truth of the matter" isn't really a welcome, constructive response. If you'd like to continue this thread, let's take it elsewhere.

[2016-07-12 19:52] beoran commented on #41
@kerizor

Ok, I admit that that's not very "welcoming". Neither was krainboltgreene's reply constructive nor welcoming though. What comes around goes around, you see. But yes, let's not continue here. I will refrain from any more comments on this issue. If krainboltgrene has the mind to continue the discussion I welcome him to contact me directly.

[2016-08-29 17:23] aditi1995 commented on #139
I would love to do it for Hindi.

[2016-08-29 20:52] CoralineAda commented on #139
That would be great! Please let me know if I can be of any assistance. Also, if you know another native Hindi speaker, our translation policy is that each translation must be reviewed by a second native speaker.

Thanks,
Coraline

[2016-08-30 02:25] aditi1995 commented on #139
Hii,

I would try to find another native speaker willing to work. But problem is
I don't have any experience in open source and github I need a little time
so that I can get acquainted with this a little and then I can start
translating.

Right now I don,t know how to access the documentation and can you please
send me the link to documentation where I can find it and start translation.

Thanks,
A

[2016-09-17 22:35] webmaven commented on #255
@beoran:

Since you find “sexualized” ambiguous and confusing (FTR, it simply means making something sexual that isn't inherently so, or at least more sexual than it is inherently), is “objectifying” a clearer label to you?

[2016-09-17 23:10] beoran commented on #255
The explanation you propose makes the term rather pointless. By it, it
would be ok if I discussed something that is inherently sexual, like, say,
porn, no matter the circumstances.

As for objectification, what is objectifying speech anyway?

It seems to me that what is meant is that no one should make sexual
advances towards others, but if that is the case it should be stated as
such. Like it is

[2016-09-18 07:04] webmaven commented on #255
@beoran:

OK, I think we've crossed over into Sexism 101 territory here. I'm done.

[2016-09-18 07:08] webmaven commented on #294
ping @CoralineAda

[2016-09-18 08:31] beoran commented on #255
No really, I am not a native English speaker, and I am not from the USA, so
I find this concept of objectification bizarre. Please do explain.

However, if you are not willing to provide reasonable arguments as I have
done, then yes, that is your loss.

On 18 Sep 2016 9:04 am, "Michael R. Bernstein" <notifications@github.com>
wrote:

[2016-09-18 15:23] CoralineAda commented on #294
@webmaven No language in mind as of yet. I usually wait until I have a few things labelled with the milestone and then do the writing all at once, and them put out  a general call for review.

[2016-09-19 20:13] kdahlquist opened #327 "Add MIT license text to downloadable contributor covenant files"
Thank you for creating this contributor covenant.  I have just adopted it for all my projects.  On your website, you note that "The Contributor Covenant is released under an MIT license, which requires that the copyright notice and permission notice be included."  However, the license is not actually included as part of the .md, .txt, or .html files provided for viewing and download.  I added the

[2016-09-19 20:31] CoralineAda commented on #327
Thanks for pointing this out. Im actually intending to move this to Creative Commons anyway…

[2016-09-19 20:32] CoralineAda commented on #327
Thanks for pointing this out. Im actually intending to move this to Creative Commons anyway…

[2016-09-20 06:51] mprelude commented on #255
@beoran

Objectification is removing human value from somebody and just talking about them as an object, for example talking about their body without considering their human worth. It's another term which would make no sense in the CoC since in advertising industry & many others, its absolutely rampant.

If I (as a native English speaker) could not categorise speech according to the CoC, how can p

[2016-09-20 10:17] beoran commented on #255
Well, I don't like most advertising either, but it is the nature of the
medium that we don't get to know the actors involved.  When I see a baby in
a diapers package I realise it is there to try and appeal to my emotions so
I will think less and buy more. But I realise this baby too is a person. I
sometimes wonder how they are doing now.

I do like what you are proposing about mens rea. I have see

[2016-09-27 14:00] Muthu-vigneshwaran commented on #139
Hi,

I would like to translate it to Tamil language.

[2016-09-27 15:33] CoralineAda commented on #139
Great, thank you! Note that your translation will need to be reviewed by at least one other Tamil speaker before being merged.

[2016-09-29 18:50] BrianHicks opened #333 "How OK are you with modifications and adaptions?"
Hi! Thanks for writing the contributor covenant. It's awesome, and I love it. While adapting it for our project I made the following changes: https://github.com/asteris-llc/converge/pull/330/commits/c500367cccffc46c1b2da3fbb0af9d83530804b4. The goal was to emphasize behaviors we want to see in our community. The five behaviors listed in the original text are included.

So my question: do you feel

[2016-09-29 18:54] CoralineAda commented on #333
I’m happy with additions, not subtractions. It demonstrates that you’ve actually put thought into how you want your community to take shape, which I fully support. Great job!

[2016-09-29 18:57] BrianHicks commented on #333
Great, thanks! And thank you for the quick response!

[2016-09-29 18:58] #333 closed

[2016-10-01 13:24] thomasoss commented on #152
Hello Coraline,
here a suggestion
A quality check by another german native speakter would be useful.
Greetings
Thomas

# Vereinbarung über Verhaltenskodex für Mitwirkende

## Unsere Verpflichtung

Im Interesse der Förderung eines offenen und einladenden Umfeldes wollen wir uns als Teilnehmer und Verantwortliche unseres Projektes verpflichten die Teilnahme an dem Projekt und unserer Gemeinschaft zu

[2016-10-01 13:56] thomasoss commented on #152
Hello Coraline, I'm new to github. I wasn't successful to create a branch to subsequently create a pull request. Maybe you have to add me as contributor?
Greetings
Thomas

[2016-10-01 14:43] CoralineAda commented on #152
Hi Thomas,

Please take a look at this guide, which will walk you through the process of forking a project and then opening a pull request. Please let me know if I can help!

https://akrabat.com/the-beginners-guide-to-contributing-to-a-github-project/

[2016-10-13 07:05] mihaianghel commented on #139
Hi, I would like to translate it to Romanian.

[2016-10-13 13:22] CoralineAda commented on #139
Great! Go ahead and fork the repo and work on your translation, then send a pull request when you are done. Let me know if I can be of any assistance!

[2016-10-20 06:05] sethvincent opened #339 "contributor covenant badge"
I've started using a badge placed in github readme files next to travis ci, project version, & other badges to indicate the project has a code of conduct.

I've been using markdown similar to the following:

[code]

Usually I'll link to the specific code of conduct file in a project repository rather than link to the site.

Here's what the badge looks like:

[![conduct](https://img.shields.io/badg

[2016-10-25 18:25] CoralineAda commented on #339
I love this idea! We’re currently working on ways to make community-related files (like a CoC or contributing doc) more visible and I’m going to share this with our UX person. Thanks!

What’s your Twitter handle? I’d love to tweet this tip with attribution.

Best,
Coraline

[2016-10-25 22:03] sethvincent commented on #339
@CoralineAda Awesome! The improvements to community docs visibility sounds exciting. I'm looking forward to that.

Here's my twitter: https://twitter.com/sethdvincent

[2016-10-29 09:32] TatchNicolas commented on #237
I did not find this thread of issue but already wrote a translation and sent a pull request...I apologize if I' m messing up the protocol here.

[2016-11-01 10:57] Dasc3er commented on #236
If no one has already done it, I would be happy to contribute: [https://github.com/Dasc3er/contributor_covenant](https://github.com/Dasc3er/contributor_covenant)

This is my fork with the Italian translation, but I believe itshould be checked by at least another Italian speaker.
Should I also create a pull request?

[2016-11-01 15:12] CoralineAda commented on #236
Yes, please open a pull request and then I will help find another Italian speaker to review. Thanks!

[2016-11-24 20:43] achadwick commented on #327
The license appears to have changed to CC BY 4.0. Should this issue be closed?

[2016-11-24 20:49] achadwick opened #350 "Site: license link is broken, text is outdated"
Since 519ee05a2a6c888129d5318db60893a8238f5c96 I guess, the website claims that the covenant text is released under the MIT license, and gives a link to `LICENSE` in the repository. This is outdated information now (it's CC BY 4.0), and the site link is broken.

Also, can you please clarify: does commit 519ee05a2a6c888129d5318db60893a8238f5c96 express a change of license for version 1.4, earlier r

[2016-11-29 17:23] kdahlquist commented on #327
I see that the license has been changed in the repository in the LICENSE.md file, but there is still no mention of the license in the downloadable versions of the covenant.  I will change the name of the issue to reflect this because it's really about including the license information in the covenant itself.

I may be able to help address this via pull request, but won't have the time for a little

[2016-12-01 15:47] alinebastos commented on #350
Hi, I sent a PR adding the extension .md to the broken link. But if there is a change at "MIT license" text I can do it too.

[2016-12-02 13:20] charlottebrf opened #353 "Translation to Spanish"
Similar to #242 #241 #238 #236

Here is an example of the first paragraph of the site. Spanish would be a good language to translate the site to also:

Open Source siempre ha sido una base de Internet, y con el advenimiento de las redes sociales de código abierto esto es más cierto que nunca. Pero los proyectos libres, libres y de código abierto sufren una sorprendente falta de diversidad, con una

[2016-12-02 13:28] charlottebrf commented on #353
Ignore the above comment have found the Spanish translation [here](https://github.com/ContributorCovenant/contributor_covenant/tree/6d05aa8a40190537cd8ba18f420245d9e68a6823/version/1/4/es).

[2016-12-02 13:28] #353 closed

[2016-12-02 13:59] charlottebrf opened #354 "Converting to Bootstrap"
Could enhance CSS presentation of the site by using bootstrap. Some examples for possible enhancements:
1. [ ] Add buttons on main navigation
2. [ ] Add flags on font awesome
3. [ ] Add badges/labels
4. [ ] Add basic dropdown

Happy to work on this if you think it would be helpful.

[2016-12-02 18:40] CoralineAda commented on #354
Sounds like a great idea! Feel free to get started on this and let me know if you have questions. I would also love to see your progress as you move forward.

[2016-12-15 14:47] lukego commented on #255
If I may piggy-back a question on this issue: Is _Jungfrau_ an acceptable name for a project according to this CoC?

On the one hand in English Jungfrau is a mountain in Switzerland, in the Jungfrau region, and I intend to use this alpine imagery to represent the project. This seems appropriate to me because English is the language of the project and the Jungfrau region is where I live.

On the ot

[2016-12-16 09:22] mprelude commented on #255
@lukego Someone would have to be actively looking to be offended in order to bring up the archaic meaning of a word to be offended by it. I'd say you're fine.

[2016-12-27 07:43] tripu commented on #41
@postmodern, as much as I despise nationalisms of any kind, I think you are wrong: at least in several Western European countries, nationalists are a large and mostly civil segment of the population, not an inherently violent bunch.

Besides, if someone classifies nationalism as &ldquo;inherently oppressive&rdquo;, the door is open to exclude almost any other view: communists, socialists, anarchis

[2016-12-27 08:12] tripu commented on #73
@postmodern, yes, and they are being harassed.

Someone could argue the same about other protected aspects: &ldquo;body size&rdquo; and &ldquo;personal appearance&rdquo; are, to an extent, a consequence of personal decisions and lifestyle choices. If my political views are fair game, then my dietary habits, personal hygiene, fashion preferences, usage of scarification, etc. can't be &ldquo;protect

[2016-12-28 03:24] mcantelon commented on #73
@webmaven Sorry, I was just trying to quote the text I was referring to and wasn't trying to imply the stuff's not legitimate, just that political affiliation is seems to be as frequent a reason for being targeted by people.

I would argue that political affiliations are increasingly something people are harassed about and that there is a growing tolerance for the marginalisation of unpopular opin

[2017-01-13 13:36] marjaimate commented on #238
Ah, completely forgot about this, sorry. I'll try to get to it this month...

[2017-01-19 21:18] NileshGokhale commented on #139
I would like to help reviewing/translating in Hindi/Marathi

[2017-01-19 21:20] CoralineAda commented on #139
Great! Take a look at this PR and feel free to add your comments:

https://github.com/ContributorCovenant/contributor_covenant/pull/364 <https://github.com/ContributorCovenant/contributor_covenant/pull/364>

Thanks,
Coraline

[2017-01-20 19:54] rmusmanno opened #366 "(pt_BR) Improve "body size" translation"
Hello!

In pt_BR translation: "body size" should translate to "porte físico" instead of "diferença corporal".

The first one is commonly used to refer to body build statistics such as height, weight, height/weight ratio and so on. The latter is not used in Brazil.

[2017-01-21 01:31] CoralineAda commented on #366
Hi there! Would you mind making the change and submitting a pull request? Thanks!

[2017-01-21 16:00] rmusmanno commented on #366
Yes I can!

It is pull request #367

This was my first issue and pull request ever! Thank you! :D

[2017-01-21 17:32] CoralineAda commented on #366
Oh awesome, congratulations! It's merged. ♥️

[2017-01-21 17:32] #366 closed

[2017-01-25 11:01] wkurniawan07 opened #369 "Bahasa Indonesia translation"
Hello!

Are you open for translation to Indonesian language (or Bahasa Indonesia, as how we call it) for any version? If yes, I can help provide one!

[2017-02-15 22:27] postwittgenstein commented on #139
Hey, I'll be glad to translate it to French and Arabic. You can rely on me in that.
Give me more informations where to start @CoralineAda !!

[2017-02-15 22:29] CoralineAda commented on #139
We’ve already got French covered but Arabic would be great! Check out this page: http://contributor-covenant.org/i18n/ <http://contributor-covenant.org/i18n/>

[2017-02-16 00:54] postwittgenstein commented on #139
This is the Arabic translation of the Contributer Covenant. You're gonna
find in this Zip two files, one .HTML and one .TXT.
Good work !

2017-02-15 22:29 GMT+00:00 Coraline Ada Ehmke <notifications@github.com>:

[2017-02-16 01:19] CoralineAda commented on #139
Can you please submit this as a pull request?

Thanks!
Coraline

[2017-02-16 11:00] postwittgenstein commented on #139
Give me more information or a link. Where should i upload this ?

Le 16 févr. 2017 1:19 AM, "Coraline Ada Ehmke" <notifications@github.com> a
écrit :

[2017-02-16 14:34] postwittgenstein commented on #139
Ok. It's done.

Le 16 févr. 2017 11:00 AM, "Youssef Sbai idrissi" <
sbaiidrissiyoussef@gmail.com> a écrit :

[2017-03-08 00:06] dheerajkrishna90 commented on #139
hey @CoralineAda I would like to translate into Telugu.How can I start doing it?

[2017-03-08 00:11] CoralineAda commented on #139
Hi!

Fork the repo and make a branch for your translation. You’ll need to create three files: a markdown file, a text file, and an HTML file. Place them in a folder under version/1/4/YOURTWOLETTERLANGUAGECODE/code_of_conduct.md and so on. Then add your language to the i8tn page.

Once your translation is complete, we will need to find another native Telugu speaker to review it. If you know someone

[2017-03-08 00:14] dheerajkrishna90 commented on #139
Thanks for your assistance @CoralineAda. I will start doing it.

[2017-03-30 15:47] j-f1 opened #388 "Allow specifying an email address in the document"
There should be JavaScript to parse the querystring for `email=<email>`, then it should insert it into the covenant as appropriate.

[2017-03-30 15:59] CoralineAda commented on #388
The CODE_OF_CONDUCT file is generally markdown so if I'm understanding your suggestion correctly I don't think that this would be possible. In addition, the email address should be a permanent part of the document, not dynamically inserted.

I'll give you a chance to clarify before I close the issue.

[2017-03-30 16:18] j-f1 commented on #388
@CoralineAda I meant the ones on the website (http://contributor-covenant.org/version/1/3/0/).

[2017-04-01 08:20] ppeble commented on #168
@CoralineAda I've had this on my radar for quite a while now and I was wondering: is there any way this could be done via the GH API? Do we _have_ to scrape?

Now that you work at GH I wonder if we couldn't get some easier way than scraping HTML. 😄

[2017-04-01 18:08] CoralineAda commented on #168
Hey there,

I’m actually working on code for doing this now. I’ve got it detecting CC 1.4 (approximately 20k adoptions) and I’m working now on detecting older versions.

Exciting stuff!

—Coraline

[2017-04-03 17:59] CoralineAda opened #392 "Sexual propensities between consenting adults"
The point of [this PR](https://github.com/ContributorCovenant/contributor_covenant/pull/391) is to prevent already marginalized people from discrimination based on kink or sexual proclivities.

This is a large enough and controversial enough topic that I would like to open it up for public discussion. Be sure to be respectful and remember our own CoC in these discussions.

[2017-04-03 22:07] aredridel commented on #392
This one is tricky, I think, because a simple clause to poke it makes a nice foothold to justify sexual behavior -- especially ambiguously so -- in spaces. In the absence of an enforcement document, I'm not sure what the best way to address it is.

[2017-04-03 23:08] juliepagano commented on #392
It seems like most of the cases I can think of that would be a worry around this are covered by other parts of the CoC already. E.g. if someone was outed for a thing they keep out of a professional setting, that would be covered by the section about publishing others private information; discussions of sexual details inappropriate for a professional setting would be covered by the section about se

[2017-04-04 16:13] wirehead commented on #392
This has been on my mind, because I've applied the CC CoC to one of my projects and it's got good image support, which means that it's almost inevitable that it it's going to be used for a person's kink, if people start to use it.

Let me see if I can try to enumerate some cases that came to my mind:

If someone's using the software to power their kink, that's covered by the overall software licen

[2017-04-09 14:03] DelanoJ84 opened #393 "Violent maintainer should be removed from project"
Coraline Ada is publicly calling for violence against a journalist on Twitter. A website linked on her Twitter profile mentions that she is a core contributor to the Contributor Covenant. Is this what the other maintainers want to be reflected in the project? Will any pacifist developers feel comfortable contributing?

https://twitter.com/CoralineAda/status/823064825366360065

As this is also a vi

[2017-04-19 23:45] Starmann commented on #392
@wirehead I'd suggest being careful about the wording in the phrase "Personal life". It could be used to defend White Supremacists, for Instance.

[2017-04-21 15:11] icambridge commented on #392
Just curious, is the point of this document to be able to exclude people you specifically don't like even if they do it privately without others knowing?

Also, who is to decide who and who is not consenting, because I saw a tweet from @CoralineAda where she decided that people couldn't consent to something even though the law says they can. So is this to allow for the ability to decide who is con

[2017-05-03 21:57] asher1491 commented on #139
Hi @CoralineAda I would like to translate this to Filipino.

[2017-05-03 22:06] CoralineAda commented on #139
@asher1491 Is that different from Tagalog? Forgive my ignorance.

[2017-05-03 22:08] asher1491 commented on #139
@CoralineAda No, it's the same thing.

[2017-05-03 22:10] CoralineAda commented on #139
@asher1491 Weird, I could have sworn that we had that already.

[2017-05-03 22:45] asher1491 commented on #139
@CoralineAda Is there a way to find out if somebody's already working on the version? Sorry I'm still familiarising myself with Github. If there's nobody yet, I'm willing to work on it.

[2017-05-03 22:45] CoralineAda commented on #139
@asher1491 Go for it! Open an issue first so other people will know it's in the works.

[2017-05-03 22:53] asher1491 commented on #139
@CoralineAda Thanks! Will do that

[2017-05-03 22:54] dtolent opened #401 "Tagalog Translation"

[2017-05-11 14:24] 7heo commented on #393
On her defense, what she does outside of the project should not be hold against her in regards to this project. We as individuals have a right to private lives, and what we do in our private lives does not necessarily reflect the opinion and orientation of the groups and organizations we participate in (and vice versa).

[2017-05-12 14:27] SuperintendentColeman commented on #392
Switch to Federal-REACH LOGO PLEASE.

[2017-05-13 21:22] DelanoJ84 commented on #393
You raise a fair point, though it is not to be the general consensus of the Contributor Covenant community: https://github.com/opal/opal/issues/941#issue-89339611
This is also more relevant to the project than the issue Coraline opened and even tweeted about ( https://twitter.com/coralineada/status/611574385028149248 ) concerning a "transphobic maintainer" because the contributor's personal opinio

[2017-05-14 15:21] 7heo commented on #393
I know it is not the consensus of the Contributor Covenant; and very obviously, the people behind that document do not place themselves under its rules (I have seen the so called "opalgate" before). It is common in radical groups to only apply rules to those they fight and judge, and not to themselves (open history books for further information on that subject).

However, that does not legitimate

[2017-05-16 08:22] hirshbergshachar opened #404 "Hebrew Translation"

[2017-05-19 12:17] Schadrach commented on #393
@7heo What she does outside the project is very much relevant, per the first sentence under Scope: "This Code of Conduct applies both within project spaces and in public spaces when an individual is representing the project or its community."

She promotes the Contributor Covenant on her Twitter somewhat frequently.

As @DelanoJ84 pointed out above, trying to exclude what she does outside the proj

[2017-05-19 16:39] CoralineAda commented on #393
I'm obviously a very toxic person, as evidenced by my hatred for bigots, racists, homophobes, transphobes, and other bad actors. No one should contribute to this project anymore and I should step down as sole maintainer and let it languish. I'll let the hundreds of people involved in translating the Contributor Covenant into 21 languages and the 20k open source adopters know that they are dealing

[2017-05-19 16:39] #393 closed

[2017-05-19 17:58] 7heo commented on #393
Hatred only brings hatred.

[2017-05-19 20:26] joelaw9 commented on #393
That was about the response I'd expect from someone that violated her own CoC.

[2017-05-19 20:28] DelanoJ84 commented on #393
@CoralineAda The specific infraction is not you "believe that literal nazis should not be given a media platform" but that you condone systematic violence against journalists to bring about that goal. Almost everyone agrees that "bigotry" is wrong, that view is not incompatible with also not wanting extrajudicial assault squads against certain journalists.
It also seems odd for you to bring up how

[2017-05-20 23:50] onodera-punpun commented on #393
So it's only "toxic" if it's violence against someone you personally agree with, else it is okay? That seems very weird... Why is this not listed in the CoC?

[2017-05-22 12:44] ivy-b commented on #393
This is somebody inciting violence. And its our community manager?

This makes me feel very unsafe.

Threats of violence and hate speech does not simply become 'ok' if you claim your opponent is a bad guy.

I am a transgender woman. Thank you for listening.

[2017-05-23 00:43] CoralineAda commented on #393
Since this is making the rounds in various cesspools of the internet, let me make a few things clear:

- The code of conduct for this repo is Contributor Covenant 1.4, which clearly states:

- My every public utterance is therefore not governed by the code of conduct for this repo unless I am officially representing Contributor Covenant.
- The tweet in question was a sarcastic response to a LITERA

[2017-05-26 18:00] shadowcat-mst opened #408 "Clarifying how the 'representing the project' clause works"
While I concur that issue 393 was clearly not submitted in good faith, and even had it been that the tweet was clearly not meant seriously, I confess to being slightly confused.

In her response on issue 393, @CoralineAda says:

but her twitter bio links to her patreon, which makes a point of the Contributor Covenant being her project.

However, during the opal fiasco, in https://github.com/opal/o

[2017-06-04 17:32] nachamuami commented on #139
@CoralineAda I am able to translate to Hebrew if it is still needed

[2017-06-04 18:09] CoralineAda commented on #139
We’ve got Hebrew now but thank you!

[2017-06-18 09:30] karangupta8 commented on #139
I would like to Translate in Hindi. How do I get started?

[2017-06-19 05:17] sirsnowy7 opened #414 "Why should I use Contributor Covenant..?"
I just don't get the point of using this rather than creating my own or simply not having one? GitHub users aren't very rude or annoying, generally.

[2017-07-01 18:43] her001 opened #417 "Add mention of wealth"
Wealth should be mentioned explicitly as a quality that is accepted, harassment-free.

A different financial status should not open up someone to harassment, and the Contributor Covenant does not make any mention of this.

An example of behavior that would violate this: Teasing someone because they cannot afford hardware or software that a project integrates with. Often times this manifests in com

[2017-07-04 11:42] DanScharon commented on #38
sorry for necromancing this issue, but my concerns fit the issue description:

In my eyes the highly contested term 'race' should be completely dropped in favor of ethnicity.
Common 'race' definitions are extremely arbitrary and large parts of the anthropological, biological and sociological scientific communities reject the race concept entirely as it doesn't have any taxonomic value as a term.
T

[2017-07-04 18:45] ecerta commented on #38
I respectfully disagree. When it comes down to it, all of these terms are arbitrary in definition in one way or another - any femme trans man or femme nonbinary person can tell you they've felt gender imposed on them externally based on arbitrary markers of gender. And, there's plenty of fat and not fat people who are at a perfectly healthy body size, but hell if that matters based on other people

[2017-07-04 21:34] DanScharon commented on #38
thank you for your response, @ecerta .

yes, I agree, they are. Because of this, most of the terms open up the possibility for those affected to take the terms, reclaim and redefine them. With 'race' this seems to be incredibly hard. Its ingrained essentialism based on hereditary biological traits doesn't really leave an opening to define race yourself or even choose several. I don't know of any w

[2017-07-04 22:07] ecerta commented on #38
I can see we're coming at very different perspectives based on our geography. Here in the U.S., we actually did have several movements to reclaim race-based hate language and discriminatory divisions. In the black community you can see it historically in the Black is Beautiful movement and the Black Power movement (https://en.wikipedia.org/wiki/Black_is_beautiful and https://en.wikipedia.org/wiki/

[2017-07-06 20:14] bhubbard opened #420 "Support HTTPS"
Just found this via Github, would be nice if https was supported and made the default for the site.

[2017-07-06 20:15] CoralineAda commented on #420
GitHub Pages does not support HTTPS for custom domains, sadly.

[2017-07-06 20:19] bhubbard commented on #420
You can if you setup CloudFlare, its Free!

[2017-07-06 20:35] CoralineAda commented on #420
Oh awesome. I’ll look into that.

[2017-07-07 17:22] urbangeek opened #422 "Bengali Translation"
Lets discuss on this. #421
I have kept few technical terms in English to avoid confusion and keep the pledge foolproof.
Any suggestions are  welcome.

Cheers

[2017-07-08 08:54] DeepakChethan opened #423 "Kannada translation"
Kannada is one of the south Indian language.

[2017-07-11 11:25] urbangeek commented on #422
Hi @CoralineAda , anything else I need to do?

[2017-07-11 13:12] CoralineAda commented on #422
Sorry, this got lost in the shuffle. I'll find another Bengali speaker to review the translation!

[2017-07-11 14:41] nilanjansiromani commented on #422
Would be happy to contribute to bengali translation

[2017-07-11 14:56] CoralineAda commented on #422
@nilanjansiromani Thanks so much! Please review the translation that @urbangeek did and leave notes here. ♥️

[2017-07-12 03:50] pranavgore09 commented on #139
@NileshGokhale Have you done/started Marathi translation? I see your comment https://github.com/ContributorCovenant/contributor_covenant/issues/139#issuecomment-273901674 and
if you have not started it I would like to pitch in for the same. And you can help me review it.

I do not see an issue or PR for `Marathi translation` so I think I am good to go :smiley:
Please let me know and I will create

[2017-07-12 06:46] #423 closed

[2017-07-12 18:28] #414 closed

[2017-07-12 18:28] #404 closed

[2017-07-12 18:29] #401 closed

[2017-07-12 18:30] CoralineAda opened #425 "Chinese Translation"
We would love to have the Contributor Covenant translated to Chinese. Any volunteers?

For reference: https://github.com/ContributorCovenant/contributor_covenant#translating

[2017-07-13 15:33] urbangeek commented on #422
Hi @nilanjansiromani , did you get a chance to review the pull request?

[2017-07-13 16:56] nilanjansiromani commented on #422
@urbangeek I have added inline comments.
The translation looks good. Some spellings were missing appropriate unicode characters (owing to the bengali script)
Do let me know for anything else :-)

[2017-07-13 19:16] urbangeek commented on #422
@nilanjansiromani outstanding proofreading sir. I have expressed my views in comments and made some changes in the pull request. Please review.

[2017-07-19 17:46] urbangeek commented on #422
@nilanjansiromani , anything else needs to be changed mate?

[2017-07-21 05:39] pranavgore09 opened #429 "Marathi Translation"
I will be translating contributor covenant into the [Marathi Language](https://en.wikipedia.org/wiki/Marathi_language)
code for language is [MR](http://www.loc.gov/standards/iso639-2/php/langcodes_name.php?code_ID=285)

[2017-07-21 10:08] vyp commented on #191
@sigmavirus24 Wouldn't it be easier to change it in the title anyway then? Besides, "open source" only occurs on the homepage 8 times, 7 if you don't count the one in 122313e. So I do not think it it would be repeating it *that* much anyway.

But if not that, I'd urge you to reconsider changing it *at least* in the title and the first paragraph. So a grand total of 3/4 times. Especially since:

Th

[2017-07-24 10:56] Lynoure opened #430 "Invisible tripwire feel could be avoided by rewording"
For some reason "examples include" (positive and negative behaviors) give me a Sword of Damocles feel that no matter how good my intentions* are, I could trip an invisible tripwire of an unlisted behavior and be in deep trouble before I know it.
If that was "we especially encourage" and "we definitely do not tolerate" with the very same examples, it would seem more positive, and also be much less

[2017-07-24 11:05] Lynoure commented on #417
I thought the idea  is that nothing should open anyone up for _harassment_, and the list would not need to be conclusive in any way?

[2017-07-24 15:00] her001 commented on #417
I agree that the list need not be inclusive. Still, there are already many items that cover a huge amount of cases, and adding one word to the end, "wealth," covers even more. If the argument is simply that the list is too long, maybe the format should be changed or other parts of the list should be considered for removal, but I am not sure that those are the right choices.

Classism is commonly l

[2017-07-28 13:58] tigercosmos commented on #425
Still need volunteers? I can help.

[2017-07-28 14:19] tigercosmos commented on #425
I have opened a pull request about simplified Chinese translation. PR#434

[2017-07-28 17:40] JonnyGadd opened #435 "Covenant scraper issue"
Hi there I've noticed Covenant barely pulls as much 1080p links with Real Debrid as other addons do like Elysium etc, I noticed for a TV show it only pulls HD links and elysium pulls loads of 1080p

[2017-08-10 18:05] urbangeek commented on #422
Hi @CoralineAda , I believe this pull request is ready to ship. I made all the changes @nilanjansiromani suggested except one, which could be a typo from his part.

Let me know if any else needs to be done.

Cheers.

[2017-08-13 18:08] tigercosmos commented on #425
I think this should be closed.

[2017-08-13 19:09] #425 closed

[2017-08-17 16:54] lewisgoddard commented on #420
As far as I can tell, this has been enabled for contributor-covenant.org but does not work for www.contributor-covenant.org

[2017-08-19 03:46] #422 closed

[2017-08-22 16:23] jacobherrington opened #437 "URL in Project Description doesn't work"
When I click the link to `www.contributor-covenant.org` my browser responds with `This site can’t be reached www.contributor-covenant.org’s server DNS address could not be found.` The browser also fails to find the site with `https://www.contributor-covenant.org`. However, It does work when `www` is excluded.

Have there been changes to the DNS configuration lately?

[2017-08-22 17:15] CoralineAda commented on #437
Yes, I moved from GitHub pages to Netlify. I just added a CNAME for www, giving it <TTL> to update. Thanks for bringing this to my attention!

[2017-08-22 17:53] #437 closed

[2017-08-24 18:02] karenetheridge commented on #408
This is a good point that I would also appreciate being clarified.  As a woman, aspects of my private life have sometimes been dragged into projects I am working on, through no act of my own, and it interferes with my ability to contribute. It would be good to have the document clearly state that anything I do in my personal life, that I do not link with my work in the project, are out of the docu

[2017-08-30 01:25] corinna000 opened #443 "Adding sex to the list of categories"
I added a PR for including sex in the list of categories.

https://github.com/ContributorCovenant/contributor_covenant/pull/442

I believe the argument for including this is strong. Women are in the minority in technology, and there is an uphill battle on the inclusion of women in the field. In developing countries, women and girls are at even greater disadvantage, and it the root cause is discrim

[2017-08-30 03:20] mcantelon commented on #443
:+1:

[2017-09-03 19:16] dipikaisdbest commented on #354
Is there something I could jump in to help here. First time contributor. Would like to work on a bootstrap project.

[2017-09-03 19:19] CoralineAda commented on #354
Hey there! Thanks for wanting to help out. I don’t think that the CC site is a good candidate for bootstrap though. At this point the main thing we’re looking for is more translations.

What language do you primarily code in? I might be able to find something else for you on another project. Let me know!

[2017-09-03 19:57] dipikaisdbest commented on #354
Hi @CoralineAda thnx.
I work on JS and FE languages, HTML and CSS.
Would be enthusiastic to work on anything challenging related to these.

[2017-09-03 20:33] CoralineAda commented on #354
You might check out the Mozilla project: https://twitter.com/triagegirl/status/904441168091504640 <https://twitter.com/triagegirl/status/904441168091504640>

[2017-09-10 12:49] kosikfl1 commented on #420
They put on a website that is not mine and I want to change it for you and I want to protect my IP from them they have a bug in it and they won't let me go .

[2017-09-21 16:26] ryanblock opened #459 "CODE_OF_CONDUCT.md link broken"
Looks like the link in CODE_OF_CONDUCT.md is pointing to the wrong spot (http://contributor-covenant.org/version/1/4/code_of_conduct.md), and should be pointing here: https://www.contributor-covenant.org/version/1/4/code-of-conduct/CODE_OF_CONDUCT.md

Will pop over a PR!

[2017-09-21 16:53] CoralineAda commented on #459
Looks like these links were changed inadvertently… We’re going to be fixing the paths to change them back to what they were. Nice catch, thanks!

[2017-09-21 17:09] ryanblock commented on #459
🙌

[2017-09-21 23:20] CoralineAda commented on #459
Fixed in https://github.com/ContributorCovenant/contributor_covenant/pull/461

[2017-09-21 23:20] #459 closed

[2017-09-26 21:33] drmike opened #462 "Add faiure to comply clause"
Greetings:

I feel there's a need for a Failure to Comply clause of some sort.  I'm not going to point to the Open Source project I've had dealing with in the past but it troubles me that they swear by the Covenant while a number of members, including their "Project maintainer", just turn a blind eye to complaints.

Thank you for your time,
-drmike

[2017-09-26 21:38] drmike commented on #443
I know this may sound silly to some but "gender" instead of "sex" may be a more friendly term to use.

And a friendly reminder that men are a target as well, not just women.  I'm a male victim of domestic violence.  Spent nearly six weeks in a coma because of it.

[2017-09-30 17:55] corinna000 commented on #443
Gender is not a synonym for sex. The discrimination that women face is sex-based, not gender-based, and I'm proposing the covenant should be updated to reflect that reality.

[2017-09-30 20:58] drmike commented on #443
What I'm saying is that the text and wording should be neutral.

[2017-10-25 16:01] SaravananOffl opened #467 "Hello,I would like to translate it to tamil language."
I can start working on it if i get confirmation from you guys

[2017-10-25 17:17] CoralineAda commented on #467
Go for it, and thanks!

[2017-10-26 01:28] SaravananOffl commented on #467
I've started working!

[2017-10-31 12:22] belhassen07 opened #470 "please add target="_blank" to the <a> tag"
I find it *inconvenient* that I have to right click to a link so I can open a provided link in a new tab.
It will be great if I can open it in a new tab directly.

[2017-11-02 12:07] lofidevops opened #472 "[query] What is the status of "1.4.1"?"
On https://www.contributor-covenant.org and a handful of other places I can see references to "1.4.1". But everywhere else, including the latest downloads and release tags, references "1.4". What is the status of "1.4.1"?

[2017-11-02 12:35] lofidevops opened #473 "[query] Preferred copyright line"
I'd like to notate the copyright of the covenant file. There isn't a fixed form for copyright notation, but it typically looks something like:

[code]

Is there a preferred form for the `Copyright` line? I couldn't find an example in this project. Based on the footer of text at https://www.contributor-covenant.org ("The Contributor Covenant was created by Coraline Ada Ehmke in 2014 and is released

[2017-11-02 12:46] kwill opened #474 "[query] Is there a convention for "pledging without modification"?"
**User story:** I am a project maintainer. I want to adopt a well-known code of conduct, so that I and my contributors know what to expect.

The attribution language [1] always makes me wonder if a particular community have tweaked their copy of the Contributor Covenant. There is an extant to which this makes sense (conduct and enforcement is per-project), and they are obviously free to do so, but

[2017-11-02 14:45] kwill commented on #474
For now I've gone with "We adhere to the Contributor Covenant 1.4 without modification, see CODE_OF_CONDUCT.md for details."

[2017-11-05 00:23] ihct opened #476 "Human Race(s?)"
Please correct me if I am wrong but isn't the word _"race"_ something strongly associated with biology? So by using the word _"race"_ isn't there an implication that we are talking about a biological classification here?

The literal translation also has found its way into the German translation, where the literal translation of the word is used (_Rasse_) which might leave an even more bitter tast

[2017-11-05 17:33] CoralineAda commented on #474
I think that works just fine. :)

[2017-11-09 14:30] winniequinn commented on #443
This is a tough one.

On one hand, I agree that sex-based discrimination (e.g. against intersex people, those capable of pregnancy, et cetera) is possible. On the other hand though, I agree with @drmike that gender is a more friendly term (as sex vs. gender is not always a pleasant concept for those who feel they have an incongruity there). I also disagree with @corinna000 that the discrimination

[2017-11-14 12:08] belhassen07 commented on #470
links are still the same

[2017-11-16 08:32] markvincze opened #487 "The "Latest version" link returns a 404"
The link to the latest version (https://www.contributor-covenant.org/version/1/4/code-of-conduct.html) on the live website returns a 404.

I'm not sure what the issue is, I tried to clone the repo and start up the site locally with `hugo`, and then it worked.

[2017-11-18 23:25] ivoanjo opened #488 "Support for asciidoc?"
Hello there!

I just created a new project using the contributor covenant, but noticed that there is no asciidoc version for it.
Asciidoc is an ascii-based simple markup language, like Markdown, [that is also supported by GitHub](http://asciidoctor.org/news/2013/01/30/asciidoc-returns-to-github/).

I prefer to have all my documentation in asciidoc (instead of mixing markdown with asciidoc in the s

[2017-11-19 06:08] CoralineAda commented on #488
Sure thing, as long as it can be generated like the other versions with Hugo!

[2017-11-24 06:59] lsmith77 opened #492 "Clarification on publication of physical or electronic address without explicit permission"
In the Symfony project we are discussing adoption of the contributor covenant version 1.4 and a question was raised on if `Publishing others' private information, such as a physical or electronic address, without explicit permission` could be clarified:

[code]

https://github.com/symfony/symfony/pull/24896/files#r152204663

[2017-11-24 07:14] lsmith77 commented on #492
I guess any address previously used within the public context of the project can be considered to be public .. like the email address used on the mailinglist or the github account used to submit a PR.

[2017-11-24 07:30] lsmith77 commented on #492
In turn of course even if a physical address is "public" in a phone book .. it should not be allowed to a github id used within the project with this physical address which I guess is the focus of this clause?

[2017-11-24 16:10] CoralineAda commented on #492
That is correct. This is an anti-doxing measure.

[2017-11-26 09:36] lsmith77 commented on #492
Ok, thank you for the clarification. I am not sure if this could be clarified somehow to prevent the concerns noted in the quote I put at the top, but since I do not have a suggestion, that doesn't make things significantly longer, I am closing the ticket.

[2017-11-26 09:36] #492 closed

[2017-11-26 09:57] sadeghrajabi commented on #492
لایک

[2017-11-30 19:12] CoralineAda commented on #167
Looks like they already have an option for Contributor Covenant.

[2017-12-04 20:11] #488 closed

[2017-12-12 09:57] Roshanjossey commented on #487
@markvincze, This link is working for me. Can you check again and confirm this so that we can close this issue?

[2017-12-12 09:59] markvincze commented on #487
@Roshanjossey,
Yep, now it works for me too.

[2017-12-12 09:59] #487 closed

[2017-12-14 08:02] jd615645 opened #493 "Chinese translation(zh-tw and zh-cn) file maybe need add a newline"
zh-tw and zh-cn
In "我們的準則"(Our Standards) maybe need add a newline:
[code]
modify
[code]

Let <li> tag can be generated from markdown file.

[2017-12-28 16:17] CoralineAda commented on #493
Can you open a PR for this? Thanks!

[2017-12-29 08:47] jd615645 commented on #493
ok~

[2018-01-08 11:45] edent opened #498 "Update to make CoC easier to read"
We've adapted the 1.4 version to be easier to read.  Would you be interested in a Pull Request?
https://github.com/alphagov/open-standards/blob/master/CODE_OF_CONDUCT.md

This is based on the GDS style guide. For example, [using lists to aid readability](https://www.gov.uk/guidance/style-guide/a-to-z-of-gov-uk-style#bullet-points-steps).

[2018-01-14 11:13] tanya-vedi commented on #498
I'm interested to take this up.

[2018-01-14 15:31] CoralineAda commented on #498
Go for it!

[2018-01-15 00:31] CoralineAda commented on #498
@tanya-vedi Were you going to make the rest of the changes too?

[2018-01-15 18:42] tanya-vedi commented on #498
I've done as much as I understood, if any other changes are needed then it would be great if you can specify them.

[2018-01-16 03:12] CoralineAda commented on #498
I think that they were talking about breaking the lists that are currently in sentences out into bulleted lists? Take a look at the document that they linked, I think that will help. :)

[2018-01-16 12:33] lsmith77 opened #502 "enforcement team at conferences vs. community"
While debating the adoption of a CoC for our community (https://github.com/symfony/diversity/issues/1) and looking into creating an enforcement team (https://github.com/symfony/diversity/issues/2), I realized that there will not always be someone physically present from the enforcement team at every event covered by the CoC. As such I wonder if it makes sense to add some provision that the enforce

[2018-01-16 14:39] CoralineAda commented on #502
Hi,

I think it should be clearly documented somewhere, so that attendees know about the enforcement mechanism, but where you put it is not that important.

[2018-01-16 14:41] lsmith77 commented on #502
Ok thank you for the quick feedback!

So as part of our event guidelines we will just mandate that every event contact the enforcement team in order to setup a process for reporting with people physically present and ensure that this is prominent on the website, but we will not cover this in our CoC.

[2018-01-16 14:41] #502 closed

[2018-01-17 04:01] tanya-vedi commented on #498
Thanks @CoralineAda. I'll take that up.

[2018-01-19 20:16] Ryuno-Ki commented on #470
Please don't forget to add `rel="noopener noreferrer"` if you do.
This will [guard against a vulnerability](https://dev.to/ben/the-targetblank-vulnerability-by-example).

[2018-01-28 05:26] ianbollinger commented on #284
While a lawyer's confirmation would certainly be comforting, I haven't found any information on the web that would indicate a plaintiff could successfully be awarded damages in a lawsuit over breach of contract (assuming the Contributor Covenant is a valid contract). Note that my research was not particularly extensive, and only applies to common law countries at the most. Anyway, it also appears

[2018-02-21 22:08] stephenburgess8 commented on #476
I recommend closing this issue and PR because the person is suggesting a change without demonstrating they understand the fundamentals of the topic.

https://www.census.gov/mso/www/training/pdf/race-ethnicity-onepager.pdf

Further considering the user account has a very low reputation due to almost no account history, the likelihood of it being a "troll" account is high.

[2018-02-21 23:40] statgeek commented on #476
Old standard is Race statcan.gc.ca/eng/concepts/d…

New standard is ethnicity
www12.statcan.gc.ca/census-recense…

UN defaults to Ethnicity but notes that race and other terms are used. Also notes that usage definition should be clear https://unstats.un.org/unsd/demographic/sconcerns/popchar/popcharmethods.htm

I think replacing race with ethnicity makes sense.

[2018-02-22 01:58] stephenburgess8 commented on #476
@statgeek I think there may be a time and place for the discussion, which is one I think would benefit from a large amount of research, discussion, introspection and learning. However since OP did not provide that, I don't feel they did their due diligence. For that reason I would argue that OP or another should return will a well-considered argument citing several sources. Because of the highly p

[2018-02-22 18:29] stephenburgess8 commented on #476
I believe that this PR is a form of subtle attack meant to underline the CC. Starting from [the history of attacks against the project and maintainer](https://philsturgeon.uk/2016/09/15/codes-of-conduct-maybe-theyre-not-so-bad/), I believe this should be flagged as a likely troll attempt. It's possible it's not, but if it walks like a duck, swims like a duck, and quacks like a duck, it's probably

[2018-02-25 05:16] ianbollinger opened #516 "Contributor, (project) maintainer, participant, and project leadership"
Is there a way any of these terms can be collapsed into each other? For instance, project leadership and project maintainers are (in my reading) synonymous, so perhaps the former term could be replaced in favor of the latter.

I don't have a firm understanding on what the difference is between a participant and a contributor, if there is intended to be one (this is perhaps a personal failing). I w

[2018-02-27 19:16] K10shah commented on #139
Has anyone translated this document to Hindi or Gujarati? I'd love to contribute. I'm new to the OSS contribution world but this would be a great start.

[2018-02-27 22:03] CoralineAda commented on #139
Hi Ketan!

You can see a list of all existing translations at https://www.contributor-covenant.org/translations.html <https://www.contributor-covenant.org/translations.html>

Thanks!

[2018-02-28 05:27] jordan2936 commented on #294
Idk what y’all are sayin but I doing my best

[2018-02-28 09:02] AmberBee commented on #236
Hi, I'm Italo-American, native Italian language but very good in English too ;)  Can I help?

[2018-03-06 13:20] Dasc3er commented on #236
@AmberBee If you want, I created a Pull Request (https://github.com/ContributorCovenant/contributor_covenant/issues/346) with the Italian translation based on 1.4.0...

[2018-03-07 09:39] egircys commented on #476
@ihct thank you for addressing this issue. Would maybe `ethnic origin` be more suitable than `ethnicity`? As commented in https://github.com/symfony/symfony-docs/pull/9394#discussion_r172696659

[2018-03-11 15:23] BornToWin commented on #139
Hi, I would like to contribute translating to a Vietnamese version

[2018-03-11 19:18] CoralineAda commented on #139
@BornToWin That's great! Check the translations page above to make sure that the translation doesn't already exist, then follow the directions here: https://github.com/contributorCovenant/contributor_covenant/#translating

Open a PR with your translation, then I will put out a call for 1-2 other native speakers to review your text.

Thanks!

[2018-03-16 21:51] BornToWin commented on #139
@CoralineAda thanks for accepting. I've finished the Vietnamese translation and made a PR. Waiting for the review!
Best,

[2018-03-17 13:01] espectalll opened #521 "Plain text is incorrectly rendered with HTML symbols"
The code of conduct seems to be incorrectly rendered with HTML symbols, as shown at the .txt at https://www.contributor-covenant.org/version/1/4/code-of-conduct.txt:

    * Publishing others&rsquo; private information, such as a physical or electronic
    address, without explicit permission

at line 32, and

    Project maintainers who do not follow or enforce the Code of Conduct in good
    fait

[2018-03-17 13:38] CoralineAda commented on #521
Thanks! We'll get this fixed up soon.

[2018-03-26 15:53] Sagar2366 opened #522 "Translation"
Can I translate this project in Marathi Language

[2018-03-26 22:48] CoralineAda commented on #522
Sure thing! The first step is to look at https://www.contributor-covenant.org/translations.html and make sure that the translation doesn’t already exist. From there, follow the translation instructions here:

	https://github.com/ContributorCovenant/contributor_covenant#translating

After you are done, open a PR. I will then put out a call to have the translation reviewed by 1-2 other native speake

[2018-03-29 13:48] Kristinita opened #523 "feature_request(spam): Unobfuscate e-mail alternative"
### 1. Summary

In `CODE_OF_CONDUCT.md` file the user must insert unobfuscate e-mail. It would be nice, if would be possible use e-mail alternative.

### 2. Arguentation

Unobfuscate plain text e-mail [**has high risk**](https://superuser.com/a/235965/572069) of spam. E-mail spam [**is huge issue for most Internet users**](https://www.spamlaws.com/spam-stats.html). I don't want add unobfuscate e-m

[2018-04-09 13:18] kjuchtmans commented on #139
Hi @CoralineAda, I notice that a Dutch translation is already available and I would like to review it, if necessary. Read: fixing some typo's and grammar errors would make this NL translation really shine :)

[2018-04-09 13:43] CoralineAda commented on #139
Thanks!

[2018-04-20 07:29] Kristinita opened #528 "bug(validation): 2 consecutive blank lines in end of document"
### 1. Summary

In document by address **<https://www.contributor-covenant.org/version/1/4/code-of-conduct.md>** 2 consecutive blank lines in end of file.

### 2. Argumentation

[**Markdownlint**](https://github.com/DavidAnson/markdownlint) mark `CODE_OF_CONDUCT.md` file as invalid, see [**MD012 rule**](https://github.com/DavidAnson/markdownlint/blob/master/doc/Rules.md#md012---multiple-consecutiv

[2018-04-26 19:55] shadowcat-mst commented on #408
Having engaged with @CoralineAda on twitter about this recently, I'd note that her twitter bio now, instead, links to where.coraline.codes - but the front page of that calls out her original authorship of the contributor covenant so the same question would, so far as I can tell, still apply.

[2018-04-26 20:32] shadowcat-mst commented on #408
Per https://twitter.com/CoralineAda/status/989597302141734912 - "I never said he was violating a CoC. I said he was making the project unwelcoming for marginalized people."

[2018-04-26 20:35] shadowcat-mst commented on #408
So evidently the answer is "it doesn't apply to either twitter account", and I'll close the issue at this point.

[2018-04-26 20:35] #408 closed

[2018-05-24 21:34] victimsofgaybullying opened #538 "Saying all "sexual preferences" and "gender identity" must be respected in your document mandates B4U pedophilia normalization enforcement"
I was trolled on this ticket by a free-desktop social justice policy enforcer who put out 3x technical falsehoods, and the continued to troll me bringing up the ticket on IRC, then made the false claim I liked child sex dolls, when I refuted him with a video link and a private message about kidsrights.org.au exposed "safe schools" I was told it was wrong to disrespect pedophiles, as it's a gender

[2018-05-24 21:40] victimsofgaybullying commented on #538
"Extremely hostile and prone to ranting about how people he doesn't like are 'LGBTI nut[s]', as well as about how LGBTI education programs are 'subverting [Australian] youth'. No idea how you got to that point from a discussion about licenses, but freedesktop.org welcomes anyone regardless of gender, sexuality, etc. I would recommend reviewing this: https://www.freedesktop.org/wiki/CodeOfConduct/

[2018-05-24 21:55] victimsofgaybullying commented on #392
#538

Shows this document is already being used to say you must respect those who prefer to have sex between men and little boy bums on forums away from open-source project infrastructure or you will be proactively banned on lets say freedesktop.org for example.

So yeah you better say "consenting adults" instead of "sexual preferences".

My friend was found guilty of the crime of linking to http:

[2018-05-25 16:04] victimsofgaybullying commented on #392
What was wrong with the deleted comment I screenshot? Did it disrespect pedophiles and that was wrong mmmkay @CoralineAda

You know that you are in Oregon. You must respect Democrat King Pin Terry Bean charged with child rape rules the Australian court too! Here's the details.

https://www.quora.com/Who-would-you-trust-alone-with-your-kids-Obama-or-Trump/answer/Luke-McKee-1

This the case law wher

[2018-05-25 16:14] victimsofgaybullying commented on #538
I like the amendment there to say sexual activities between adults and how it's fair game to disrespect those who sodomize children who identify as "minor attracted persons".

[2018-05-25 16:16] #538 closed

[2018-05-25 16:32] victimsofgaybullying commented on #538
@CoralineAda nothing is wrong nothing to is to be fixed when some (including the MSM) say paedophilia is a sexual preference and your policy says all sexual preferences must be respected?

Can you at least say once that fucking children is wrong for me and you'd like your work not to be co-opted by paedophilia normalization activists? Or are you proud you are making the act of dissenting against t

[2018-05-25 16:39] victimsofgaybullying commented on #538
@CoralineAda holy crap. You are an OTO.org child sex cult member!

http://www.greaterthancode.com/podcast/075-code-and-witchcraft/

vs

https://www.youtube.com/watch?v=X5z_8Lh5UM0

/

https://www.youtube.com/watch?v=JaukjfqYsz4

I'm so going to expose you on my next live broadcast to 80k people on a certain YouTube channel I wont name yet ;)

I'll send you the link later.

[2018-05-25 16:49] victimsofgaybullying commented on #414
@sirsnowy7
#538

Because pedophiles and OTO.org kiddy sex cult members need to exclude anyone who does like sex with children from open source projects they are involved in. The author of this document is in an Alesiter Crowley the great beast 666 pedo cult that is jailing people for religious vilification without trial in Australia and just last month the lesbians cheered on the child sex cult do

[2018-05-25 16:52] victimsofgaybullying commented on #538
https://twitter.com/coralineada/status/683840045615157248

Wow the religion of child sex and your deep into it "code which" eh?

Tell us about Master of the Hermit Traid XI in child sex magick or the Gnostic Catholic Mass Child Orgy ritual.

[2018-05-25 16:54] victimsofgaybullying commented on #538
Wow good luck running to github who fired you for being a nutter. Maybe they know about your involvement in the OTO child sex cult?

begin copypaste:

"Coraline Ada", who was recently fired from GitHub and then wrote an article about how wrong they were to fire her ( archive.is/FPMUF ), was hired for $240k/yr from GitHub despite being unable to hold down a job longer than 1 year for 5 consecutive

[2018-06-20 15:40] even-dave opened #547 "Flesch–Kincaid Readability Test FAIL"
When I throw the text of the covenant into a Flesch–Kincaid readability test for English, it comes out with a Flesch grade score of 19.58. This means that this text is understandable by college graduates but not by others with less education.

Considering that the covenant **should** itself be inclusive regardless of education the readability test begs otherwise.

You can try it yourself here:
htt

[2018-06-21 18:03] TaylanUB commented on #443
I wholeheartedly support adding "sex" to the list, in my opinion preferable over "gender" because:
- gender is presumably covered by "gender identity" which is already in the list,
- "gender" is a contentious term with different meanings to different people, for instance some feminists use the term to refer to the social *hierarchy* of "men over women" in sexist societies, or as a shorthand to "se

[2018-06-21 20:23] TaylanUB commented on #443
I thought maybe "gender (sex)" is the best way to word it. The word "gender" is perhaps more easily understood for some (some non-native speakers of English may think "sex" only refers to reproductive activity, since that definition is more popular), yet through the parantheses it's made clear that sex is meant and explicitly included.

Some die-hard proponents of the "sex does not equal gender" i

[2018-06-21 21:50] CoralineAda commented on #443
Gender and sex don’t mean the same thing, so I’m not comfortable with putting it in parentheses like that.

I’m still engaged in discussion of whether ‘sex’ distinct from ‘gender’ is necessary and thinking pretty hard about it. My first instinct is that it’s cis-centric. Let’s hold off on a PR until I have a chance to get more input from the community.

[2018-06-21 22:08] corinna000 commented on #443
I am trans, not cis, and am the originator of this change. Regardless of my being trans, I still would choose to have my sex protected as a separate characteristic, and believe that it’s especially important to acknowledge the various forms of discrimination that predominantly affect those whose sex is female. There is nothing “cis-centric” in acknowledging sex-based oppression. Trans-men are  sus

[2018-06-26 08:08] even-dave commented on #547
Just as a follow up to this, the US Federal Govt. has a web page dedicated to plain language.
It has guidelines how to write plainly. An amazing resource.

https://www.plainlanguage.gov/guidelines/

Maybe someone should take a look before Donald Trump redefines what plain language is. :-P

[2018-07-02 19:18] Amid198 commented on #435
Elysium

[2018-07-02 19:19] #435 closed

[2018-07-05 13:10] nedbat commented on #443
@CoralineAda I am a newcomer to these discussions, and so am probably missing many of the nuances of meaning here.  It seems to me that the goal of this list of categories is to ensure that everyone is included.  If someone comes here to say that they don't feel included until a category is added, isn't that a strong argument for adding it?

I would think that for any given category, there are peo

[2018-07-18 23:49] tieguy opened #555 ""what is best for community" may be vague when compared to other examples"
Doing my first read-through of 1.4, which I generally am 👍 on. The explicit examples are definitely constructive and useful.

My only quibble is the "focus on what is best for the community" example. I'm a bit unclear what behavior it is intended to encourage (or repudiate)? The other examples are pretty concrete - use this type of language, behave in this specific way, etc.; this one less so.

A

[2018-07-19 05:56] tieguy commented on #547
Hi, @even-dave- thanks for pointing this out, and trying to get constructive/objective with your analysis and suggestions.

FYI, I'm not a maintainer here, just a drive-by reader who noticed this issue and [is obsessed with legal readability](http://lu.is/blog/2012/08/19/a-quick-note-on-conspicuous-text-also-known-as-all-caps/).

As to the specifics:

_How best to propose readability changes?_
Def

[2018-07-19 06:10] tieguy opened #556 "broadening scope to include some non-project space situations?"
Problem I've unfortunately had to deal with: Harasser (who does not meaningfully represent the project) meets Victim within a project space, and is perfectly civil within project space. Outside of project space (say, via text messaging or other _private_ social media), Harasser targets the victim in ways that would be clearly unacceptable if they occurred in project space. Victim no longer feels c

[2018-07-19 09:51] even-dave commented on #547
The average Kincaid grade level for US adults is between 7-9. So 16 is still too high. 13-14 year old kids can participate in open-source.

Having an annotated version IMHO opinion is just complicating things. If it can be writtten in plain language do it. Everybody will understand it regardless. An annotated version just creates another level of unnecessary obscurity.

It doesnt matter how we loo

[2018-07-19 14:53] even-dave commented on #547
IMHO being friendly does not strictly omit inclusivity. To be simply friendly is a human acknowlegement of social existence on the simplest level.  That in itself is a type of inclusivity. Inclusivity has many levels from being acknowleged in presence to being intimate in relation.

In context of the document I think the level of inclusivity aimed for is to allow others to freely participate in ha

[2018-07-19 15:53] CoralineAda commented on #547
I’m open to structural changes for readability but the language the Covenant uses is necessarily nuanced and will not change for this purpose.

[2018-07-19 15:54] CoralineAda commented on #556
This falls outside the scope of the CoC but totally within your power as a project owner. You have the inherent right to dismiss anyone from the community who makes someone else feel unsafe.

[2018-07-19 16:53] even-dave commented on #547
Sorry coralline that statement doesn't make sense, can you please explain what you mean by structural change? And isn't nuances something to avoid? Because nuances create fog in meaning.
Let's make sure we are talking about the same thing.

http://www.dictionary.com/browse/nuanced

Subtle shades of meaning are not a good thing when you are trying to communicate in plain language to the widest audi

[2018-07-19 16:59] CoralineAda commented on #547
Nuance is essential. Words are complex, and human behavior is complex. The language of inclusivity and diversity is necessarily complex.

The average intelligence and reading level of the developers in the communities that produce open source makes the FKRT irrelevant in my opinion.

[2018-07-19 16:59] CoralineAda commented on #547
Maybe it would help to be concrete. Can you give an example of language in the CC that you consider too complex or too nuanced?

[2018-07-19 17:35] strand commented on #547
@coralineada I believe that readability is important, but I also believe that revising the document to a lower grade-level introduces a risk of creating subtle, breaking changes.

So, my suggestion is to keep the English translation as is, but also create a Basic English or Simple English translation.

@even-dave would you be willing to take on the heavy lifting of translating the Contributor Cove

[2018-07-19 18:39] even-dave commented on #547
Maybe when you are writing to impress a university level audience. But this is not a thesis, nor a legal document, it is a community agreement. The community must understand.

The whole document, throw it in a Kincaid test. That is a quantifiable measurement of complexity.
I saw a online tool called typely that measures readability as you type and highlights problems.
https://typely.com  I have no

[2018-07-19 19:02] CoralineAda commented on #547
ESL is not an issue really, given that Contributor Covenant has been translated into 28 languages?

[2018-07-19 19:12] even-dave commented on #547
In fact "covenant" is even possibly the wrong word. When I think about it this document is truly non binding in a global sense.  Maybe a international lawyer can add their 2c. I think it is arguably more of a ethical commitment, a code of conduct, code of ethics, or a global consise of commonality in behaviour to be upheld but not strictly an enforceable agreement. There is a difference.

As a sys

[2018-07-19 19:26] even-dave commented on #547
Can you confirm that those translations contain the subtle English nuances of your original document? That is when things get really tricky because they are not in a language you can fluently understand.

If I had a choice I would have all contracts written originally in German. German is a very precise language. No mincing words. Of course there are exceptions in many languages, but in German the

[2018-07-19 19:40] even-dave commented on #547
Another question? Are those translations understandable by their respective general native populace or do you also need to be a college graduate to participate in OSS in those countries as well? Elitism needs to be eliminated, not encouraged.

I think these are valid points.

[2018-07-20 11:30] even-dave commented on #547
@CoralineAda Did you define an audience before you started to write the CC? If not, it is very important that we do this first to write a plain language document. It will also help to define what "inclusive" really means because at the moment it appears that, despite intentions, it is not really inclusive as it excludes individuals with a lower level of education.

I. Think about your audience
One

[2018-07-20 15:29] #547 closed

[2018-07-20 15:29] CoralineAda commented on #547
Thanks for your thoughtfulness, but I don’t plan on renaming or rewriting the Contributor Covenant. I have faith in its applicability and quality and it’s been very well received in the community.

[2018-07-20 15:54] even-dave commented on #547
@CoralineAda Yes your faith seems entrenched. That is fine it is your project, renaming would be a PITA. It has been well recieved in some parts of the community no doubts, there is equal worthy criticism too. I hope you have taken that constructive criticism on board and acted upon it as well. As I said it lulls you into a false belief that this is what open source is about. I think it is not. I

[2018-08-16 14:09] kwill opened #561 "[query] Suitability beyond a software project repo?"
**User story:** I manage an online community that includes both software development (e.g. git repos) and freeform discussion (e.g. a forum). I want a single code of conduct, so that users don't have to read/review multiple codes.

---

Is adoption of the CC beyond a software project repo considered in-scope? For example:

* a wiki
* a Mastodon (or similar) instance
* a Q&A site
* an online forum

[2018-08-16 14:12] CoralineAda commented on #561
To a degree, but for online communities (like slack for example) you might want to look at http://community-covenant.net

[2018-08-17 12:12] kwill commented on #561
I didn't know about that! On reflection, I could adopt the Community Covenant for both software repos AND other online spaces. (Participants will be able to see that the same code of conduct is used throughout.)

I think this is a better solution than confusing non-developers with some of the jargon in the Contributor Covenant. I've updated the original ticket with my actual use-case for clarity.

[2018-08-17 12:12] #561 closed

[2018-09-10 04:11] femperi opened #569 "Consider renaming master branch to something less offensive"
Master is not a good term for the main branch, I'd say its high time to consider renaming this to something like main or edge.

[2018-09-16 23:57] ewjoachim opened #573 "Should we be using gender-free language in translations ?"
I was reading the [French version of the covenant (v1.4)](https://github.com/ContributorCovenant/contributor_covenant/blob/df995d0a05a08d64b276f577efec4afcef5a88e1/content/version/1/4/code-of-conduct.fr.md) and realized it was refering to maintainers as "les mainteneurs / ils", which is the masculine form.

This is grammatically and traditionnaly correct in the sense that French language tends to

[2018-09-16 23:58] CoralineAda commented on #573
This is a great observation. I'll wait to hear from the pingees.

[2018-09-17 01:54] camilleroux commented on #573
Inclusive language is a very good idea and, I think, match the goal of this Code of Conduct.
The first solution (using [épicènes](https://en.wiktionary.org/wiki/épicène) words) is probably the best (not going to create debate) but doesn't work for everywhere. The 2 followings solutions are more and more used. OK with them too (I'm using them all the time).
I'm ok to help if needed :)

[2018-09-17 14:12] galgalesh commented on #569
To be clear, `master` in this context does not refer to a master/slave relationship.

https://en.oxforddictionaries.com/definition/master
https://www.merriam-webster.com/dictionary/master

[2018-09-18 00:09] CoralineAda commented on #476
This is really helpful reading: https://www.diffen.com/difference/Ethnicity_vs_Race

I think that there may be a difference in the way that the words race and ethnicity are used in the US vs other countries. The US has for centuries struggled with issues of race-based violence and discrimination. Race is the word used to frame that conflict.

Ethnicities, I feel, are more about cultural origins. I

[2018-09-18 00:54] kruug commented on #443
@nedbat since diversity is superior to merit (per CoralineAda’s other repo), you don’t have to worry about being inexperienced.

[2018-09-18 01:04] #443 closed

[2018-09-18 07:31] DamienR commented on #573
My god, you people are insane time wasters. Who dreamed this crap up?

[2018-09-18 15:12] CristinaMendonca opened #575 "[Suggestion] Add a FAQ to the CoC"
I've seen (in Reddit) that some people are misunderstanding the CoC and/or anticipating CoC abuse. I think a good approach to deal with these reactions would be to add a diplomatic, pedagogic FAQ to the CoC addressing the most common questions and potential issues (e.g., what happens if you didn't know the word you were using was offensive to someone somewhere, how you should react if you were unj

[2018-09-18 15:34] CoralineAda commented on #575
I love this idea. Is this something that you would be interested in working on?

[2018-09-18 15:42] CristinaMendonca commented on #575
Sure, I can at least give it a try! :)

[2018-09-18 22:55] worldfamousheat opened #577 "Language issue"
The word "pledge" is associated with the "Pledge of Allegiance," which I find downright offensive due to the synonymous association with the United States of America's tyrannous history of forcing individuals to pledge an allegiance to a country which they do not support. I also personally was lauded after in school due to me refusing to pledge allegiance when I was a child.  I cannot willfully ac

[2018-09-18 23:14] pussydestroyer69420 commented on #577
YAAAASSSSS QUEEN! "Pledge" definitely has WAY too many connotations of cisgender, heteronormative, white, Eurocentric, male supremacy. It's 2018, surely we can come up with more sensitive vernacular.

[2018-09-19 11:29] CristinaMendonca commented on #575
Ok, I don't have time to spend much more on this, so I will just leave here a suggestion and hopefully someone can heavily improve on it and actually implement it. I tried to make the text pedagogic and diplomatic, but some people may consider it too soft. My personal opinion is that we stand to gain the most by trying to make the CoC focus on specific behaviors to abolish and to promote, as well

[2018-09-19 11:43] rkfg commented on #569
"Main" suggests inequality, I'm against that. "Edge" might cause suicidal thoughts (like jumping off the edge) and self-harm. Try again.

[2018-09-20 14:27] #573 closed

[2018-09-20 18:32] eeden003 commented on #569
people sorry to say, but "get a life"!
people are worrying about simple words, STOP with that, it is of no
significance !
just act "normal" and leave things be as they are.
Bye for now

Op do 20 sep. 2018 om 20:25 schreef rkfg <notifications@github.com>:

--
Jan van den Eeden - The Netherlands -

[2018-09-21 23:19] wireddown opened #583 "The covenant appears to help the owners more than it does the harassed"
_List of disclaimers: I'm not a lawyer; I don't know the requirements and constraints for such an internationally used document; and I'm pretty sure what I'm suggesting is negligible compared to the many other priorities for this important work._

But... I can see how one piece in the **Enforcement** section could be poorly received by a minority or marginalized member and discourage them from par

[2018-09-23 17:18] Sooja opened #585 "can we make it against the rules to use white power and the term sex"
the term sex is very offensive the term gender and the ok sign means white power now thanks to some nazis

[2018-09-24 11:55] oiaohm commented on #569
On Fri, Sep 21, 2018 at 4:25 AM rkfg <notifications@github.com> wrote:

You must not of read the python bug report
https://en.wikipedia.org/wiki/Audio_mastering
Yes they reference Audio mastering for why master branch is to be left
alone.   Its a term linked to Master/Slave terminology.   Just like
Postmaster and Webmaster.

Really before posting link it does pay to read it.   Basically that bug
r

[2018-09-25 02:22] skylarmt commented on #430
What are your thoughts on PR https://github.com/ContributorCovenant/contributor_covenant/pull/580?  It might be enough of a change to close this issue.

[2018-09-25 02:27] skylarmt commented on #255
I think PR https://github.com/ContributorCovenant/contributor_covenant/pull/580 might fix this issue, since it would prevent simple misunderstandings of a situation from being in violation of this clause of the CoC.

[2018-09-25 03:49] skylarmt opened #586 "What happened to #584?"
It just vanished, while other PRs were simply closed due to a renaming of the master branch.

[2018-09-25 06:21] debackerl opened #587 "Making the Covenant democratic"
Hello,

I find little information about the democratic process of electing the board of reviewers. It looks like anyone can submit but only one person is allowed to accept pull requests. This may be fine, but only if that person was democratically elected. It would even be better if it was a group of people, given the ease that technology can offer us to organize this.

This is important because r

[2018-09-25 10:41] beoran commented on #255
I think not. This CoC suffers from being both to vague in some aspects as to leave too much leeway to maintainers or outsiders, and at the same time is too specific, like in this case. In other words it's a leaky blacklist.

In my own document, WELCOME, I state that "off topic" communication is not allowed, and have a separate document with the points and project (GOALS) that are considered "on to

[2018-09-25 13:14] falkTX commented on #586
I had no idea github could do this... what was the issue in there?
Must have been quite serious if they can just remove it completely...

[2018-09-25 18:40] skylarmt commented on #586
I wasn't able to find a mirror (I really did try), but it was titled "why are you even using the term sex?".  I know that because I got a notification email when it was closed.  I clicked the link in the notification within half an hour of the email being sent, and it was the standard GitHub 404 page.

https://github.com/ContributorCovenant/contributor_covenant/pull/584

It was too new to be index

[2018-09-25 18:44] skylarmt commented on #586
OK, here's a screenshot of my GitHub notifications.  It's still in there, so I can see who the participants are.  @Sooja is the creator of the PR, but his account (https://github.com/Sooja) also 404s.  So I guess when someone nukes their GitHub account it removes all their PRs.

![screenshot_2018-09-25 build software better together](https://user-images.githubusercontent.com/6668965/46035560-8c9aa

[2018-09-25 18:48] falkTX commented on #586
hmm interesting.
looking around I saw https://github.com/isaacs/github/issues/579 which is the same situation.
github does not support private issues yet, so the creator of #584 either deleted their own account or got banned.
this is quite troubling, tbh.
now I fear if someone is going to do the same for my account... shit...

[2018-09-25 20:50] skylarmt commented on #586
I'll add this to the list of reasons I self-host all my projects with Gitea.  I control the server and if something like this is deleted I can still find it, even if it means spinning up one of the backups as a separate VM and accessing an old version of the site.

[2018-09-25 21:49] SharpOB commented on #569
Absolutely disgusting that such outdated terms are still in use.

[2018-09-25 21:50] SharpOB opened #588 "The name "CoC" sounds like "cock" which is sexist"
How dare you.

[2018-09-25 21:55] falkTX commented on #588
This is the most pointless thing to complain about.
Whatever you rename it to, there is very likely something in a language that is similar to a swear or bad word.

afaik no one reads out loud "CoC" in the way you describe.
Being an acronym we read it as "c-o-c" (with spaces in between).

[2018-09-26 04:54] tbird20d opened #590 "clarification of published email address as being not private information"
Hello - I'm a member of the Linux kernel community and a number of questions have been raised there about the new Code of Conduct, which is based on contributor convenant 1.4.  I'm new here.  I apologize if this is not the correct venue, but is there a mail list or other site where discussion takes place, or is this it?

In any event, one issue that has caused concern is this statement: "* Publish

[2018-09-26 15:26] CoralineAda commented on #590
In the case of a mailing list, the person’s email address is public and not private, so I don’t think this would be an issue. Attaching your email to a mailing list post is an implicit permission to use it, right?

I’m happy to consider alternative language if you think that would be helpful.

[2018-09-26 16:49] tbird20d commented on #590
I agree that it shouldn't be an issue.  Two suggestions that have come up in the community are to 1) address it with a FAQ, and 2) to add the following to Linux' CoC:
----
 * Publishing others’ private information, such as a physical or electronic address[1], without explicit permission

[1] Note that e-mail addresses used on public mailing lists are not
considered to be private information and ca

[2018-09-26 16:50] tbird20d commented on #590
Sorry - I don't now what went wrong with the markup.  My bad.

[2018-09-26 18:41] CoralineAda commented on #590
I think either of those approaches would be good.

[2018-09-26 21:11] tbird20d commented on #575
I would add:

**Does the prohibition on publishing private information include email addresses sent to a public list?**
No.  Information that has voluntarily been published to a public location does not fall under the category of private information.  Such public information may be used within the context of the project according to project norms (such as in commit meta-data in code repositories),

[2018-09-26 21:16] tbird20d commented on #590
OK - I think I would prefer to leave the wording about explicit consent being required for revealing private information in the covenant, and add a comment in a FAQ clarifying that public information is not considered private.  I see that CristinaMendoca has suggested adding a FAQ to the project (issue #575), and I added a comment there on this topic.

If Cristina or someone else does not carry th

[2018-09-26 21:17] CoralineAda commented on #590
Thanks!

[2018-09-26 21:43] ShadowGoat opened #593 "Literally nothing stated in this makes logical or grammatical sense."
Literally none of this makes sense. "Meritocracy also naively assumes a level playing field, in which everyone has access to the same resources, free time, and common life experiences to draw upon. These factors and more make contributing to open source a daunting prospect for many people, especially women and other underrepresented people." Okay, first off, this literally applies to everyone and

[2018-09-26 21:44] ShadowGoat commented on #588
I am also very offended by this

[2018-09-26 21:50] falkTX commented on #588
of course you are, github user for a day...
you are not helping at all, just trying to find something to be noisy about.

[2018-09-26 22:56] #593 closed

[2018-09-26 22:56] #588 closed

[2018-09-26 22:56] CoralineAda commented on #587
Open source projects are not democracies.

[2018-09-26 22:56] #587 closed, assigned to nobody

[2018-09-26 22:57] #586 closed, assigned to nobody

[2018-09-26 22:58] CoralineAda commented on #569
The main branch is now called 'release'. Thank you for pointing this out. (And I wish that GIthub would make something like this the default.)

[2018-09-26 22:58] #569 closed

[2018-09-26 22:58] #522 closed

[2018-09-26 22:59] CoralineAda commented on #555
I like the idea of clarifying this language and will mark it for consideration in a future version. Thanks!

[2018-09-26 22:59] #555 closed

[2018-09-26 23:01] CoralineAda commented on #583
Enforcement is (deliberately) left in the hands of project maintainers, and will look different for every project. The main CC site makes this clear in the Enforcement section. Thanks for raising this though!

[2018-09-26 23:01] #583 closed, assigned to nobody

[2018-09-26 23:01] CoralineAda commented on #590
@tbird20d Would you mind leaving a comment on the FAQ issue?

[2018-09-26 23:01] #590 closed, assigned to nobody

[2018-09-26 23:31] ShadowGoat commented on #575
Yeah this is pretty cancer and about sums up what I thought of this

[2018-09-26 23:40] tbird20d commented on #575
I'm confused @ShadowGoat. Are you referring to my addition to the FAQ clarifying email handling, or are you naysaying the FAQ, or the whole contributor covenant?  If you have a specific, constructive complaint, then please share it.  If just negative musings, then never mind.

[2018-09-26 23:44] ShadowGoat commented on #476
this is just as cancerous as everything else. Also, being white doesn't give you privilege.

[2018-09-26 23:52] ShadowGoat opened #595 "Remove Harasser"
CoralineAda is harassing members of other projects. She does not value others as human beings and actively hampers an atmosphere of kindness, cooperation, and understanding if she does not agree with there personal offsite activity.

For the reasons of personal attacks, trolling, public harassment, insults, and other unprofessional conduct I request she be removed.

Copied from another thing coral

[2018-09-26 23:56] tieguy commented on #555
Cool, glad the comment was helpful.

For what it is worth, the language I ended up using in the Tidelift CoC is "Prioritizing community health over individual community members". I'm not sure that's *quite* right (anytime you de-prioritize individuals, there is some risk of getting it wrong) so I look forward to seeing what you come up with.

[2018-09-26 23:57] tieguy commented on #555
Cool, glad the comment was helpful.

For what it is worth, the language I ended up using in the [Tidelift CoC](https://tidelift.com/docs/code-of-conduct) is "Prioritizing community health over individual community members". I'm not sure that's *quite* right (anytime you de-prioritize individuals, there is some risk of getting it wrong) so I look forward to seeing what you come up with.

[2018-09-27 06:41] falkTX commented on #586
@CoralineAda please provide an explanation here, please...
If reporting an account gets it banned, I do need to know.
What happened here?

[2018-09-27 06:49] falkTX opened #597 "Should this CoC be more of a democracy?"
I am opening this issue to start a discussion, see tittle.

From what I understood, as it stands right now, the CoC is basically managed by @CoralineAda which is free to close issues anytime, sometimes not giving a chance to reply back.
(feel free to correct me though)

I cannot see how this can have the best of the community in mind.
If a single person (or even a small group of people) are the si

[2018-09-27 08:17] LordStreetguru opened #598 "Define Terms in the CoC and FAQ"
In order for maintainers and communities to better understand this CoC you should be defining terms used within it.

A short list.
Inclusive
Empathy
Trolling
"Other conduct which could reasonably be considered inappropriate in a professional setting"
"other behaviors that they deem inappropriate, threatening, offensive, or harmful."

In the FAQ
(with the obvious exception of hate groups.) which I

[2018-09-27 12:00] beoran commented on #587
I fully agree with this point. Open source projects are not democracies. Open source projects, like any other projects, rightfully belong to the ones who have worked on them.

That is exactly why outsiders cannot barge in and demand that maintainers be removed from the fruit of their labour for any perceived or real slight, not even for real crimes. For instance, look at how Reiserfs still is part

[2018-09-27 12:14] ghost commented on #587
@beoran See #580 for a proposed solution.
Sadly it was closed without much discussion.

[2018-09-27 12:27] falkTX commented on #595
Yes, dealing with your constant bullshit requires attitudes like those.
As I see it, you are getting exactly what you deserve.

[2018-09-27 12:37] beoran commented on #587
I know, and it is the full right of the maintainers of this project to do so. However, I would like them to take more interest in the rights of the workers, rights which they rightfully claim for themselves, rights which they must logically and ethically also grant to the full to all other maintainers of all open source projects.

[2018-09-27 15:03] liltinkerer commented on #595
My constant bullshit? What are you talking about and why are you attacking me?

[2018-09-27 15:05] falkTX commented on #595
I mean you in the plural form, not you personally, sorry.

[2018-09-28 00:43] oiaohm commented on #569
On Thu, Sep 27, 2018 at 8:58 AM Coraline Ada Ehmke
<notifications@github.com> wrote:

https://www.git-tower.com/learn/git/glossary/master

You have just sucker punched self.    Master branch is part of git
design.     Main/default branch in git is Master branch.   This is a
convention that predates writing software.   Master in this form has
nothing to do with master/slave.

Really what you have d

[2018-09-28 03:10] falkTX commented on #569
That is all fine, but if as someone is really offended by a word - no matter how insignificant it might seem/sound to you - we **can** still change it.
I also think it is a bit too much, but can also see some connotation behind the word 'master'.
We use English here, not Latin. The fact that the word can mean different things is irrelevant in this case.

[2018-09-28 04:16] beoran commented on #597
No, this project does not need to be a democracy, and as was stated before by it's maintainers and rightful owners, it is not.

But, due to the open source nature of this project, if you feel the content of the CoC should be decided democratically by vote of other open source project maintainers, you are free to set up a fork of this CoC within a project where decisions *are* made democratically.

[2018-09-28 09:32] oiaohm commented on #569
Really the we use a lot of latin base words in english..
Magistratus is the latin for Magistrate  really they are spoken the same.

Magister have appeared in historic english dictionaries have been removed
due to lack of usage.   But you will see that Magister will return  to the
english dictionaries at some point due to this political correctness over
master.

https://en.wikipedia.org/wiki/Magist

[2018-09-28 10:30] liltinkerer commented on #569
Since open source is international, what happens if terminology is absolutely fine in one language but is not fine in another? Word negro in Spanish, country Niger in Africa etc. (both from Latin, so is the n-word)

[2018-09-29 18:26] retrosight commented on #523
@Kristinita

Generally speaking, it has been my experience that most individuals (especially those more technical than the average, which would seem to be the case for most people participating in open source contributions) know how to take an obfuscated email address and convert it to a real email address.

Some common examples you might want to try which are rather easy for humans to parse with

[2018-09-29 20:01] retrosight commented on #516
Seems like a thing to consider for the [FAQ](/ContributorCovenant/contributor_covenant/blob/release/content/faq.md)...?

This is how I've seen folks think of the different personas involved in a project:

* **Leader** - Has broad sway and say over the direction of the project, could be in any of the other roles.
* **Maintainer** - Has ownership of the project, typically with administrator or root

[2018-09-29 20:05] retrosight commented on #476
@CoralineAda I believe your reply immediately above would be a good candidate for the FAQ, to explain the difference. Happy to create a pull request to add -- if that would be appropriate.

[2018-09-29 20:39] CoralineAda commented on #476
Please do! That's a great idea.

[2018-09-30 21:43] Atavic commented on #597
@falkTX As a country with a self-appointed leader, this repository seems like a Dictatorship.

[2018-09-30 22:00] beoran commented on #597
Many good open source projects have a benevolent dictator. From the point of view that those one who works the most on a project has the most property rights to it, this is often quite justified. Less justified is when this CoC is used to try and remove said rightful owner...

[2018-10-01 00:55] thedumbtechguy opened #602 "Racist, Sexist maintainer should be removed from project."
Caroline Ada is publicly calling out white men on Twitter for being, well, "white men". Their Twitter profile clearly states they are the creator of this project. Is this what adopters and other maintainers want to be reflected in this project?
Will any white men feel comfortable contributing to projects that have adopted these guidelines?

The guidelines state
[code]

However, a cursory read of t

[2018-10-01 06:32] falkTX commented on #597
We just had #602, closed without any word said about it.
In a democracy, everyone has a right to speak, which I guess is not what the creators of this project have in mind. It just looks bad for them...
I had hopes for this CoC, but now I am just getting disappointed.

Their mentality is basically "Do as I say, not as I do".
If you can't live by your own rules, whose rules are you going to follow?

[2018-10-02 05:08] beoran commented on #597
Be that as it may.
Will to power, I would say.
Don't get disappointed. Fork.
It's the open source way to work.

[2018-10-02 05:32] SilicaAndPina opened #603 "Ban CoralineAda from contributing for Violating the Code Of Conduct"
As you can see here. CoralineAda has gone out of there way to say very racist things towards White Males:
https://twitter.com/CoralineAda/status/1029162264979546112
This is a violation of the Code Of Conduct and thus they should be banned.

[2018-10-02 06:08] SilicaAndPina commented on #597
it should be a meritocracy.

[2018-10-02 14:07] david0178418 commented on #603
Seems to be a duplicate of #602.  Unfortunately, it has been locked, though (no surprises there).

[2018-10-02 14:16] david0178418 commented on #603
Here are the archives of some of the hate posts that @SilicaAndPina  and @thedumbtechguy (in #602) pointed to:

https://web.archive.org/web/20181002140938/https:/twitter.com/CoralineAda/status/1029180145507164160
https://web.archive.org/web/20181002092946/https:/twitter.com/CoralineAda/status/1029162264979546112
https://web.archive.org/web/20180723025528/https:/twitter.com/CoralineAda/status/10211

[2018-10-02 14:17] #603 closed

[2018-10-02 21:01] bladeoflight16 commented on #73
@CoralineAda

This is the reason why the American founders chose the words "inalienable rights." The only way to have real tolerance or kindness or justice or any virtue is if it applies to everyone, regardless of whether they're over- or underrepresented. A person's wealth does not make them wrong anymore than poorness  makes someone right. A person's out of the ordinary sexual desires does not m

[2018-10-04 07:23] tikabass commented on #476
Adding 'race', 'ethnicity', 'cultural origin', are all attempts to classify people.  As is 'political views', 'language', 'social group'.  This makes pretty much all of the CoC discriminatory by design...  As to the 'enforcement' provisions, I thought we had gotten rid of that way of thinking at the end of WWII.

[2018-10-07 12:12] joshtriplett commented on #417
The current version already includes "socio-economic status", which should fully address this.

[2018-10-08 09:18] geertu opened #610 "[PATCH] code-of-conduct: Remove explicit list of discrimination factors"
Providing an explicit list of discrimination factors may give the false impression that discrimination based on other unlisted factors would be allowed.

The attached patch (originally submitted for Linux, but people told me it should be submitted here instead, as it is not Linux-specific) fixes that.
I believe it also fixes https://github.com/ContributorCovenant/contributor_covenant/issues/476

A

[2018-10-08 14:52] CoralineAda commented on #610
I'm not going to make this change to the Contributor Covenant itself, since I believe that explicitly listing examples of protected classes is important. However, any adopting project is free to modify the document according to the license.

[2018-10-08 14:52] #610 closed, assigned to nobody

[2018-10-08 15:10] joshtriplett commented on #610
I suspect that the concern here might be better addressed by a FAQ entry, along these lines:

-----

**The Contributor Covenant explicitly lists a set of protected classes; does this make it acceptable to discriminate or make others feel unwelcome based on other factors?**

No. The Contributor Covenant explicitly lists protected classes for many reasons, such as reminding people to give them appro

[2018-10-08 15:14] CoralineAda commented on #610
I like this idea. Mind opening a PR?

[2018-10-08 15:15] joshtriplett commented on #610
@CoralineAda Will do.

[2018-10-08 15:24] joshtriplett commented on #610
Done: https://github.com/ContributorCovenant/contributor_covenant/pull/612

[2018-10-09 04:17] her001 commented on #417
So it does, thanks for pointing that out.

[2018-10-09 04:17] #417 closed

[2018-10-09 07:57] x1024 commented on #610
All classes of people are equal, but some of them are more equal than others.

[2018-10-15 07:59] adamretter commented on #339
Oooh... I would like a nice badge for our projects too!

[2018-10-31 20:33] thorwil opened #624 "Contribution implies a pledge!?"
This CoC contains "... we as contributors and maintainers pledge ...". A person who submitted a patch that got applied surely is a contributor, right? But a person may get a patch into a project:
- before the project adds this CoC
- being unaware of the presence of this CoC
- without reading it, even given awareness of the presence
In any case, this CoC claims that the contributor made a pledge, w

[2018-12-04 15:31] MubashirullahD opened #633 "Page Not found"
Hey there.
I am doing the community-starter-kit course from lab.github.com and the last part of the course was adding the code of conduct file. I was referenced to this website [https://www.contributor-covenant.org/](url) and asked to copy the markdown. Well, the link [https://www.contributor-covenant.org/version/1/4/code-of-conduct.markdown](url) is broken and I get this text displayed:

![image]

[2018-12-04 17:09] CoralineAda commented on #633
Thanks for finding this… we’re working on a fix now and should resolve this later today.

[2018-12-04 17:54] CoralineAda commented on #633
This is fixed!

[2018-12-04 17:54] #633 closed, assigned to nobody

[2018-12-06 18:29] ghost opened #636 "systemd dismisses CoC advocacy as "peanut gallery""
I have chimed in on https://github.com/systemd/systemd/issues/11026 with good faith that if systemd had a Code of Conduct like this one, which brings positive change, bugs would occur less. My contribution was dismissed as a call from the "peanut gallery".

[2018-12-06 20:54] dasJ commented on #636
@rmoog But how would a CoC prevent bugs from happening? Just curious :peanuts:

[2018-12-06 21:14] LuciuSVN commented on #636
Vào Thứ Sáu, 7 tháng 12, 2018, Janne Heß <notifications@github.com> đã viết:

--
Thanks and best regards
N.V.Hai (Mr.)
Mob: +84 913 054 388

*Chip Import - Export CompanyVietnam Paper Corporation*
#1 - CaiLan road - BaiChay ward - HaLong city - QuangNinh Prov - VietNam
Tel:  +84 33 3849371 / Fax: +84 33 3849517

[2018-12-09 08:09] Uzlopak commented on #476
In the German constitution we have in article 3: "no one shall be discriminated because of his [...]race[...]". When the constitution was written in 1949 no one thought about it being wrong and like everything it got interpreted correctly as "no one shall be discriminated based on racist views.

[2018-12-13 06:12] LuciuSVN commented on #636
#106

[2018-12-27 15:05] seschu01 commented on #476
@CoralineAda "The US has for centuries struggled with issues of race-based violence and discrimination. Race is the word used to frame that conflict."

Really? No other country has ever had this issue? It is isolated to the US? Please, if you are going to run this thing try to abstain from generalities.

[2018-12-28 01:56] StakeHolder86 opened #640 "Make it more human rights friendly"
The covenant is too america-centric and could be unapplicable e.g. in european law systems.

While in the US a nearly limitless freedom of speech is granted, in europe we dont have such limitless freedom. We can not extend the middle finger to a cop and claim to be safe by the first amendment. We can be prosecuted for insulting somebody and have to pay a hefty fine. But on the other hand, we have

[2019-01-01 18:49] camerons commented on #597
I'm happy to work on the ContributorCovenant under a benevolent dictator model. I trust @CoralineAda's motivations and competency based on the quality of her work to date, and her significant evangelising.
However, I too would respectfully suggest that a more sustainable long term strategy would be to adopt "Project Steering Committee" and decision making process, as you see in the many Open Sourc

[2019-01-01 23:24] camerons commented on #255
Improving the clarity around the term "sexualized language of imagery" is something that I feel would be very valuable. It is a topic we have struggled with in the Open Source Geospatial Community.
We consumed significant bandwidth [discussing](https://lists.osgeo.org/pipermail/discuss/2015-June/thread.html) whether the picture of a girl band and a Salvador Dalí painting should be removed as per o

[2019-01-02 02:19] camerons commented on #229
I agree with the sentiment of @davidcelis. A CoC which focuses on highlighting and exposing wrong doing will lead to flash points where defendants feel attacked and are likely to come out fighting in order to defend themselves. I believe such flash points can be significantly mitigated by using supportive instead of dictatorial language. It provides the opportunity for the person being accused to

[2019-01-08 03:32] stephenburgess8 commented on #476
@CoralineAda Thank you for hosting a discussion on this topic. I strongly feel that race is an entirely appropriate addition to this list. I think there's a reason the term is "racism" and not "ethnicitism" which points to race being the correct word. The common discussion about discrimination is discrimination against people of one race or another, not against one ethnicity or another. That's not

[2019-01-08 19:30] #521 closed

[2019-02-16 17:38] jonschlinkert commented on #640
The contributor covenant is additive to existing laws, it is not a legal agreement, nor does it express any intent to uphold or reinforce laws. Its purpose is to "foster an atmosphere of kindness, cooperation, and understanding" and to "...signal your intention to make your open source community welcoming, diverse, and inclusive".  The covenant doesn't need to express law, since laws already do th

[2019-02-16 17:44] jonschlinkert commented on #636
While I am a huge advocate of the Contributor Covenant, and I also agree that you should have mentioned it, you did, in fact, make an off-topic comment. It would have been more effective had you created a new issue to broach the topic.

[2019-02-16 17:46] jonschlinkert commented on #597
It already is a democracy.

- Anyone who agrees with it can use it, as is
- Anyone who has suggestions for improvements can do so through a pull request or discussions on issues
- Anyone who disagrees can fork the project or create a new one with entirely new language

[2019-03-29 04:27] june128 opened #659 "Ambiguous Sentence in Scope-section"
I'm currently adding a modified version of the Contributor Covenant to a project that I'm contributing to/maintaining. In a discussion about the Code of Conduct we found the following sentence (in the Scope-section) to be quite ambiguous:

[code]

The meaning of this sentence isn't really clear, since the `when an individual is representing the project or its community`-part could either apply to

[2019-03-29 04:28] CoralineAda commented on #659
It could maybe be "This Code of Conduct applies within all project spaces, and also applies when an individual is representing the project or its community in public spaces."

[2019-03-29 04:34] june128 commented on #659
Yeah, I think that also makes it unambiguous enough. The use of a semicolon was a point in the discussion we couldn't agree on, so that comes down to personal taste I guess.

[2019-03-30 00:35] june128 commented on #659
I just realized that you also put the `in public spaces` at the very end of the sentence and I think that removes all ambiguity well.
I created a PR with the change: https://github.com/ContributorCovenant/contributor_covenant/pull/660

[2019-04-01 11:58] june128 commented on #659
#660 resolved this issue.

[2019-04-01 11:58] #659 closed, assigned to nobody

[2019-04-05 08:01] yaider53 opened #665 "Newton's cradle-differential equations"

[2019-04-18 15:02] #665 closed, assigned to nobody

[2019-05-10 11:58] Mitchell128134 commented on #597
That's not a democracy. A democracy is everyone has a say, not where everyone can ask the person in charge to do something. I think @CoralineAda should be removed due to her repeated violations of her own rules. Also, she'll shut down any dissenting issues before they have a chance to be seen.

[2019-06-02 15:59] reymen28 opened #676 "markdown-cheatsheet"
[markdown-cheatsheet-online.pdf](https://github.com/ContributorCovenant/contributor_covenant/files/3244958/markdown-cheatsheet-online.pdf)

[2019-06-26 14:25] metonymic-smokey commented on #139
Hey,
I am a native Hindi speaker and am interested in contributing to the Hindi translation, if the issue  is still open.

Thanks,
Aditi.

[2019-06-27 04:18] nirbheek commented on #139
@metonymic-smokey Hello! I was passing by and saw your comment, it seems there's already a Hindi translation: https://github.com/ContributorCovenant/contributor_covenant/blob/release/content/version/1/4/code-of-conduct.hi.md

Maybe you'd like to give it a review and verify whether everything's translated correctly? You can open a github pull request with any changes. If you need help with figuring

[2019-07-10 19:41] brunobritodev opened #684 "reStructuredText version"
Actually many projects are using Read the Docs. It's a plataform to create docs, and make sense to provide there a Code of Conduct for those who want to contribute. But it uses reStructuredText (.rst) files. The syntax is little bit different from Markdown.

There are any plans to add a version with rst syntax?

If it's a desirable feature, I could provide it in English version

[2019-07-30 03:00] OceanPond commented on #597
Democracy is people railing against absolute power in search of ... absolute power. 🙈🙉🙊

[2019-07-31 12:22] flying-sheep commented on #388
That would be a way to provide a link to “our CoC” without copying the text to your own project.

[2019-08-15 05:40] alisonatwork opened #695 "Tense confusion in opening sentence"
We are in the process of adopting a modified version of the Contributor Covenant in several open source projects that we maintain. One minor change we are making is detailed in #644 but another one is to remove tense confusion that arose between 1.3 and 1.4.

In 1.3:

In 1.4:

There was some discussion around how this sentence in 1.4 should say "pledge to make" instead of "pledge to making". Searc

[2019-08-15 14:42] CoralineAda commented on #695
Yes, feel free, and thanks!

[2019-08-17 01:07] alisonatwork commented on #695
Thanks for the quick merge! #696 has resolved this issue.

[2019-08-17 01:07] #695 closed, assigned to nobody

[2019-09-25 13:45] nateberkopec commented on #640
Unfortunately, this is debatable, as raised in #284.

[2019-09-27 01:46] CoralineAda opened #710 "Draft 2.0 discussion"
Please use this thread to discuss the draft of Contributor Covenant 2.0
(https://github.com/ContributorCovenant/contributor_covenant/pull/709)

[2019-09-27 18:49] gr2m commented on #710
Thanks Coraline for your hard work! I appreciate you list the differences between the two versions. I wonder if there is a way to see a git diff (if that\ would be useful at all)?

[2019-10-01 18:05] ChristinaAPerez opened #711 "CoC Should Protect Radical Feminists"
As a radical feminist, I believe women are oppressed on the basis of their
biology, and that gender is a social construct.  Accordingly, I reject the term
'cis' and cannot, in good conscience, pretend as if it were possible for a man to
be a woman.

The Contributor Covenant does not, in its current state, seem to protect my
right to hold these beliefs.  Please add a clause explicitly stating that

[2019-10-02 08:08] Himanshu-Garg opened #712 "Introducing new language : Hindlish"
Suggestion -
Hindlish = English + Hindi (means typing hindi in english).

Nowadays, most of the Hindi speaking nations dont prefer to read or write in hindi.
They prefer to read a hindi sentence written in english.
https://www.google.com/amp/s/thewire.in/culture/the-rise-and-rise-of-hinglish-in-india/amp/

So, shouldnt the convent be available in Hindlish also?

Suggestions....

If yes - i can wor

[2019-10-03 14:36] ChristinaAD opened #713 "CoC Should Protect Radical Feminists and Gender Critical Men and Women"
As a radical feminist, I believe women are oppressed on the basis of their biology, and that gender is a social construct. Accordingly, I cannot, in good conscience, pretend as if it were possible for a man to be a woman.

The Contributor Covenant does not, in its current state, seem to protect my right to hold these beliefs. Please add a clause explicitly stating that women shall not be compelled

[2019-10-03 15:31] #713 closed

[2019-10-03 15:38] falkTX commented on #713
hmm what happened here?

[2019-10-22 09:47] Jochem-L opened #719 "Something missing"
I think something is missing. The CoC does mention religion, but not ideology/belief/life stance/... (not sure which word to use in English; this is a bit outside my technical comfort zone). So it seems to exclude non-religious communists, atheists, humanists etc., as well as people with their own personal non-religious belief system that has not been labelled with a name. In the current version,

[2019-10-29 18:58] bnb opened #725 "Suggested Avenue for Linking Translated Versions"
In a meeting today, someone brought up that the benefit of linking directly to the latest version rather than having the full text committed to the CODE_OF_CONDUCT.md file is that we get easier access to the translations.

I'm curious if this is a recommended approach, or if there's an alternative approach that's recommended like augmenting the contents and adding an appendix that includes links t

[2019-10-29 19:01] CoralineAda commented on #725
It's a good idea, but because the code of conduct needs to be customized with at the very least contact information (and ideally enforcement information), the file really needs to live in the repo or at the org level. Maybe another approach would be to add a link to the translations page from the bottom of the document?

[2019-10-29 19:11] bnb commented on #725
I think that's a totally reasonable approach! Would this be something you'd want to see end-users do themselves or would it be something that's included in the source files?

[2019-10-29 19:32] CoralineAda commented on #725
I’ll add it to the footer. Thanks for the great suggestion!

[2019-10-30 11:00] Devashishsingh98 opened #728 "Spelling_was_not _correct"
I have created a pull request for the correction of spelling in the 'Hindi' translation[code of conduct].

[2019-10-30 11:02] Devashishsingh98 commented on #728
Please, let me know if there is anything. I can do for the translation in Hindi. As i am,new to git i am trying to learn how to fork, pull request, cloning branches, editing etc

[2019-11-02 07:05] Devashishsingh98 opened #731 "word_correction"
I have corrected the word will provide clear meaning of the word. These word were the exact conversion of English word to hindi word with no clear translation.

link:-

https://github.com/ContributorCovenant/contributor_covenant/pull/729/commits/267ad14961ec79ffeabf378af9db0885c58b376a

[2019-11-02 22:05] elsandosgrande opened #732 "Translations for the Serbo-Croatian languages"
While Bosnian, my native language, is already present, it is only present in Latin, while both Latin AND Cyrillic are official scripts in Bosnia. Also, there are no Croatian and Serbian variants.

As an example of what I mean, look at the final state of https://github.com/InBetweenNames/gentooLTO/pull/434 . As soon as you give me the green light, I will start working on the translations to Serbian

[2019-11-02 22:07] CoralineAda commented on #732
That sounds great, thank you in advance!

[2019-11-02 22:14] elsandosgrande commented on #732
Oh, also, "saradnici" is "coworkers", not "contributors". "doprinositelji" and "pridonositelji" are though. This is from the second sentence of the translated code of conduct. My mother does note that "saradnici" sounds more natural/is more common that the latter two, but I still think that the latter two are more correct. Then again, a lot of things regarding git sound unnatural once I translate

[2019-11-04 08:05] elsandosgrande commented on #711
First off, you say that gender is merely a social construct, yet you follow that up with a mentality that does not indicate that. If gender were merely a social construct, how could you not "pretend" that a person who underwent surgery to change their gender is still their old gender? Please clarify that point.

Second, where is "... women
shall not be compelled to use speech that denies their own

[2019-11-04 08:20] elsandosgrande commented on #624
Good point. I'll notify Shane Peelar (GentooLTO; I will also need to add GentooLTO to adopters.csv) of this point of worry.

[2019-11-04 08:49] elsandosgrande commented on #523
Also, people worried about this could simply create another email address for the purpose of the repository(ies).

[2019-11-04 09:33] AmyCupcake commented on #711
I think I should mention that they also created the account to say this, and have not used the account since, I'm possibly a bit of a hypocrite as I also only use github rarely as I haven't had any projects that need it in years, but I find it rather telling and indicative of trolling

[2019-11-05 22:30] elsandosgrande commented on #711
Well... That's lovely.

[2019-11-06 05:26] triggerNZ commented on #732
I'm happy to review the croatian one if birth in the country is a requirement.

[2019-11-06 12:15] elsandosgrande commented on #732
@triggerNZ Honestly, I am more concerned for the Bosnian one, since I generally tend to lean towards Croatian terminology, like saying "tisuća" instead of "hiljada", "e-pošta" instead of "imejl" and so on. Of course, I double-check with Bing and Google translators and then run that by my mother.

#### Side note
@CoralineAda The formatting for the original (English) covenant is very strange. I mean

[2019-11-07 03:07] triggerNZ commented on #732
@elsandosgrande yeah i i can't help too much with the bosnian one either, I'd just be defaulting to Croatian.

[2019-11-07 23:44] elsandosgrande commented on #732
It's no biggie. As long as one of them passes with flying colors, the others will almost certainly follow suit.

Now, what's taking Coraline so long?

[2019-11-07 23:57] CoralineAda commented on #732
Taking me so long for what? I'm not clear on what you need from me?

[2019-11-08 15:31] elsandosgrande commented on #732
To quote the two edits from my comment following yours: "

Edit
===

So... Am I to start work on the translations right now, or...

Edit two
===

Should we cc the original author of the translation, at least for the sake of politeness? Judging from https://github.com/ContributorCovenant/contributor_covenant/blob/release/content/version/1/4/code-of-conduct.bs.md, it's https://github.com/fjallarefur

[2019-11-08 15:38] CoralineAda commented on #732
Yes, that sounds like a good plan! :)

[2019-11-08 15:57] elsandosgrande commented on #732
CC-ing him, retouching the translation, or both?

[2019-11-08 15:58] CoralineAda commented on #732
Both. They may want the opportunity to review or otherwise participate.

[2019-11-08 15:59] elsandosgrande commented on #732
I thank thee for your swift reply!

cc @fjallarefur

[2019-11-11 18:52] illfygli commented on #732
@elsandosgrande I am not the original author of the translation. I converted the website to use a static site generator, and it seem that git now thinks that I authored a lot of things.
It looks like @ivana-mcconnell contributed the original translation.

[2019-11-11 22:09] elsandosgrande commented on #732
Oh... All right then. That was unexpected.

[2019-11-13 10:49] nmstreethran commented on #710
Hi Coraline, the [link to the latest version of the CoC provided in the attribution section](https://www.contributor-covenant.org/version/2/0/code_of_conduct#attribution) is broken. It's caused by the use of underscores instead of dashes in the markdown file name. I'm unsure if it's more appropriate to correct the link, or to change the file name, so I thought I should point it out to you. Thanks!

[2019-11-13 14:00] CoralineAda commented on #710
Oh, thanks for finding this! I didn’t realize that I changed from code-of-conduct to code_of_conduct in 2.0.

Fixed!