[2019-11-14 19:10] paulolimac commented on #710
Is v2.0 released?
if yes, please when possible, update:

- ~~[_Latest version_ menu link](https://www.contributor-covenant.org/version/2/0/code_of_conduct)~~ already updated;
- [_Latest version_ homepage section](https://www.contributor-covenant.org/#contributor-covenant-v1-4-1);
- [_Badge_ from shield.io](https://www.contributor-covenant.org/#using-the-contributor-covenant);
- [_Translations_ lin

[2019-11-14 19:26] CoralineAda commented on #710
Great call. I updated the badge, but the translations will update with each 2.0 translation.

Thanks!

[2019-11-14 19:26] #710 closed, assigned to nobody

[2019-11-14 19:38] paulolimac commented on #710
nice @CoralineAda

about the badge, you updated 1 of 2.
The _code snipet is outdated_:

`[![Contributor Covenant](https://img.shields.io/badge/Contributor%20Covenant-v1.4%20adopted-ff69b4.svg)](code-of-conduct.md) `
[![Contributor Covenant](https://img.shields.io/badge/Contributor%20Covenant-v1.4%20adopted-ff69b4.svg)](code-of-conduct.md)

update it to:

`[![Contributor Covenant](https://img.shiel

[2019-11-14 20:22] CoralineAda commented on #710
Oops, fixed!

[2019-12-12 00:24] XaviTorello opened #738 "Provide Catalan translation"
Will be great if a Catalan version of the CoC can be provided.

[2019-12-12 21:14] mdekstrand opened #740 "How does Contributor Covenant interact with Title IX obligations?"
I am considering adopting the Contributor Covenant for open-source software that I maintain and distribute as a part of my university activities. I also intend to consult with our compliance office before doing so, but would like to understand from a CC community perspective how Contributor Covenant interacts with university structures and legal obligations.

University lawyers might find more thi

[2019-12-21 18:15] cmsmcq opened #741 "A possible addition to FAQ: did someone do something wrong here? was there a problem?"
This may or may not be a frequently asked question; maybe it's only me.  But when organizations, events, or projects announce the adoption of a code of conduct, I find myself asking "er, was there an issue?  has there been a problem of which I have been blissfully unaware?", with perhaps the undertones of "am I really that clueless?" and "is this coming out of the blue?"  (Why should anyone react

[2019-12-30 10:12] sky662000 commented on #712
yes, i am willing to work on this

[2020-01-05 12:47] Aspie96 commented on #597
To anybody interested in #602, it was immediately locked (not closed) and then promptly removed, but you can easily read it here:
https://web.archive.org/web/20181001094604/https://github.com/ContributorCovenant/contributor_covenant/issues/602

(Notice: The maintainer cannot ask Archive to remove the page, as it does not break copyright law).

[2020-01-05 19:34] camerons commented on #597
@Aspie96 #602 publicly calls out for a specific person to be removed due to comments that they have made outside of this forum.
While I feel it is appropriate to call out a behaviour type as inappropriate, getting personal about it is likely to lead to unconstructive personal attracts.
I appreciate the irony of a rule not holding true for the creator of the rule, but the world is a messy place and

[2020-01-05 19:55] Aspie96 commented on #597
specific person to be removed due to comments that they have made outside
of this forum.
She has done that as well!

Also, the Code of Conduct applies outside of the project as well for
maintainers, thus she broke the CoC.

However, we are OT (my fault). I posted the Archive version simply because
the issue was mentioned. In case someone was reading the conversation, it
is useful for them to have

[2020-01-06 17:56] josegonzalez opened #744 "Update changelog for 2.0"
I was going through an org I manage and saw that I didn't have an org-wide code of conduct, so wanted to check if CC had an update. Noticed that the 2.0 version came out - cool! - but the changelog wasn't updated - womp womp.

Would be awesome if someone more knowledgeable about the update could get that updated (I'm reading through it now myself, might get a chance to make the PR).

Thanks in adv

[2020-01-13 12:54] Aspie96 commented on #408
This issue must absolutely be reopened.

What Coraline says is irrelevant. If the CoC is ambigous, it is. Even the FAQ don't matter. What does matter is the code itself. If we don't want the CoC to apply to personal spaces (such as a Twitter account), this must be clear and obvious, which it's not.

[2020-02-16 04:05] bkstigler08 commented on #598
Be on your Game or Be Gone!

[2020-02-22 01:34] Jorgeptz commented on #744
`.`

[2020-02-24 21:45] lofidevops opened #756 "Does 2.0 effectively replace the Community Covenant?"
The ["Contributor Covenant 2.0 Draft"](https://opencollective.com/contributor-covenant/updates/contributor-covenant-2-0-draft) and related [PR](https://github.com/ContributorCovenant/contributor_covenant/pull/709) suggest that Contributor 2.0 effectively supersedes [Community 1.0](https://community-covenant.net). Is that right?

Obviously anyone can adopt whatever version of whatever code. I'm ask

[2020-02-24 21:46] CoralineAda commented on #756
That is accurate, yes. The Contributor Covenant should now be applicable in the situations that the Community Covenant was designed for.

[2020-02-26 10:43] Aspie96 commented on #73
It is in other codes of conduct.

[2020-02-26 15:54] #756 closed, assigned to nobody

[2020-03-06 19:11] renemarc opened #757 "Markdown line hard-wrap discrepancy in v2.0"
Before v2.0 gets adopted too widely, I propose that the markdown version be hard-wrapped to 80 characters [like v1.4 mostly was](https://raw.githubusercontent.com/ContributorCovenant/contributor_covenant/release/content/version/1/4/code-of-conduct.md).

[Currently in v2.0](https://raw.githubusercontent.com/ContributorCovenant/contributor_covenant/release/content/version/2/0/code_of_conduct.md) a f

[2020-03-07 03:35] renemarc commented on #757
Closing this issue since PR was merged. Yay! 😃

[2020-03-07 03:35] #757 closed, assigned to nobody

[2020-03-08 20:53] PeteBishwhip commented on #711
I have to concur with those above. I don't personally believe this issue has any precedence or any legitimate reason for concern. My take on the current copy is that of the first paragraph:

This, in its own right makes clear that everyone, regardless of any varying characteristic is welcome.

I move to see this issue closed with no further action.

[2020-03-13 00:31] elsandosgrande commented on #711
@PeteBishwhip I concur.

[2020-03-21 00:26] Atiwat519 commented on #598
Good

[2020-04-07 19:50] justwheel commented on #740
I am not a lawyer, but as a student and university employee interested in combining the Contributor Covenant into open source projects I maintain [as part of my employment with my university](https://github.com/FOSSRIT), I am also interested in the intersection of the Contributor Covenant and Title IX legislation.

At the least, being able to confidently assert the Contributor Covenant is compatib

[2020-04-07 19:58] justwheel opened #769 "Does it make sense to integrate language about Principles of Authentic Participation?"
Hi!

Would it make sense for the Contributor Covenant to include language for the [Principles of Authentic Participation](https://authentic-participation.readthedocs.io/) for open source projects?

This is part of an effort I am working on with others to draft a set of Principles of what authentic participation in open source projects look like, which includes individuals, corporations, NGOs, etc.

[2020-04-29 01:46] ghost opened #775 "URL"
Url Clone I don't know what to do

[2020-05-05 06:00] rahljoshi commented on #775
first try to fork the repository and then clone it to ide or to  any software in your pc/laptop

[2020-05-20 14:31] #738 closed, assigned to nobody

[2020-05-31 11:24] Eomm opened #783 "404 CoC v2.0"
In docs there is this link:
https://www.contributor-covenant.org/version/2/0/code-of-conduct.html

that brings me to a 404 page:

![image](https://user-images.githubusercontent.com/11404065/83351187-1b55d380-a342-11ea-85aa-9150a3ae3cdc.png)

Should it be https://www.contributor-covenant.org/version/2/0/code_of_conduct/ ?

[2020-05-31 11:43] Eomm commented on #744
I agree

Translating the ita version, I think the breaking changes are:

- there is no more reference to a "project", but only to a "community"
- now the responsibles are the community leaders and no more the project maintainers
- enforcement guidelines to standardize how to act when there is a case

Of course, there are other changes to be more inclusive (like `visible or invisible disability`) b

[2020-06-02 15:23] chrisgraham opened #786 ""pledge" for "harassment-free""
Hi,
I am a bit concerned by:

To me, one makes a pledge that they are confident they can meet, but I think it's not realistic that any community will be harassment-free. In fact, the Contributor Covenant explicitly shows how to deal with it when there is harassment going on.

I would change it to say "leaders pledge to strive towards making participation in our community a harassment-free experien

[2020-06-02 15:34] chrisgraham opened #787 "Listing protected classes"
I think it's great that the Contributor Covenant is listing protected classes.
However, I would make it more clear that these are examples.
This is for a few reasons:
1) Being seen as completely explicit does make it look to at least some readers that this is a closed list
Bullies will always find more ways to bully. For example, they may bully based on people's lack of personal style (e.g. choice

[2020-06-02 15:39] chrisgraham opened #788 ""Harassment""
The Contributor Covenant predominantly talks about "Harassment".

According to dictionary.com, the definition is:
"to disturb persistently; torment, as with troubles or cares; bother continually; pester; persecute.
to trouble by repeated attacks, incursions, etc., as in war or hostilities; harry; raid."

Basically, ongoing targeted behavior.

IMO there are common abusive behaviors that do not fit

[2020-06-02 15:42] chrisgraham opened #789 ""Accepting responsibility""
This example of positive behavior is listed:

I think we need to be very careful with use of the word 'responsibility'. Different people use the word in different ways, but there is definitely a legal understanding that conveys a need for recompense.

I am worried that the Contributor Covenant could be used as legal justification to seek compensation from a developer who creates a bug that leads t

[2020-06-02 15:46] chrisgraham opened #790 "What's best for individuals verses the community"
While I agree with the spirit of this sentence, I think is is slightly problematic. The way it reads right now, I'd interpret it as putting community over individuals.

A common example of where that might be a problem: If someone works incredibly hard to the detriment of their personal life in order to provide something of significant value to the community as a whole. This is quite common in Ope

[2020-06-02 15:59] chrisgraham opened #791 "Being "professional""
I think it's problematic to talk about making Open Source "professional" without further qualification.

Often people in Open Source are contributing informally as a hobby, and don't want to have to meet the same bar that they'd have to meet in the workplace. Of course there are inappropriate behaviors we need to present, but the set of things that are "unprofessional" is much wider than that.

Fo

[2020-06-02 16:06] chrisgraham opened #792 "Public apologies"
I think this sentence needs elaborating on because needing to publicly apologize is a matter of "face", which is very important to people. Frankly, I find it a scary sentence to read as a newcomer to a code of conduct.

I recognize that we probably don't want to write a short essay here on what is and is not appropriate based on particular behaviors, how different people are going to see things, a

[2020-06-02 16:19] chrisgraham opened #793 "Guilting and Manipulative behaviors"
A common problem in Open Source communities is people trying to push people into things, by making demands and/or making people feel guilty. Related, trying to manipulate people into doing what you want. This can cause a lot of psychological harm.

For example, demanding a maintainer implements a new feature.
For example, a maintainer trying to manipulate someone into being a contributor by hangin

[2020-06-02 16:33] chrisgraham opened #794 "Signposting"
I think a good positive behavior to add would be to talk about effective signposting.

Often maintainers will be overwhelmed with people requesting things from them, and not able to individually provide what people need.

For a long time personally I did not know how to deal with this. It seemed that I had to either ignore people (bad), or tell people I could not help (usually creating an argument

[2020-06-02 16:35] chrisgraham opened #795 "Focusing on building mutual understanding"
Commonly people conflict because they don't take the time to understand each other's perspectives.

I'd consider adding another positive behavior to the list to encourage this:

[2020-06-02 19:58] chrisgraham commented on #795
I talked to a colleague and they independently had a concern about egoistical and impatient answers from people in OSS communities, and we agreed it could be covered by this issue if we expand the wording a little...

[2020-06-02 20:19] chrisgraham commented on #787
My colleague also points out that writing a long list that seems it is trying to be exhaustive may present problems when considering things globally, as different cultures have different issues when it comes to discrimination. For example, 'caste' in India (which is distinct from socio-economic status).

[2020-06-02 20:33] chrisgraham commented on #788
(My colleague @Lovinity and I are discussing this, but they cannot log in due to a GitHub issue, so I am going to quote them)

[2020-06-02 20:35] CoralineAda commented on #788
I know you mean well, but you've opened over a dozen issues today. I'm not looking for the kind of help you're trying to offer right now, but I appreciate the interest.

[2020-06-04 19:54] chrisgraham commented on #788
Sorry if it was overwhelming to you.
From where I'm sitting, I am just trying to be responsible.
I want our community to follow best practices in the sense of having a CoC and it being an industry standard, but also to do what I can to ensure it is as good as it reasonably can be by collaborating in the spirit of OSS.
Possibly you found some of my comments pedantic. I just want to make things as w

[2020-06-04 20:14] CoralineAda commented on #788
Contributor Covenant is licensed such that modifications can be made with attribution, and in fact modifications are encouraged to adapt to the community that adopts it. There’s no need to fork or try to write your own v3. However, the language has been very carefully written, hardened, and proven over the past 6 years, and I strongly recommend consulting with someone well-versed on the issues for

[2020-06-12 21:47] oleg-nenashev commented on #744
@CoralineAda are there plans to add a changelog and a Git tag for Contributor Covenant 2.0? We are working on updating the Contributor Covenant version in the Jenkins project ([dev list thread](https://groups.google.com/forum/#!topic/jenkinsci-dev/u0T56f9MSZY)), and it is hard to evaluate the changes between versions. The list from @Eomm helps a lot, but it would be great to have an official compa

[2020-06-12 22:52] CoralineAda commented on #744
Hi Oleg,

Let me take a crack at this over the weekend. Is there some reason that you want to consider 1.4 over 2.0?

[2020-06-13 14:23] oleg-nenashev commented on #744
Hi @CoralineAda, thanks for a quick response!

Personally I prefer 2.0. It is more specific w.r.t responsibilities, and it is important when it comes to large communities with dozens/hundreds of maintainers. I suggested 1.4 in our community as a target, because this is the version being used by our foundation.

It does not immediately prevent us from using Contributor Covenant 2.0, but it needs a

[2020-06-16 08:33] oleg-nenashev commented on #744
I made an attempt to create a changelog in https://github.com/ContributorCovenant/contributor_covenant/pull/800 . Hopefully it helps as a foundation for the final changelog.

[2020-06-26 03:06] max-keviv commented on #795
@chrisgraham  can i take this

[2020-06-26 03:11] chrisgraham commented on #795
If you mean you want to use my wording somewhere, absolutely. I don't claim any copyright or require any credit for anything I've posted here. If you mean you want to somehow contribute changes to the project, that's something I have no control over personally.

[2020-07-16 19:41] josegonzalez commented on #744
Yeah that seems to work, thank you @oleg-nenashev for following up here, it is definitely appreciated, and thanks to everyone else for bumping this too!

[2020-07-16 19:41] #744 closed, assigned to nobody

[2020-07-16 20:38] oleg-nenashev commented on #744
Happy to help!

On Thu, Jul 16, 2020, 21:41 Jose Diaz-Gonzalez <notifications@github.com>
wrote:

[2020-07-30 02:30] arlenjagdon53 opened #809 "code conduct"
thanks for fix my problem

[2020-07-30 02:31] #809 closed, assigned to nobody

[2020-08-04 01:42] avats-dev commented on #791
Hey @chrisgraham , I want to do this.

[2020-08-04 01:45] avats-dev commented on #783
#### Hey @Eomm , I think you're right.
Should I correct it?

[2020-08-04 07:43] Eomm commented on #783
I think it could be improved.

Right now if you navigate to:
- https://www.contributor-covenant.org/version/2/0/code_of_conduct/
- then click in the bottom link:

![image](https://user-images.githubusercontent.com/11404065/89266863-badf5d00-d636-11ea-887d-1305116bc885.png)

It works since netlify return a 301 that does the right redirect.

Instead, if I just start from a CoC like this one:
- https

[2020-08-04 16:16] chrisgraham commented on #791
Yes, but I don't know if the project is going to accept changes to the meaning of the document at the moment given the large number of translations and projects adopting it. So I'd check that first if I were you.

[2020-08-12 15:45] anezdoank opened #814 "Anezdoank"

[2020-09-04 17:27] xmunoz opened #825 "Bad link"
There is a link in the README that shows search results for projects that have adopted the Contributor Covenant.

The first search result is someone who has managed to trick this filter, and adopt something that is distinctly not in the spirit of the Contributor Covenant.

![Screenshot from 2020-09-04 10-24-52](https://user-images.githubusercontent.com/1065196/92269392-f15c0200-ee98-11ea-80db-d030

[2020-09-09 19:37] THNgit opened #829 "[![Contributor Covenant](https://img.shields.io/badge/Contributor%20Covenant-v2.0%20adopted-ff69b4.svg)](code_of_conduct.md)"

[2020-09-09 20:18] THNgit opened #830 "+SaltStack, https://github.com/saltstack/salt"
+SaltStack, https://github.com/saltstack/salt

__Originally posted by @THNgit in https://github.com/ContributorCovenant/contributor_covenant/pull/826#discussion_r485897148__

[2020-09-09 22:28] james-sabel commented on #825
Yikes! Do you think there's a way to create a different filter? Or maybe some sort of "white list" for those who *really* adopted the Contributor Covenant?

[2020-09-13 22:17] #829 closed

[2020-09-13 22:41] #830 closed

[2020-09-25 14:47] jyrj commented on #139
Hi, I would like to translate to malayalam

[2020-09-25 15:40] CoralineAda commented on #139
@jyrj That would be great! Instructions are here: https://github.com/ContributorCovenant/contributor_covenant#translating

[2020-09-26 07:36] andy3678 commented on #294
Así son las cosas ahora ya es más comprensible hacer todo fácil

[2020-09-26 07:46] andy3678 opened #842 "Uncontent/version/2/0/code-of-conduct.uk.md"
Abreviado

[2020-09-26 08:05] andy3678 opened #844 "Isbyeke.com"

[2020-10-01 16:23] vidhyav656 opened #846 "Add github pull request template for adding new project"
**Website Name:** "Example"
**Repository Link:** "https://github.com/github"

[2020-10-01 17:14] CoralineAda commented on #846
Love this idea!

[2020-10-01 17:22] vidhyav656 commented on #846
I am happy that you like my idea. So any contributions can be tracked and easy to maintain.  Let me send the add the required code.

[2020-10-02 16:46] vidhyav656 commented on #846
@CoralineAda can be assigned to this issue? I see you have committed d8153322b39ddaa138b14818942b38c27b8eef16 I want to improve and add some more guidelines.

[2020-10-02 18:16] CoralineAda commented on #846
That was me playing around. :) Yes, you are most welcome to lead on this issue!

[2020-10-13 14:06] andy3678 opened #853 "Suministrar y aclarar escrito"
@ktheory

[2020-10-22 20:14] gideongrinberg commented on #711
I concur with this @PeteBishwhip. Additionally, I have reported both @Cradamy and @ChristinaAPerez for violating the ToS and the Community Guidelines for Github. I think it raises an interesting issue. Perhaps there should be a clause added to the CoC explicitly stating that it does not protect discriminatory behavior?

[2020-10-24 14:30] agarwalvaibhav0211 commented on #139
@CoralineAda I would like to work on a Hindi Translation of Version 2? Is it already being done or can I work on Translating it?

[2020-10-24 15:01] CoralineAda commented on #139
@agarwalvaibhav0211 Only 1.4 has been translated to Hindi, so your translation would be most welcome! See the comment above for instructions. Thanks!

[2020-10-24 17:19] agarwalvaibhav0211 commented on #139
@CoralineAda in local sites on cloning the repo, translations are not available on translations page. Is it broken?

[2020-10-24 17:55] CoralineAda commented on #139
@agarwalvaibhav0211 Make sure you have the right version of Hugo installed. There may be an issue with recent versions

[2020-10-24 19:27] agarwalvaibhav0211 commented on #139
@CoralineAda I have sent a PR request #856 with a Hindi Translation of v2.0. Can you assign it a label of hacktoberfest-accepted and review it?

[2020-11-14 00:21] meg-gutshall opened #865 "The Code of Conduct Text/Markdown version has breaking hyperlinks"
## Description

At the bottom of your [Latest Version page](https://www.contributor-covenant.org/version/2/0/code_of_conduct/) for the Contributor Covenant Code of Conduct, I selected the "Text/Markdown" option listed next to "Other Formats." It displays [this page](https://www.contributor-covenant.org/version/2/0/code_of_conduct/code_of_conduct.md) in which not all the hyperlinks are available.

[2020-11-14 00:58] #865 closed, assigned to nobody

[2020-11-14 17:52] MikeRogers0 commented on #825
I figured out how the gamed it: They searched for the term, then clicked their own repo a bunch of times. I'm guessing GitHub is tracking clicks & feeding that into search results.
So if you click on your preferred results, they'll start to outrank that person. You can see it working if you start clicking results, then refresh the page.

One possible solution is to change the link to be [`https://

[2020-11-15 20:45] xmunoz commented on #825
I tried to flag the abuse to Github, but they effectively shrugged it off.

[2020-11-15 21:07] CoralineAda commented on #825
Thanks for trying. 🖤

[2020-11-15 21:08] #825 closed, assigned to nobody

[2020-11-19 21:21] SoniEx2 opened #867 "Anti-sex-work and corporate-coddling issues"
The Code of Conduct prevents it from being used in anything sex-work-related, which seems to be primarily designed to coddle corporations.

Sexualized projects are more effective than AGPLv3 at keeping corporations away because AGPLv3 can be easily handled but sexual harassment claims would be a lot harder to deal with. (Combining both is of course more effective.) However, content warnings may pr

[2020-11-19 23:21] CoralineAda commented on #867
Contributor Covenant is released under a Creative Commons license (https://github.com/ContributorCovenant/contributor_covenant/blob/release/LICENSE.md) and I always encourage community leaders to adapt it to their particular needs. That makes the code of conduct stronger, because it brings alignment with that community's unique culture and values.

I'd be interested in seeing how your particular a

[2020-11-19 23:21] #867 closed, assigned to nobody

[2020-11-29 10:20] sreev opened #869 "add apache heron to the adopters list"
https://github.com/apache/incubator-heron/issues/3636

[2020-11-29 10:55] sreev opened #871 "auto update code.md file on adopters projects"
automate the process:

create bot/hook
read adopter.csv
visit each project location
find the code of conduct md file
update it with new version md file
submit pull request

[2020-12-02 09:47] Evallus opened #872 "Translation to french"
Hello, I'm a french-native speaker and since I saw that the french-translation was a bit outdated, I was wondering if I could be helpful in any way.

I could try to translate it to the newest version if needed or help someone who's currently working on it.

[2020-12-02 16:22] CoralineAda commented on #872
That would be very helpful, thank you! Translation instructions are in the README. Thanks so much!

[2020-12-11 19:40] mbiesiad opened #879 "Few typos for pl_PL"
Hi. I found few small typos for Polish ver.
Fixed here with #[PR 878](https://github.com/ContributorCovenant/contributor_covenant/pull/878)

(...) oraz przynależność do jego społeczności były pozbawiony
(...) oraz przynależność do jego społeczności były pozbawione

(...) zarówno na forum publicznym jak i prywatne,
(...) zarówno na forum publicznym jak i prywatnym,

Best wishes,

[2020-12-11 20:07] mbiesiad commented on #879
Fixes merged. Issue closed.

[2020-12-11 20:07] #879 closed, assigned to nobody

[2020-12-11 20:10] mbiesiad opened #880 "Working on pl_PL ver. for 2.0"
Hi. I'm almost finished the Polish update for 2.0. Let's keep in touch.

Best wishes,

[2020-12-11 21:20] mbiesiad commented on #880
Created [PR 881](https://github.com/ContributorCovenant/contributor_covenant/pull/881)

Issue closed.

[2020-12-11 21:20] #880 closed, assigned to nobody

[2020-12-21 19:12] moneyglitxh opened #891 "Issues"
static/adopters.csv

[2020-12-29 04:04] felipec opened #892 "It's reasonable to expect tolerance, not respect"
The current version states the following as expected behavior:

* Being **respectful** of differing opinions, viewpoints, and experiences

However, as the recent debate regarding Cambridge University's freedom of speech policy demonstrates; respect cannot be mandated: [Cambridge University rejects proposal it be 'respectful' of all views](https://www.theguardian.com/world/2020/dec/09/cambridge-uni

[2020-12-29 06:27] TransphobePower opened #893 "Transgender maintainer should be removed from the project"
Coraline Ada is publicly calling transphobia, and therefore transphobic people, out as "offensive" on GitHub. His GitHub profile mentions that he is the creator of the Contributor Covenant. Is this what the other maintainers want to be reflected in the project? Will any transphobic developers feel comfortable contributing?

https://github.com/opal/opal/issues/941#issuecomment-113224545

[2021-01-05 08:39] Trungtranvan opened #894 "trangtay96"
nha.phuong172017@gmail.com

[2021-01-05 09:11] #894 closed

[2021-01-08 07:24] DvalCaruso commented on #294
smart lady👌🏼

[2021-01-08 07:26] DvalCaruso opened #897 "Where can I find the code of conduct here? I peeked in a couple of repos under this org and didn't see one."
Where can I find the code of conduct here? I peeked in a couple of repos under this org and didn't see one.

_Originally posted by @CoralineAda in https://github.com/ContributorCovenant/contributor_covenant/issues/861#issuecomment-717283607_

[2021-01-08 08:12] DvalCaruso commented on #897
there yah go @CoralineAda 👀

[2021-01-16 16:11] fkohrt opened #901 "Broken link in German 2.0 version"
The German 2.0 version currently links to

`https://www.contributor-covenant.org/de/version/2/0/code-of-conduct`

but correct is

`https://www.contributor-covenant.org/de/version/2/0/code_of_conduct/`

[2021-02-12 09:24] SpiritualBoss opened #908 "Thank you so much! The next step is to get one or two other native speakers to review the translation, so I'll put out a call on twitter. Your efforts are really appreciated!"
Thank you so much! The next step is to get one or two other native speakers to review the translation, so I'll put out a call on twitter. Your efforts are really appreciated!

_Originally posted by @CoralineAda in https://github.com/ContributorCovenant/contributor_covenant/issues/851#issuecomment-706727042_

[2021-02-12 09:25] SpiritualBoss opened #909 "ATTN:"
And Thank You For a New Lawsuit😂💁🏾‍♂️

[2021-02-12 21:34] emmairwin opened #910 "Consider breaking out the Enforcement Steps into a Separate Document"
Thanks for this great work!

I wonder if you would consider breaking out the Enforcement Guidelines into a separate document.  For a few reasons:

1) Being right in the document lends tone feels to be about consequence, vrs a tool for building inclusive communities.
2) The consequences feel inflexible, or not open variation because they are right in this as governance.  For example I have issued w

[2021-02-12 21:42] emmairwin commented on #787
Mozilla added caste last year for the reason it was not captured properly.  I don't think this list is exhaustive, but is high enough level to capture categories beneath it. Protected classes represent those who have been historically marginalized, and not nothing at all like choice of PC v Mac.

[2021-02-15 12:57] SpiritualBoss opened #913 "[](https://github.com/ContributorCovenant/contributor_covenant/blob/51eaab51e96f607d688d79066b811f27980d8498/content/version/1/4/code-of-conduct.fa-ir.md)"
[](https://github.com/ContributorCovenant/contributor_covenant/blob/51eaab51e96f607d688d79066b811f27980d8498/content/version/1/4/code-of-conduct.fa-ir.md)

__Originally posted by @SpiritualBoss in https://github.com/ContributorCovenant/contributor_covenant/pull/906#discussion_r576151506__

[2021-02-15 21:13] CoralineAda commented on #910
I like the idea a lot, but I'm not sure it could be effectively implemented on our side. What if we made this as a suggestion on the CC site itself under "Using Contributor Covenant"?

[2021-02-17 13:05] AlongRizaL opened #915 "ContributorCovenant.AlongRezal"

[2021-02-17 16:54] emmairwin commented on #910
I think that as a suggestion is a good idea, that way its both permission to do that, and a nudge to think about what specifics of the enforcement may or may not make sense in context of their community (like not interacting with others, and warning example I gave).

Thanks for responding!

[2021-02-17 17:11] CoralineAda commented on #910
@emmairwin Would you like to take a pass at updating the language on the home page?

[2021-02-18 05:56] Minhasshazu opened #917 "Done. :)"
Done. :)

I'm having trouble lining up reviewers for the translation— I'll try again today.

_Originally posted by @CoralineAda in https://github.com/ContributorCovenant/contributor_covenant/issues/851#issuecomment-707861494_

[2021-02-18 05:57] Minhasshazu commented on #917
#914

[2021-02-19 19:06] AlongRizaL opened #918 "All need authorizations from AlongRezal"

[2021-02-19 19:07] AlongRizaL opened #919 "GitHub.com"

[2021-02-19 19:51] AlongRizaL opened #920 "Lazer_Rezal"

[2021-02-21 21:19] CoralineAda commented on #910
@emmairwin When you have a chance, please take a look at the home page. I rewrote it this weekend and I think it addresses some long-standing confusion around adoption and enforcement. If you have more suggestions, please feel free to open another issue. And thank you so much!

[2021-02-22 18:07] emmairwin commented on #910
I like how you have organized that section now, and the prompt for people to understand the importance of that discussion about enforcement, and the tone they want to set.   Thank you!

The only other thing that may be good in future, it to describe how the expected behaviors make this document also a great tool for promoting healthy communities, leading by example etc.  If you agree of course.

[2021-02-22 18:24] CoralineAda commented on #910
I really like your suggestion. Is this something you'd be interested in collaborating on?

[2021-02-22 18:40] emmairwin commented on #910
for sure!  I'll propose something a bit later this week.

[2021-02-27 00:27] AevaOnline commented on #910
Chiming in because this is an important point - including the Enforcement Steps as part of the main CC 2.0 text has made it difficult for me to support adoption in orgs that I work with, and we tend to stay at 1.4 because of this.

I've observed that less-experienced leaders will tend to fall back to the text of the document, and in some cases feel as though they must abide by the text as-given. M

[2021-04-17 00:45] Budda0ne opened #940 "Transla"

[2021-04-18 15:07] anonymouslegend21 opened #941 "Regahawlery"

[2021-05-06 04:25] redmoster55 opened #950 "Love"
https://github.com/thedevdojo/wave/tree/thedevdojo:main

[2021-05-06 04:32] #950 closed

[2021-05-17 07:36] aHenryJard commented on #872
This issue can be close, as a french translation is on the main (release) branch.

[2021-05-29 06:40] lsmith77 opened #958 "reporting guidelines"
semi-related to the topic of [enforcement](https://github.com/EthicalSource/contributor_covenant/issues/910), I also wonder about the topic of reporting.

within the Symfony community we created [this reporting guide](https://symfony.com/doc/current/contributing/code_of_conduct/reporting_guidelines.html) which in turn was derived from those of the [Stumptown Syndicate](http://stumptownsyndicate.or

[2021-05-31 11:23] rudiservo commented on #795
good idea but I think it wont pass, it is not enforcing enough to people to accept they can't disagree, although I would love to be mistaken!

[2021-05-31 16:46] CoralineAda commented on #958
Totally agree that this is an area where we should provide guidance, and I've made an note of that for the CC 3.0 working group. Thanks so much Lukas.

[2021-06-09 19:31] AevaOnline commented on #958
I'd like to add another endorsement of refactoring the CC to include a process guideline, and a point of comparison.

Within the Kubernetes community, we recently published [our incident report handling process](https://www.kubernetes.dev/community/code-of-conduct-incident-process/)

[2021-06-10 15:53] CoralineAda commented on #958
@AevaOnline I like that a lot and will share it with the working group. Thanks!

[2021-06-23 12:30] Sangiraza25 opened #964 "Cc"
faf9d9f73eee19e1755ce7208d86ea1e965e4268

[2021-06-28 13:57] SebastianWolf-SAP opened #965 "Versioning/clarification after adding "caste, color""
A community member of one of our projects [informed us about the missing words 'caste, color'](https://github.com/corona-warn-app/cwa-app-ios/pull/3016) in our code of conduct which is derived from the Contributor Covenant 2.0. I did [a small investigation](https://github.com/corona-warn-app/cwa-app-ios/pull/3016#issuecomment-869679619) and it came out that these two words were added in February/M

[2021-07-01 01:00] CoralineAda commented on #965
Hey Sebastian, I'm taking a break this week but will be back to work through this soon. Thanks!

[2021-07-01 01:01] CoralineAda commented on #787
Hey everyone, I'm on a break this week but will be back next week to work this out. Thanks for your patience!

[2021-07-05 20:31] jr10jayde opened #966 "Thank you so much! The next step is to get one or two other native speakers to review the translation, so I'll put out a call on twitter. Your efforts are really appreciated!"
Thank you so much! The next step is to get one or two other native speakers to review the translation, so I'll put out a call on twitter. Your efforts are really appreciated!

_Originally posted by @CoralineAda in https://github.com/EthicalSource/contributor_covenant/issues/851#issuecomment-706727042_

[2021-07-05 20:31] #966 closed

[2021-07-23 20:37] Ein-Tim commented on #965
@CoralineAda

Hi, did you have time to look into this yet?

Thanks for the update!

[2021-07-27 20:38] CoralineAda commented on #965
https://github.com/EthicalSource/contributor_covenant/pull/976

/cc @Ein-Tim @SebastianWolf-SAP

[2021-07-28 09:38] SebastianWolf-SAP commented on #965
Good to have the version question now addressed. I still have some questions regarding the changes for v2.1, see my comments to the PR. The thing is that we simply need to see if the changes are that important to justify a roll-out of a new version to our projects or if v2.0 might be fine for now...

[2021-07-29 16:57] #965 closed, assigned to nobody

[2021-08-03 08:44] Maxusz666 commented on #940
Ok

[2021-08-28 09:32] Welly1997 opened #987 "What title of these movie?"
Remarks all Question if not accessibility??

[2021-09-12 12:17] maxhbr opened #990 "Make the files compatible to reuse specification"
For easier incorporation in open source projects, especially if they try to be reuse compliant, it would be great if the formats that support comments would contain license information.

The [reuse specification](https://reuse.software) recommends for that in markdown the following simple comment:
[code]

ping @mxmehl

[2021-09-27 03:09] endless61 opened #993 "難しい"
難しい

_Originally posted by @endless61 in https://github.com/EthicalSource/contributor_covenant/pull/851#pullrequestreview-763802365_

[2021-09-27 20:13] #993 closed

[2021-09-29 21:41] MasterGardener1 opened #995 "THE GUIDELINES {()}™%"

[2021-10-01 17:55] heitorPB commented on #684
Can't this be automated? It appears that Hugo automatically generates the asciidoc and txt from the Markdown file, it should be possible to also generate the rst. This would be very valuable for many projects.

[2021-10-01 22:36] CoralineAda commented on #684
According to this page (https://gohugo.io/content-management/formats/) hugo can render RST files, but it requires an external helper. I'll check into whether that's possible in our deploy pipeline.

[2021-10-01 22:54] CoralineAda commented on #684
From what I've read, I don't think it's possible with netlify. If someone wants to experiment, please open a PR and I can see if there's a way to make it work. Thanks!

[2021-10-02 17:37] heitorPB commented on #684
I thought the issue was about _generating_ the rst from the markdown file? In a similar way that Hugo generates the asciidoc file and creates a link to download it.

Is it necessary to _render_ the rst file in the end?

[2021-10-04 14:45] GeopJr opened #1000 "Extra space in a sentence"
Not sure if 2.1 can be edited after release, but at least for the next version:

An additional space was added in line ~110

Right before `harassment`.

(It's not visible on the issue preview, but it's [here (direct link to line)](https://github.com/EthicalSource/contributor_covenant/blob/2.1/CODE_OF_CONDUCT.md?plain=1#L109))

[2021-10-18 20:35] #1000 closed, assigned to nobody

[2021-10-21 18:01] grigzag opened #1005 "Fighting systemic biases and Covenant"
This is a continuation of [the previous discussion](https://github.com/EthicalSource/contributor_covenant/pull/963) (sorry for the late reply). First of all I’d like to thank @emmairwin and @schneems for their comments. They helped me realize that my approach wasn’t quite right. My goal was to find a way to end all forms of discrimination by targeting fundamental reasons of why discrimination occu

[2021-11-09 06:33] alomais opened #1008 "Hey"

[2021-11-09 06:34] alomais opened #1009 "Hey"
__Originally posted by @alomais in https://github.com/EthicalSource/contributor_covenant/issues/1008__

[2021-11-19 15:58] zanderkage opened #1015 "Hey there,"
Hey there,

I’m actually working on code for doing this now. I’ve got it detecting CC 1.4 (approximately 20k adoptions) and I’m working now on detecting older versions.

Exciting stuff!

—Coraline

_Originally posted by @CoralineAda in https://github.com/EthicalSource/contributor_covenant/issues/168#issuecomment-290937060_

[2021-11-19 17:42] #1015 closed

[2021-11-23 05:14] Aishah-FreeFire commented on #1009
Tq

[2021-11-24 16:24] SaschaMann commented on #476
Sorry to revive this seemingly stale discussion but I was pointed to this repo because [Exercism](https://exercism.org/)'s CoC is based on this code of conduct and that this should be changed "upstream" first.

---

About the FAQ addition mentioned above:

This feeds into the idea that different human races exist which has long been disproven. The FAQ should be updated to underline that any such g

[2021-11-24 16:46] Uzlopak commented on #476
@SaschaMann
Exactly. I would prefer something like article 14 ehrc where it says

[code]

Obviously it contains the word race and allows differing "opinions", which btw differing political opinions are not allowed by the convention.
Even chinese, who were second born children and were highly discriminated by the Chinese government were subsumed as a distinct group of social origin.

You could alwa

[2021-11-28 20:32] ghost opened #1023 "- name: OpenShift Client Installer"
- name: OpenShift Client Installer
  uses: redhat-actions/oc-installer

_Originally posted by @Vendetta26 in https://github.com/EthicalSource/contributor_covenant/issues/777#issuecomment-981146954_

[2021-12-04 13:54] haaami01 commented on #990
[https://www.contributor-covenant.org/version/1/4/code-of-conduct/code_of_conduct.txt](url)

[2021-12-05 05:00] derikgordon84 commented on #789
I just don't want to be FORCED into hazardous or unsafe ENVIRONMENTS that some developers abuse the control with using our own data against us by the illicit and unlawful use of industrial grade COMMERCIAL SOFTWARE and LEVERAGES ONES VALUE in our society by using this software and modern technology on the owner of the user account using software as weapon to FORCE REMOTE WORk in at home remote wor

[2021-12-05 05:00] derikgordon84 commented on #789
LoL

[2021-12-18 12:16] mphimla2 commented on #871
#1028

[2021-12-21 19:44] #1023 closed, assigned to nobody

[2021-12-24 05:53] jamesbanged commented on #640
Apple pay

[2022-01-03 21:34] Ikonwa commented on #789
From: VULTe <noreply@polarisbanklimited.com>
Sent: Thursday, 30 December 2021 7:27 PM
To: YesCenter <YesCenter@Polarisbanklimited.com>; DigitalBankTeam@Polarisbanklimited.com
Subject: Ticket Reference "1564326197" : Branch Poor Service

[2022-01-03 21:36] Ikonwa commented on #1005
From: VULTe <noreply@polarisbanklimited.com>
Sent: Thursday, 30 December 2021 7:27 PM
To: YesCenter <YesCenter@Polarisbanklimited.com>; DigitalBankTeam@Polarisbanklimited.com
Subject: Ticket Reference "1564326197" : Branch Poor Service

[2022-01-04 03:25] kurtseifried opened #1034 "Scope of contributor covenant, specifically lack of mention of private spaces"
The current version states:

I assume it was intentional to leave out private spaces in the

is there some discussion of the rationale for this (I searched a bit but couldn't find any), and if not I'd like to propose a discussion, private harassment is obviously a potential concern.

[2022-01-05 09:32] grigzag commented on #1005
I do have more ideas of how to make it more practical so that anyone can have a small set of tools to recognize and fight system biases. Unfortunately I'm way too busy atm so it'll take some time before I'll update this thread. Happy new year everyone!

[2022-01-07 08:48] DeXeM777 opened #1038 "Thanks"
Thanks to all those who have let their works be public and reusable.

[2022-01-08 15:06] 0933823465 commented on #1038
# 1038

[2022-01-10 11:43] joseso13 opened #1040 "Joseso13"

[2022-01-12 12:28] jdubois opened #1042 "Forbid selling NFTs of the project as part as the CoC"
## Thank you

First of all, thank you so much for creating this project. This has helped tremendously the https://github.com/jhipster community.

## What's happening with NFTs currently

There are several companies selling NFTs of Git commit hashes. For example https://gitnft.quine.sh - of course this doesn't benefit the project at all, and is done without anyone's consent or even knowledge on the

[2022-01-12 15:06] coderbyheart commented on #1042
I think it will be challenging to legally enforce that, because these NFT sh*theads are not redistributing the software (and thus creating a copy the falls under the copyright license), but are basically putting an identifying string composed of repo name and commit hash on the blockchain and sell the token that claims to own that identifier.

[2022-01-12 15:15] kiview commented on #1042
I think it is a very heavy bikeshedding topic and probably hard to formulate what actually needs to be forbidden. Also, most of those NFTs aren't even clear for themselves what owning them actually entails. I don't know in which way copyright extends on hashes or URLs.

Edit:
I just checked https://opensea.io/assets/matic/0xe7ea2e2be12c257d376400cb231d8ee51e972bd6/112378023207334916646627084922865

[2022-01-12 16:38] jdubois commented on #1042
- The copyright extends to the hash and URL, as the author also creates them. They are part of the project.
- Taking a picture of it doesn't change anything. It's the same thing if you take a picture of Mickey Mouse, Disney still owns the copyright of Mickey Mouse. That's the same reason why you can't copy a Disney film and sell it as your own.

[2022-01-12 16:52] jdubois commented on #1042
My comment above isn't good. We shouldn't talk about copyright or legal infringement here, that's not the point.
The point is to prevent some bad practices from a community perspective, which might or might not be legal.

[2022-01-12 17:06] kiview commented on #1042
I think if this is phrased in non-legal language, that's much better.

[2022-01-23 22:46] Theking88np4 opened #1043 "The king"

[2022-01-23 22:47] #1043 closed

[2022-01-23 22:50] bkstigler08 commented on #1043
Have no idea what this is and would appreciate it if you unsubscribed me
from all GitHub stuff

On Sun, Jan 23, 2022, 5:46 PM BED PRASAD GHIMIRE ***@***.***>
wrote:

[2022-01-26 23:30] DeXeM777 opened #1045 "Type in your language with Gboard"
I'm using Gboard to type in English (US) (QWERTY). You can try it at: https://gboard.app.goo.gl/RY2K

[2022-01-27 20:03] franciscode12 opened #1046 "Gracias"
Esta muy buena

[2022-01-30 13:54] Eomm commented on #783
It is fixed now

[2022-01-30 13:54] #783 closed, assigned to nobody

[2022-02-08 17:30] 69WileyCoyote69 commented on #636
Look would one of you very intelligent people call me 4632242951

[2022-02-10 09:00] Dramaqueen76 opened #1050 "> The German 2.0 version currently links to"
_Originally posted by @Dramaqueen76 in https://github.com/EthicalSource/contributor_covenant/issues/901#issuecomment-1034659858_

[2022-02-16 13:44] jchassery12 opened #1056 "🆘💵🌟📂📂"
- [ ] **[]()**

[2022-03-02 15:40] mbtools opened #1060 "Why is the list of adopters not being updated?"
There are a lot of PRs in the queue to add adopters to the list. What's the hold up?

[2022-03-27 09:33] Danialahwaz commented on #1060
#

[2022-03-27 09:34] Danialahwaz opened #1065 "#"
#

_Originally posted by @Danialahwaz in https://github.com/EthicalSource/contributor_covenant/issues/1060#issuecomment-1079891862_

[2022-03-27 17:46] mbtools commented on #1060
I did a review of all open PRs asking for updates. I check the URLs and presence of CODE_OF_CONDUCT.

The following can be approved (either v1.4 or v2.0 of CoC):

#606, #608, #638, #656, #670, #714, #722, #747, #748, #761, #762, #840, #852, #957, #961

The following are no good (suggest closing):

#630, #670, #722, #730, #753

The following ask for removal and should be approved:

#766

[2022-03-27 17:50] mbtools commented on #1060
If you like I can combine these requests into a new PR and add them in the correct sort order:

Backlight deb packages, https://github.com/gorlapraveen/blacklight-deb-packages
BioSigKit, https://github.com/hooman650/BioSigKit
brightness_bashshell_script, https://github.com/gorlapraveen/brightness_bashshell_script
Create Rome App, https://github.com/romeland/create-rome-app
Deviser Platform, https:

[2022-03-28 08:13] alessandropellegrini commented on #1060
#747 has been updated. The CoC file is in the docs subfolder, which is supported by GitHub.

[2022-03-28 08:23] mbtools commented on #1060
Thanks! I adjusted the list above

[2022-03-28 08:24] alessandropellegrini commented on #1060
Thanks a lot for the quick feedback!

[2022-03-30 20:15] #901 closed, assigned to nobody

[2022-03-30 20:31] CoralineAda commented on #1060
@mbtools We would welcome a consolidated PR-- thanks so much for your diligence here!

[2022-03-31 08:11] mbtools commented on #1060
Here you go 😃

[2022-04-04 11:10] Mankan777 opened #1071 "2244.ME"
https://github.com/Mankan777/manXontanxX777/issues/2

[2022-04-16 14:41] tfiers opened #1073 "Project maintainers vs Community leaders"
This wording changed from 1.x to 2.x.
The 2.0 changelog  entry mentions about it:

I was interested in reading more.
I've been searching this repo's gh, google, and the website for the disucssions about this change, but can't find any.
Can someone point me to those discussions? Cheers!

[2022-04-16 14:42] tfiers opened #1074 "Project maintainers vs Community leaders"
The wording "project maintainers" in 1.x changed to "community leaders" in 2.x.
The 2.0 changelog  entry mentions about it:

I was interested in reading more.
I've been searching this repo's gh, google, and the website for the disucssions about this change, but can't find any.
Can someone point me to those discussions? Cheers!

[2022-04-17 23:56] klaude commented on #1073
Howdy! I'm closing this issue as it duplicates #1074.

[2022-04-17 23:56] #1073 closed, assigned to nobody

[2022-04-18 07:52] tfiers commented on #1073
Apologies! Bad internet connection at time of posting 😅 which led to double post apparently

[2022-04-29 06:19] fahad2022an commented on #787
[https://github.com/EthicalSource/contributor_covenant/issues/787#issue-629303958]() #porn.sex

[2022-05-01 02:26] laurenliss opened #1083 "Can you help me understand how I can help?"
I am writing an interactive non-linear story using Github + Twitter + Medium as my "paper and pen," and it is also a riddle/game maybe(?) Anyway, that all sounds annoying and weird.

Here is the direct ask for help: I am teaching myself github as I write All That^, and I am trying to document my process of how I "learn to github" in the text input options available to me on a repo that currently j

[2022-05-18 07:17] Mshael9 opened #1093 "These are the notebooks that failed to update properly:"
These are the notebooks that failed to update properly:
, 2020-06-12-covid19-news.ipynb

 See run [2343502891](https://github.com/github/covid19-dashboard/actions/runs/2343502891) for more details.

__Originally posted by @github-actions in https://github.com/github/covid19-dashboard/issues/1266__

[2022-05-18 15:29] #1093 closed

[2022-06-19 12:01] Surachai-kent opened #1100 "Manager asuh"

[2022-06-21 20:12] fccm commented on #793
I agree that this is something that often occur in the open source community.

I even applied to a job to an open source company, and they officially requested me to become an active contributor to php-symphony with code accepted upstream to consider my candidacy for the job.

[2022-06-21 21:55] fccm opened #1102 "Privacy Violation?"
Hi,
Are privacy violations considered as inappropriate behaviors?

I don't see anything related to this in this document.

[2022-07-03 21:52] ksinkar opened #1103 "Universally render Modi Script with webfonts"
The font rendered properly in macOS for me, but I ran into this issue when checking out the new translation from a Windows 10 machine. It looks like we can package the font as a web font, so it may be possible to render the page for all users without having to manually download a font. We'd have to see if hugo can handle a remote font download and apply it for just this page. An alternative is to

[2022-07-03 21:52] ksinkar commented on #1103
@CoralineAda Could you please assign this issue to me?

[2022-07-06 21:11] TimidRobot opened #1105 "Language Tags"
##  1) Use IETF BCP 47 language tags instead of ISO 629-2 language codes

The documentation recommends ISO 629-2 language codes:

https://github.com/EthicalSource/contributor_covenant/blob/b6b84450510006e5386a3045d80142a329a76142/README.md?plain=1#L60-L61

However, I believe those are technically insufficient. Instead I recommend using a **IETF BCP 47 language tag**. Thankfully, it is based on ISO

[2022-08-15 19:03] juaveeees opened #1114 "Me robaron todo"

[2022-08-29 20:07] 1235467Ad opened #1116 "idk"
https://firstdonoharm.dev/

[2022-09-02 07:34] agen007niaga commented on #910
Ejen007niaga

[2022-09-09 05:47] dradetsky opened #1121 "Is there an official commentary/explanation of the CC's copy?"
Recently I submitted a minor fix to the abuse contacts in the CoC of a project. Ancillary to this, one of the maintainers took it upon himself to slightly rewrite the copy of the "Enforcement section." I advised him not to remove the phrase "responsible for enforcement" from the passage

since I believed that this phrase must have been included intentionally/advisedly[^why] (and thus he should onl

[2022-09-09 06:03] dradetsky commented on #1042
I very much disagree with the inclusion of this as part of the CC, as I think it is out of scope. Perhaps it would make more sense within the context of https://github.com/EthicalSource/hippocratic-license-3, although I haven't really thought that through.

I'm not totally sure whether GitNFT and others are working with projects (who may or may have a relevant CoC), or just stamping random git met

[2022-09-11 17:11] Aspie96 commented on #257
(Yes I know this is old).

Coraline Ada also uses the word "sacred" for her own personal subjective opinions, so it is not surprising: http://blog.archive.org/2021/09/03/the-sacred-geometry-of-respect-trust-and-equity/

Signing a political document which also doubles as a pledge in order to join a community is quite cult-like. I don't see any issue with the wording.

[2022-09-15 23:46] fccm commented on #1102
Indeed the intimidations and harassments that started after the first time I complain about the privacy violation continue, until today.

One day that I was busy finding some book, one of them passed behind me and just said: "shut up"!

A psychologist told me that these kind of gossiping people watch and comment other people's problems, because they don't want to see and resolve their own problems

[2022-09-17 01:02] fccm commented on #1102
In the end I don't think this `code of conduct` gives good advices.

This `code of conduct` lists inappropriate behaviours, and makes us think that if we talk about it, we will be able to resolve the problem.

This made me think that I could safely complain about all the derogatory comments about my private life that happened in the local LUG.

In the end, it only made the problem grow.

A psychol

[2022-09-19 00:26] #1102 closed, assigned to nobody

[2022-09-25 16:56] leontidima69 opened #1131 "All"

[2022-10-02 04:47] JoshuaKGoldberg commented on #339
Bumping this old thread because I found it googling for almost the exact title 😄 - would you accept a PR that adds a badge to the README.md of this repo?

Markdown version:
[![Code of Conduct: Contributor Covenant](https://img.shields.io/badge/code_of_conduct-contributor_covenant-14cc21)](https://github.com/EthicalSource/contributor_covenant)

[code]

HTML version: <a href="https://github.com/Ethi

[2022-10-03 18:26] CoralineAda commented on #339
@JoshuaKGoldberg Yes please! Feel free to open a PR, and let me know if you need any help.

[2022-10-03 21:57] Azizkhan1122 commented on #339
Ugff

[2022-10-04 12:11] ksinkar commented on #1103
@klaude @CoralineAda I have raised a PR for resolving this issue. Please have a look.

[2022-10-10 18:57] #339 closed

[2022-10-12 11:09] wooorm opened #1137 "`mozilla/diversity` -> `mozilla/inclusion`"
The repo `https://github.com/mozilla/diversity` now redirects to `https://github.com/mozilla/inclusion`. Luckily it’s not a broken link, but it’s probably still good to update it.

I am open to doing the work, but I’m not sure if:
* I can touch 2.0 / 2.1 files?
* I should touch translations?

Also: can someone who remembers what `mozilla/diversity` contained, verify that the new URL is the same re

[2022-10-14 20:44] thibgc commented on #684
Is it necessary that the reStructuredText version be generated automatically, or is it just nicer if it is? I'm happy to do a PR that marks up the 2.1 version into reStructuredText, it won't take long.

[2022-10-14 21:08] Arezoomohammadalizadeh commented on #684
🙏

دریافت Outlook برای iOS<https://aka.ms/o0ukef>
________________________________
فرستنده: Thib Guicherd-Callin ***@***.***>
‏‏ارسال شده: Saturday, October 15, 2022 12:15:11 AM
گیرنده: EthicalSource/contributor_covenant ***@***.***>
گیرنده کپی: Subscribed ***@***.***>
‏‏موضوع: Re: [EthicalSource/contributor_covenant] reStructuredText version (#684)

Is it necessary that the reStructuredText versi

[2022-10-14 21:10] Arezoomohammadalizadeh commented on #684
Hello and thank you, please do any program or option and step you need

[2022-10-21 22:10] tookon725 commented on #1137
@indirect

[2022-11-06 11:26] rakira2309 opened #1142 "### Creative Commons Attribution 4.0 International Public License"

[2022-11-10 14:34] elsandosgrande commented on #732
Three years and no reaction to the mention. What would be the best course of action?

[2022-11-11 19:57] Sergo315 opened #1144 "Х"

[2022-11-14 00:15] euberdeveloper opened #1145 "Dark theme"
It could be beautiful supporting a dark theme for the website, toggable with a button

[2022-11-14 00:36] euberdeveloper opened #1146 "Missing italian translation for 2.1"
For what I have seen, there is just one difference (apart from format) between 2.0 and 2.1, which consist in adding "cast and color" in the discrimination paragraph.

I can add a pull request that updates this in Italian.

[2022-11-27 14:31] #1060 closed, assigned to nobody